Repository SpikeInterface/spikeinterface, pull requests merged in 2023-05, with the labels that each got.

#1589 Match IBL highpass spatial filtering more closely
  doc/modules/preprocessing.rst
  pyproject.toml
  src/spikeinterface/preprocessing/highpass_spatial_filter.py
Labels: enhancement, preprocessing

#1599 Force_dense mode for waveforms and templates
  src/spikeinterface/core/tests/test_waveform_extractor.py
  src/spikeinterface/core/waveform_extractor.py
Labels: enhancement, core

#1604 Add pairs with decreased score to auto_merge output
  src/spikeinterface/curation/auto_merge.py
Labels: curation

#1543 Allow to set the recording of `WaveformExtractor`
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/tests/test_waveform_extractor.py
  src/spikeinterface/core/waveform_extractor.py
Labels: core

#1598 Update Docstrings I (Widgets Module)
  src/spikeinterface/widgets/all_amplitudes_distributions.py
  src/spikeinterface/widgets/amplitudes.py
  src/spikeinterface/widgets/base.py
  src/spikeinterface/widgets/crosscorrelograms.py
  src/spikeinterface/widgets/metrics.py
  src/spikeinterface/widgets/quality_metrics.py
  src/spikeinterface/widgets/sorting_summary.py
  src/spikeinterface/widgets/spike_locations.py
  src/spikeinterface/widgets/spikes_on_traces.py
  src/spikeinterface/widgets/template_metrics.py
  src/spikeinterface/widgets/template_similarity.py
  src/spikeinterface/widgets/timeseries.py
  src/spikeinterface/widgets/unit_depths.py
  src/spikeinterface/widgets/unit_locations.py
  src/spikeinterface/widgets/unit_summary.py
  src/spikeinterface/widgets/unit_waveforms.py
  src/spikeinterface/widgets/unit_waveforms_density_map.py
  src/spikeinterface/widgets/utils.py
Labels: documentation

#1590 Remove unecessary ensure_n_jobs
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/job_tools.py
  src/spikeinterface/core/waveform_tools.py
  src/spikeinterface/postprocessing/principal_component.py
Labels: core, refactor

#1550 Update mearec recording and sorting to read only required data
  src/spikeinterface/core/baserecordingsnippets.py
  src/spikeinterface/extractors/neoextractors/mearec.py
Labels: extractors

#1608 Skip streaming test of IBL when server is down.
  src/spikeinterface/extractors/tests/test_iblstreamingrecording.py
Labels: extractors, testing, continuous integration

#1615 Fixed typo in WaveformExtractor
  src/spikeinterface/core/waveform_extractor.py
Labels: documentation

#1613 Fix dtype bug in Windows for `spost.compute_refrac_period_violations`
  src/spikeinterface/qualitymetrics/misc_metrics.py
Labels: bug, qualitymetrics

#1611 Template matching bug
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/extractors/neoextractors/mearec.py
  src/spikeinterface/extractors/neoextractors/neobaseextractor.py
  src/spikeinterface/extractors/neoextractors/plexon.py
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/sortingcomponents/tests/test_template_matching.py
  src/spikeinterface/widgets/tests/test_widgets.py
Labels: bug, sortingcomponents, core, extractors

#1563 Add iterative peak detection
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/tests/test_peak_detection.py
Labels: enhancement, sortingcomponents

#1606 Fix generator recording
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/tests/test_generate.py
  src/spikeinterface/preprocessing/tests/test_detect_bad_channels.py
Labels: bug, core

#1632 Add pre-commit-config file
  .pre-commit-config.yaml
Labels: packaging

#1587 Adding percentile as an option for grid localization
  src/spikeinterface/postprocessing/unit_localization.py
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/tools.py
Labels: enhancement, sortingcomponents, postprocessing

#1645 Add post merge black action and black documentation
  .github/workflows/pre-commit-post-merge.yml
  doc/development/development.rst
Labels: documentation, continuous integration

#1635 Enable filtering warnings for distutils and imp
  .github/workflows/pre-commit-post-merge.yml
  src/spikeinterface/__init__.py
Labels: packaging

#1607 rec_attributes None in Wvf extractor `set_recording`
  src/spikeinterface/__init__.py
  src/spikeinterface/core/waveform_extractor.py
Labels: core

#1664 Typo in `NumpyExtractor.from_dict` doc
  src/spikeinterface/core/numpyextractors.py
Labels: documentation

#1654 Remove unecessary pre-commit action
  .github/workflows/pre-commit-post-merge.yml
Labels: continuous integration

#1656 Adding ptp sparsity
  src/spikeinterface/core/sparsity.py
Labels: enhancement, core

#1658 Allow `new_unit_id` to be same id in `CurationSorting.merge`
  src/spikeinterface/curation/curationsorting.py
  src/spikeinterface/curation/tests/test_curationsorting.py
Labels: enhancement, curation

#1660 Added some typing in `WaveformExtractor`
  src/spikeinterface/core/waveform_extractor.py
Labels: enhancement, packaging

#1657 Use censored_period when merging units in `scur.merge_units`
  src/spikeinterface/curation/auto_merge.py
Labels: curation

#1612 Simplify `define_function_from_class`
  src/spikeinterface/core/core_tools.py
Labels: core

#1620 Refactor clustering tests
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/clustering/position_and_features.py
  src/spikeinterface/sortingcomponents/clustering/position_and_pca.py
  src/spikeinterface/sortingcomponents/clustering/position_ptp_scaled.py
  src/spikeinterface/sortingcomponents/tests/test_clustering.py
Labels: sortingcomponents, testing

#1668 Refactor `write_binary_recording` tests
  src/spikeinterface/core/tests/test_core_tools.py
Labels: core, testing

#1671 Fixed crash when loading `MergeUnitsSorting`
  doc/modules/core.rst
  src/spikeinterface/curation/mergeunitssorting.py
Labels: curation

#1675 Make NWB imports lazy
  src/spikeinterface/extractors/iblstreamingrecording.py
  src/spikeinterface/extractors/matlabhelpers.py
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tridesclousextractors.py
Labels: packaging

#1677 Install python-neo and probeinterface from main in docs
  environment_rtd.yml
  src/spikeinterface/widgets/_legacy_mpl_widgets/presence.py
Labels: documentation

#1673 More LFP-oriented preprocessing tools
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/tests/test_baserecording.py
  src/spikeinterface/preprocessing/astype.py
  src/spikeinterface/preprocessing/detect_bad_channels.py
  src/spikeinterface/preprocessing/directional_derivative.py
  src/spikeinterface/preprocessing/filter.py
  src/spikeinterface/preprocessing/preprocessinglist.py
  src/spikeinterface/preprocessing/tests/test_filter.py
Labels: preprocessing

#1503 Add amplitude_scaling implementation
  src/spikeinterface/postprocessing/__init__.py
  src/spikeinterface/postprocessing/amplitude_scalings.py
  src/spikeinterface/postprocessing/spike_amplitudes.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/postprocessing/tests/test_amplitude_scalings.py
Labels: enhancement, postprocessing

#1674 Fix pickle loading
  src/spikeinterface/core/base.py
Labels: core
