Repository SpikeInterface/spikeinterface, pull requests merged in 2023-12, with the labels that each got.

#2275 Add nwb sorting rem file support
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwb_s3_extractor.py
Labels: extractors

#2285 Avoid loading `channel_name` property in NwbRecording`
  src/spikeinterface/extractors/nwbextractors.py
Labels: extractors

#2277 Strict inegality for sparsity with radius_um
  src/spikeinterface/core/node_pipeline.py
  src/spikeinterface/postprocessing/unit_localization.py
  src/spikeinterface/preprocessing/whiten.py
  src/spikeinterface/sortingcomponents/clustering/merge.py
  src/spikeinterface/sortingcomponents/features_from_peaks.py
  src/spikeinterface/sortingcomponents/peak_detection.py
Labels: sortingcomponents

#2286 Prevent users from providing a time_range after the ending of the segment in `plot_traces`
  src/spikeinterface/widgets/traces.py
Labels: widgets

#2279 Improve the BaseExtractor.to_dict() relative_to machanism to make it safer on windows.
  src/spikeinterface/core/base.py
  src/spikeinterface/core/binaryfolder.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/npyfoldersnippets.py
  src/spikeinterface/core/sortingfolder.py
  src/spikeinterface/core/tests/test_core_tools.py
Labels: enhancement, core

#2290 Fix histogram time smoothing samekind error
  src/spikeinterface/sortingcomponents/motion_estimation.py
Labels: motion correction

#2294 Refactor NWB extractor to separate reading hdf5 file from reading nwb
  src/spikeinterface/extractors/nwbextractors.py
Labels: extractors, refactor

#2292 Close ShellScript process at deletion
  src/spikeinterface/sorters/basesorter.py
  src/spikeinterface/sorters/utils/shellscript.py
Labels: sorters

#2315 NumpySorting.from_peaks make unit_ids mandatory.
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/sortingcomponents/waveforms/temporal_pca.py
Labels: core

#2301 improve `ids_to_indices` docstring
  src/spikeinterface/core/base.py
Labels: documentation

#2240 Remove `run_sorters` for version 0.100.0
  src/spikeinterface/sorters/__init__.py
  src/spikeinterface/sorters/launcher.py
  src/spikeinterface/sorters/tests/test_launcher.py
Labels: deprecations

#2297 Add `.stream.cbin` compatibility to `CompressedBinaryIblExtractor`
  src/spikeinterface/extractors/cbin_ibl.py
Labels: extractors

#2260 Eliminate unecessary copies with astype.
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/curation/curation_tools.py
  src/spikeinterface/extractors/alfsortingextractor.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/widgets/traces.py
Labels: refactor, performance

#2329 Add an auto adjustment if `n_jobs` too high on Windows
  src/spikeinterface/core/job_tools.py
Labels: core

#2313 Refactor NWBSortingSegment
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors_streaming.py
Labels: extractors, testing

#2298 Add hdf5 backend support for`NwbRecordingExtractor`
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors.py
Labels: extractors

#2318 Sorting summary updates in sortingview
  src/spikeinterface/widgets/crosscorrelograms.py
  src/spikeinterface/widgets/sorting_summary.py
  src/spikeinterface/widgets/tests/test_widgets.py
  src/spikeinterface/widgets/unit_waveforms.py
Labels: widgets

#2334 Fix add_shift_shuffle section in synthesize_random_firings
  src/spikeinterface/core/generate.py
Labels: bug, generators

#2338 Close stdout and stderr in ShellScript upon deletion
  src/spikeinterface/sorters/utils/shellscript.py
Labels: enhancement, sorters

#2333 Add t start to nwb sorting extractor
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors_streaming.py
Labels: extractors

#2341 Add hdf5 backend support for `NwbSortingExtractor` II
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors.py
Labels: extractors

#2348 Fix RTD warnings
  doc/api.rst
  doc/conf.py
  doc/modules/qualitymetrics/sd_ratio.rst
Labels: documentation

#2357 Correct warning format in neo base extractors
  src/spikeinterface/extractors/neoextractors/neobaseextractor.py
Labels: documentation

#2305 Add a new empty module for generation of datasets.
  .github/workflows/full-test.yml
  conftest.py
  doc/api.rst
  doc/modules/generation.rst
  doc/modules/index.rst
  src/spikeinterface/full.py
  src/spikeinterface/generation/__init__.py
Labels: hybrid

#2323 Multi-channel template metrics fix
  src/spikeinterface/postprocessing/template_metrics.py
Labels: postprocessing

#2360 Remove invalid character in environment
  .github/workflows/full-test.yml
  doc/modules/generation.rst
Labels: packaging

#2358 Expose `lam` and `momentum` in the appropriate kilosorts
  src/spikeinterface/sorters/external/kilosort2.py
  src/spikeinterface/sorters/external/kilosort2_5.py
  src/spikeinterface/sorters/external/kilosort3.py
Labels: sorters

#2355 Remove deprecated direct function to run_sroter : run_hdsort/run_klus…
  src/spikeinterface/sorters/external/tests/test_pykilosort.py
  src/spikeinterface/sorters/external/tests/test_tridesclous.py
  src/spikeinterface/sorters/runsorter.py
Labels: sorters

#2254 Implement save_to_zarr for BaseSorting
  pyproject.toml
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/base.py
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/core/sortingfolder.py
  src/spikeinterface/core/testing.py
  src/spikeinterface/core/tests/test_basesorting.py
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/core/zarrextractors.py
  src/spikeinterface/core/zarrrecordingextractor.py
  src/spikeinterface/extractors/extractorlist.py
  src/spikeinterface/generation/tests/test_mock.py
Labels: enhancement, core

#2340 Add `from __future__ import annotations` to core files
  src/spikeinterface/core/baseevent.py
  src/spikeinterface/core/binaryfolder.py
  src/spikeinterface/core/binaryrecordingextractor.py
  src/spikeinterface/core/channelsaggregationrecording.py
  src/spikeinterface/core/channelslice.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/frameslicerecording.py
  src/spikeinterface/core/frameslicesorting.py
  src/spikeinterface/core/job_tools.py
  src/spikeinterface/core/node_pipeline.py
  src/spikeinterface/core/npyfoldersnippets.py
  src/spikeinterface/core/npysnippetsextractor.py
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/segmentutils.py
  src/spikeinterface/core/snippets_tools.py
  src/spikeinterface/core/sortingfolder.py
  src/spikeinterface/core/unitsaggregationsorting.py
  src/spikeinterface/core/unitsselectionsorting.py
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/core/waveform_tools.py
Labels: core

#1999 Creation of a `TransformSorting` object to track modifications and bencharmk
  src/spikeinterface/comparison/__init__.py
  src/spikeinterface/comparison/hybrid.py
  src/spikeinterface/comparison/tests/test_hybrid.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/tests/test_generate.py
Labels: core, hybrid

#2317 Add probe field in class Templates
  src/spikeinterface/core/template.py
  src/spikeinterface/core/tests/test_template_class.py
Labels: hybrid

#2364 Add `rename_channels` method to recording extractors
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/tests/test_baserecording.py
Labels: core
