Repository SpikeInterface/spikeinterface, pull requests merged in 2023-10, with the labels that each got.

#2037 Fix: Correct unit ID matching in sortingview curation
  .gitignore
  src/spikeinterface/curation/sortingview_curation.py
  src/spikeinterface/curation/tests/sv-sorting-curation-false-positive.json
  src/spikeinterface/curation/tests/sv-sorting-curation-int.json
  src/spikeinterface/curation/tests/sv-sorting-curation-str.json
  src/spikeinterface/curation/tests/test_sortingview_curation.py
Labels: curation

#2058 Sc2 fix
  src/spikeinterface/comparison/groundtruthstudy.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/matching/circus.py
Labels: bug, sortingcomponents

#2057 Add Keywords to the Documentation Functions
  doc/how_to/load_matlab_data.rst
  doc/modules/curation.rst
  doc/modules/exporters.rst
  doc/modules/extractors.rst
  doc/modules/motion_correction.rst
  doc/modules/postprocessing.rst
  doc/modules/preprocessing.rst
  doc/modules/qualitymetrics.rst
  doc/modules/qualitymetrics/amplitude_cv.rst
  doc/modules/qualitymetrics/amplitude_median.rst
  doc/modules/qualitymetrics/d_prime.rst
  doc/modules/qualitymetrics/drift.rst
  doc/modules/qualitymetrics/firing_range.rst
  doc/modules/qualitymetrics/firing_rate.rst
  doc/modules/qualitymetrics/isolation_distance.rst
  doc/modules/qualitymetrics/l_ratio.rst
  doc/modules/qualitymetrics/presence_ratio.rst
  doc/modules/qualitymetrics/silhouette_score.rst
  doc/modules/qualitymetrics/sliding_rp_violations.rst
  doc/modules/qualitymetrics/snr.rst
  doc/modules/qualitymetrics/synchrony.rst
  doc/modules/sorters.rst
  doc/modules/sortingcomponents.rst
  doc/modules/widgets.rst
Labels: documentation

#2060 Add link to latest pypi version docs in readme
  README.md
Labels: documentation

#2071 Change some default parameters for better user experience
  src/spikeinterface/core/sparsity.py
  src/spikeinterface/core/tests/test_waveform_extractor.py
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/exporters/tests/test_export_to_phy.py
  src/spikeinterface/exporters/to_phy.py
  src/spikeinterface/postprocessing/correlograms.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/postprocessing/unit_localization.py
  src/spikeinterface/sorters/runsorter.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/collisioncomp.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/tests/test_widgets_legacy.py
  src/spikeinterface/widgets/tests/test_widgets.py
Labels: enhancement

#2061 Check that main_ids are str or int
  src/spikeinterface/core/base.py
  src/spikeinterface/core/baserecordingsnippets.py
  src/spikeinterface/core/basesnippets.py
  src/spikeinterface/core/npysnippetsextractor.py
  src/spikeinterface/extractors/cellexplorersortingextractor.py
Labels: core

#2079 Fix plot_traces with ipywidgets
  src/spikeinterface/widgets/traces.py
  src/spikeinterface/widgets/utils_ipywidgets.py
Labels: widgets

#2076 tridesclous2
  src/spikeinterface/sorters/internal/tridesclous2.py
Labels: sortingcomponents, sorters

#2091 fix plot_spike_on_trace
  src/spikeinterface/widgets/spikes_on_traces.py
Labels: widgets

#2093 Forgot extra params
  src/spikeinterface/comparison/groundtruthstudy.py
Labels: comparison

#2087 tridesclous2 update
  src/spikeinterface/sorters/internal/tridesclous2.py
  src/spikeinterface/sortingcomponents/clustering/merge.py
Labels: sorters

#2100 Fix for `module_gallery` with new sparsity default
  examples/modules_gallery/core/plot_4_waveform_extractor.py
  examples/modules_gallery/qualitymetrics/plot_3_quality_mertics.py
Labels: documentation

#1993 Extend and refactor waveform metrics
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/postprocessing/__init__.py
  src/spikeinterface/postprocessing/template_metrics.py
  src/spikeinterface/postprocessing/tests/test_template_metrics.py
Labels: enhancement, postprocessing

#2088 Add SPIKEINTERFACE_DEV_PATH to aws gpu tests
  .github/workflows/test_containers_singularity_gpu.yml
Labels: continuous integration

#2102 Fix grouping of OpenEphys NPIX
  examples/modules_gallery/qualitymetrics/plot_4_curation.py
  src/spikeinterface/extractors/neoextractors/openephys.py
Labels: extractors

#2103 Fix the `curation` tutorial
  examples/modules_gallery/qualitymetrics/plot_4_curation.py
Labels: documentation

#2104 Fix slicing in merge.py and so tridesclous2 and so test_launcher.py
  src/spikeinterface/sorters/tests/test_launcher.py
  src/spikeinterface/sortingcomponents/clustering/merge.py
Labels: bug, sorters

#2106 Handle case when mp_context is None
  src/spikeinterface/sortingcomponents/clustering/split.py
Labels: bug, core

#2109 Improve assert messaging (exporters, curation, part of sorters)
  src/spikeinterface/curation/curation_tools.py
  src/spikeinterface/curation/curationsorting.py
  src/spikeinterface/curation/remove_redundant.py
  src/spikeinterface/curation/splitunitsorting.py
  src/spikeinterface/exporters/to_phy.py
  src/spikeinterface/sorters/basesorter.py
  src/spikeinterface/sorters/launcher.py
  src/spikeinterface/sorters/sorterlist.py
Labels: documentation, enhancement

#1908 Change the signature on kilosort's delete intermediate files parameters.
  src/spikeinterface/sorters/external/kilosort.py
  src/spikeinterface/sorters/external/kilosort2.py
  src/spikeinterface/sorters/external/kilosort2_5.py
  src/spikeinterface/sorters/external/kilosort3.py
  src/spikeinterface/sorters/external/kilosortbase.py
Labels: enhancement, sorters

#2110 Fix full tests on codecov
  src/spikeinterface/sortingcomponents/clustering/merge.py
  src/spikeinterface/sortingcomponents/clustering/split.py
  src/spikeinterface/widgets/metrics.py
  src/spikeinterface/widgets/tests/test_widgets.py
Labels: bug, continuous integration

#2111 Fixes typing error in waveforms
  src/spikeinterface/extractors/neoextractors/neuroscope.py
  src/spikeinterface/postprocessing/template_metrics.py
Labels: extractors

#2116 Remove debug plots from template metrics
  src/spikeinterface/postprocessing/template_metrics.py
Labels: postprocessing

#2112 Add actual test for `check_your_install`
  .github/workflows/installation-tips-test.yml
  installation_tips/check_your_install.py
Labels: installation, continuous integration

#2119 Improve assert messaging (sortingcomponents)
  src/spikeinterface/sortingcomponents/benchmark/benchmark_clustering.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/position_and_features.py
  src/spikeinterface/sortingcomponents/features_from_peaks.py
  src/spikeinterface/sortingcomponents/matching/main.py
  src/spikeinterface/sortingcomponents/matching/naive.py
  src/spikeinterface/sortingcomponents/matching/tdc.py
  src/spikeinterface/sortingcomponents/motion_estimation.py
  src/spikeinterface/sortingcomponents/peak_selection.py
  src/spikeinterface/sortingcomponents/waveforms/waveform_thresholder.py
Labels: documentation, enhancement

#1804 Deepinterpolation revived: training, transfer, and inference with more flexibility
  .github/workflows/deepinterpolation.yml
  .github/workflows/full-test.yml
  src/spikeinterface/preprocessing/deepinterpolation/__init__.py
  src/spikeinterface/preprocessing/deepinterpolation/deepinterpolation.py
  src/spikeinterface/preprocessing/deepinterpolation/generators.py
  src/spikeinterface/preprocessing/deepinterpolation/tests/test_deepinterpolation.py
  src/spikeinterface/preprocessing/deepinterpolation/tf_utils.py
  src/spikeinterface/preprocessing/deepinterpolation/train.py
  src/spikeinterface/preprocessing/preprocessinglist.py
Labels: preprocessing

#2121 Use default cutouts for peak-sign test
  src/spikeinterface/core/tests/test_template_tools.py
  src/spikeinterface/core/tests/test_waveform_extractor.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
Labels: testing

#2115 More widgets cleaning
  examples/modules_gallery/widgets/plot_2_sort_gallery.py
  examples/modules_gallery/widgets/plot_4_peaks_gallery.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_matching.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_interpolation.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/__init__.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/collisioncomp.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/correlogramcomp.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/gtcomparison.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/presence.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/sortingperformance.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/tests/test_widgets_legacy.py
  src/spikeinterface/widgets/collision.py
  src/spikeinterface/widgets/peak_activity.py
  src/spikeinterface/widgets/tests/test_widgets.py
  src/spikeinterface/widgets/unit_presence.py
  src/spikeinterface/widgets/utils_matplotlib.py
  src/spikeinterface/widgets/widget_list.py
Labels: widgets

#2098 Improve generate.py with spatial on generate_template()
  src/spikeinterface/core/generate.py
Labels: core

#2124 Widgets final cleaning: move multicomparison widgets
  examples/how_to/get_started.py
  src/spikeinterface/comparison/tests/test_multisortingcomparison.py
  src/spikeinterface/widgets/__init__.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/__init__.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/basewidget.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/tests/test_legacy_widgets_utils.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/tests/test_widgets_legacy.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/utils.py
  src/spikeinterface/widgets/multicomparison.py
  src/spikeinterface/widgets/tests/test_widgets.py
  src/spikeinterface/widgets/widget_list.py
Labels: widgets

#2108 Use versioned kilosort options as default in `skip_preprocessed_data`.
  src/spikeinterface/sorters/external/kilosort2_5_master.m
  src/spikeinterface/sorters/external/kilosort2_master.m
  src/spikeinterface/sorters/external/kilosort3_master.m
Labels: sorters

#2130 Fix peak activity example & bugs in `peak_activity`
  examples/modules_gallery/widgets/plot_4_peaks_gallery.py
  src/spikeinterface/widgets/peak_activity.py
Labels: bug, documentation, widgets

#2070 Adjust eps for whitening in case of very small magnitude data
  src/spikeinterface/preprocessing/tests/test_whiten.py
  src/spikeinterface/preprocessing/whiten.py
Labels: preprocessing

#1950 Spike location with true channel
  src/spikeinterface/core/node_pipeline.py
  src/spikeinterface/core/tests/test_node_pipeline.py
  src/spikeinterface/postprocessing/spike_locations.py
  src/spikeinterface/postprocessing/tests/test_spike_locations.py
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/tools.py
Labels: postprocessing

#2128 Some improvement in Study and related widgets
  src/spikeinterface/comparison/groundtruthstudy.py
  src/spikeinterface/sortingcomponents/clustering/merge.py
  src/spikeinterface/widgets/agreement_matrix.py
  src/spikeinterface/widgets/comparison.py
  src/spikeinterface/widgets/gtstudy.py
  src/spikeinterface/widgets/widget_list.py
Labels: widgets, comparison

#2133 Add sparsity_temp_folder option to extract_waveforms
  src/spikeinterface/core/tests/test_waveform_extractor.py
  src/spikeinterface/core/waveform_extractor.py
Labels: enhancement, core

#2135 Add quality_metrics specific module requirements to `pyproject.toml`
  pyproject.toml
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/qualitymetrics/utils.py
Labels: dependencies, qualitymetrics

#1979 Fix `zero_channel_pad` case when selected frames are outside of original data region
  src/spikeinterface/preprocessing/tests/test_zero_padding.py
  src/spikeinterface/preprocessing/zero_channel_pad.py
Labels: preprocessing

#2139 Fix padded traces testing
  src/spikeinterface/preprocessing/tests/test_zero_padding.py
  src/spikeinterface/preprocessing/zero_channel_pad.py
Labels: testing

#2136 Fix open ephys probe loading and unify probeinterface import syntax
  src/spikeinterface/core/tests/test_channelslicerecording.py
  src/spikeinterface/extractors/bids.py
  src/spikeinterface/extractors/cbin_ibl.py
  src/spikeinterface/extractors/iblstreamingrecording.py
  src/spikeinterface/extractors/neoextractors/biocam.py
  src/spikeinterface/extractors/neoextractors/maxwell.py
  src/spikeinterface/extractors/neoextractors/mearec.py
  src/spikeinterface/extractors/neoextractors/openephys.py
  src/spikeinterface/extractors/neoextractors/spikeglx.py
  src/spikeinterface/extractors/shybridextractors.py
  src/spikeinterface/extractors/tests/test_neoextractors.py
  src/spikeinterface/preprocessing/deepinterpolation/tests/test_deepinterpolation.py
Labels: bug, extractors

#2145 Remove postprocessing `template_tools`
  src/spikeinterface/postprocessing/__init__.py
  src/spikeinterface/postprocessing/template_tools.py
  src/spikeinterface/sortingcomponents/matching/naive.py
Labels: deprecations

#2141 Add relative_to to dump_to_pickle
  src/spikeinterface/core/base.py
  src/spikeinterface/core/tests/test_baserecording.py
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/sorters/basesorter.py
Labels: core

#2114 Optimize `make_match_count_matrix`
  src/spikeinterface/comparison/comparisontools.py
  src/spikeinterface/comparison/tests/test_comparisontools.py
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
Labels: comparison
