Repository SpikeInterface/spikeinterface, pull requests merged in 2023-09, with the labels that each got.

#1948 Refactor generate.py
  src/spikeinterface/comparison/hybrid.py
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/injecttemplates.py
  src/spikeinterface/core/tests/test_core_tools.py
  src/spikeinterface/core/tests/test_generate.py
  src/spikeinterface/core/tests/test_injecttemplates.py
  src/spikeinterface/core/tests/test_sorting_folder.py
  src/spikeinterface/curation/tests/test_auto_merge.py
  src/spikeinterface/curation/tests/test_remove_redundant.py
  src/spikeinterface/extractors/toy_example.py
  src/spikeinterface/preprocessing/tests/test_resample.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
Labels: enhancement, core, extractors, refactor, testing

#1941 move peak_pipeline into core and rename it as node_pipeline.
  src/spikeinterface/core/node_pipeline.py
  src/spikeinterface/core/tests/test_node_pipeline.py
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/sortingcomponents/features_from_peaks.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/peak_pipeline.py
  src/spikeinterface/sortingcomponents/tests/test_motion_estimation.py
  src/spikeinterface/sortingcomponents/tests/test_peak_detection.py
  src/spikeinterface/sortingcomponents/tests/test_waveforms/test_neural_network_denoiser.py
  src/spikeinterface/sortingcomponents/tests/test_waveforms/test_savgol_denoiser.py
  src/spikeinterface/sortingcomponents/tests/test_waveforms/test_temporal_pca.py
  src/spikeinterface/sortingcomponents/tests/test_waveforms/test_waveform_thresholder.py
  src/spikeinterface/sortingcomponents/tools.py
  src/spikeinterface/sortingcomponents/waveforms/neural_network_denoiser.py
  src/spikeinterface/sortingcomponents/waveforms/savgol_denoiser.py
  src/spikeinterface/sortingcomponents/waveforms/temporal_pca.py
  src/spikeinterface/sortingcomponents/waveforms/waveform_thresholder.py
Labels: sortingcomponents, core

#1895 Use spike_vector in `count_num_spikes_per_unit`
  src/spikeinterface/core/basesorting.py
Labels: core

#1953 Change Docstrings to make sure they maintain RTD boundaries
  src/spikeinterface/qualitymetrics/misc_metrics.py
Labels: documentation

#1955 Fix the [full] install for Macs
  pyproject.toml
Labels: installation

#1951 Implement syncrhrony metrics
  doc/modules/qualitymetrics/references.rst
  doc/modules/qualitymetrics/synchrony.rst
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/postprocessing/tests/test_align_sorting.py
  src/spikeinterface/postprocessing/tests/test_correlograms.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_list.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
Labels: qualitymetrics

#1971 Pin down z-scale normalized to integer (!) failure by separating the tests
  src/spikeinterface/preprocessing/normalize_scale.py
  src/spikeinterface/preprocessing/tests/test_normalize_scale.py
Labels: testing

#1736 Add plexon2 recording, sorting and event support
  .github/actions/install-wine/action.yml
  .github/workflows/full-test.yml
  pyproject.toml
  src/spikeinterface/extractors/neoextractors/__init__.py
  src/spikeinterface/extractors/neoextractors/plexon2.py
  src/spikeinterface/extractors/tests/test_neoextractors.py
Labels: NEO, extractors

#1799 Waveform tools speedup
  src/spikeinterface/core/tests/test_waveform_tools.py
  src/spikeinterface/core/waveform_tools.py
Labels: enhancement, core

#1946 Patch `silence_periods` for mono-segment recordings
  src/spikeinterface/preprocessing/silence_periods.py
Labels: preprocessing

#1988 Relax check_borders in `InjectTemplatesRecording`
  src/spikeinterface/core/generate.py
Labels: core

#1965 Add RecordingExtractor for NeuroExplorer
  doc/api.rst
  src/spikeinterface/extractors/neoextractors/__init__.py
  src/spikeinterface/extractors/neoextractors/neuroexplorer.py
  src/spikeinterface/extractors/tests/test_neoextractors.py
Labels: enhancement, extractors

#1944 Implement Spike retriever
  src/spikeinterface/core/node_pipeline.py
  src/spikeinterface/core/tests/test_node_pipeline.py
Labels: sortingcomponents, core

#1962 Update installation Tips
  .github/workflows/installation-tips-test.yml
  installation_tips/check_your_install.py
  installation_tips/full_spikeinterface_environment_linux_dandi.yml
  installation_tips/full_spikeinterface_environment_mac.yml
  installation_tips/full_spikeinterface_environment_windows.yml
Labels: installation

#1970 Some additions to generate.py after #1948
  src/spikeinterface/core/generate.py
Labels: core

#1990 Doc Changes for recently added Plexon 2 support
  doc/api.rst
  doc/modules/extractors.rst
Labels: documentation

#1992 Add NeuroExplorer to the extractor rst
  doc/modules/extractors.rst
Labels: documentation

#1991 Sphinx Fixes
  doc/conf.py
  doc/development/development.rst
  doc/how_to/analyse_neuropixels.rst
  doc/how_to/get_started.rst
  doc/how_to/handle_drift.rst
  doc/modules/motion_correction.rst
  doc/modules/qualitymetrics.rst
  doc/modules/qualitymetrics/silhouette_score.rst
  doc/modules/qualitymetrics/synchrony.rst
  doc/modules/sorters.rst
  pyproject.toml
  src/spikeinterface/postprocessing/principal_component.py
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/widgets/spikes_on_traces.py
  src/spikeinterface/widgets/traces.py
  src/spikeinterface/widgets/widget_list.py
Labels: documentation

#2004 fix folder for installation test build
  .github/workflows/installation-tips-test.yml
Labels: continuous integration

#1957 Allow to postprocess on read-only waveform folders
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/exporters/to_phy.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/postprocessing/unit_localization.py
Labels: core, postprocessing

#1995 Allow MergeUnitsSorting to handle tuples
  src/spikeinterface/curation/mergeunitssorting.py
Labels: bug, curation

#2002 `np.in1d` to `np.isin` as the former will be deprecated
  src/spikeinterface/comparison/basecomparison.py
  src/spikeinterface/comparison/comparisontools.py
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/basesnippets.py
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/tests/test_sparsity.py
  src/spikeinterface/curation/mergeunitssorting.py
  src/spikeinterface/extractors/bids.py
  src/spikeinterface/postprocessing/amplitude_scalings.py
  src/spikeinterface/postprocessing/spike_amplitudes.py
  src/spikeinterface/postprocessing/spike_locations.py
  src/spikeinterface/preprocessing/interpolate_bad_channels.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_matching.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_selection.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/clustering/sliding_hdbscan.py
  src/spikeinterface/widgets/unit_waveforms_density_map.py
Labels: deprecations

#2005 Add an option to flip the order by depth
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/tests/test_recording_tools.py
  src/spikeinterface/preprocessing/depth_order.py
Labels: preprocessing

#2003 Improve detect_bad_channels
  src/spikeinterface/preprocessing/detect_bad_channels.py
Labels: preprocessing

#2015 Fix a few more documentation typos
  doc/development/development.rst
  doc/install_sorters.rst
  doc/modules/sorters.rst
  doc/modules/sortingcomponents.rst
Labels: documentation

#2019 Add read_binary and read_zarr functions to extractord and docs API
  doc/api.rst
  src/spikeinterface/extractors/extractorlist.py
Labels: documentation, extractors

#1968 Refactor sorter launcher. Deprecated `run_sorters()` and add `run_sorter_jobs()`
  doc/api.rst
  doc/modules/sorters.rst
  src/spikeinterface/comparison/studytools.py
  src/spikeinterface/sorters/__init__.py
  src/spikeinterface/sorters/basesorter.py
  src/spikeinterface/sorters/launcher.py
  src/spikeinterface/sorters/tests/test_launcher.py
Labels: sorters, hybrid

#1943 Sparse waveforms for Spyking Circus 2
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_matching.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/matching/circus.py
Labels: sorters

#2025 Update a test expression to remove two logical short circuits
  src/spikeinterface/preprocessing/remove_artifacts.py
Labels: preprocessing

#1985 Add methods to sparsify and densify waveforms to `ChannelSparsity`
  src/spikeinterface/core/sparsity.py
  src/spikeinterface/core/tests/test_sparsity.py
Labels: core

#2024 For connoisseur only: add a simple "ephyviewer" backend plot_traces().
  doc/images/plot_traces_ephyviewer.png
  doc/modules/widgets.rst
  src/spikeinterface/widgets/base.py
  src/spikeinterface/widgets/tests/test_widgets.py
  src/spikeinterface/widgets/traces.py
Labels: widgets

#2031 Correct some typing to PR 1985
  src/spikeinterface/core/sparsity.py
Labels: core

#2022 Fix Kilosort Phy reader docstrings
  src/spikeinterface/extractors/phykilosortextractors.py
Labels: documentation, extractors

#2013 Save/load comparison objects with pickle
  src/spikeinterface/comparison/multicomparisons.py
Labels: comparison

#2036 Fix for nested tutorials
  doc/conf.py
Labels: documentation

#2027 Improve serialization concept : memory/json/pickle
  doc/modules/core.rst
  src/spikeinterface/comparison/hybrid.py
  src/spikeinterface/comparison/multicomparisons.py
  src/spikeinterface/core/base.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/job_tools.py
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/core/old_api_utils.py
  src/spikeinterface/core/tests/test_base.py
  src/spikeinterface/core/tests/test_core_tools.py
  src/spikeinterface/core/tests/test_job_tools.py
  src/spikeinterface/core/tests/test_jsonification.py
  src/spikeinterface/core/tests/test_waveform_extractor.py
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/postprocessing/spike_amplitudes.py
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/sorters/basesorter.py
  src/spikeinterface/sorters/external/herdingspikes.py
  src/spikeinterface/sorters/external/mountainsort4.py
  src/spikeinterface/sorters/external/mountainsort5.py
  src/spikeinterface/sorters/external/pykilosort.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sorters/internal/tridesclous2.py
  src/spikeinterface/sorters/runsorter.py
  src/spikeinterface/sorters/tests/test_launcher.py
Labels: core

#1981 Additional quality metrics
  doc/modules/qualitymetrics.rst
  doc/modules/qualitymetrics/amplitude_cutoff.rst
  doc/modules/qualitymetrics/amplitude_cv.rst
  doc/modules/qualitymetrics/amplitude_median.rst
  doc/modules/qualitymetrics/amplitudes.png
  doc/modules/qualitymetrics/d_prime.rst
  doc/modules/qualitymetrics/drift.rst
  doc/modules/qualitymetrics/firing_range.rst
  doc/modules/qualitymetrics/firing_rate.rst
  doc/modules/qualitymetrics/isi_violations.rst
  doc/modules/qualitymetrics/presence_ratio.rst
  doc/modules/qualitymetrics/sliding_rp_violations.rst
  doc/modules/qualitymetrics/snr.rst
  doc/modules/qualitymetrics/synchrony.rst
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_list.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
Labels: qualitymetrics

#2043 Add `ignore_timestamps_errors` to `OpenEphysLegacyRecordingExtractor`
  src/spikeinterface/extractors/neoextractors/openephys.py
Labels: NEO, extractors

#2041 Allow relative path for `export_to_phy`
  src/spikeinterface/exporters/to_phy.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
Labels: exporters

#1983 Refactoring of GroundTruthStudy
  doc/modules/comparison.rst
  src/spikeinterface/comparison/__init__.py
  src/spikeinterface/comparison/collision.py
  src/spikeinterface/comparison/collisionstudy.py
  src/spikeinterface/comparison/correlogram.py
  src/spikeinterface/comparison/correlogramstudy.py
  src/spikeinterface/comparison/groundtruthstudy.py
  src/spikeinterface/comparison/studytools.py
  src/spikeinterface/comparison/tests/test_groundtruthstudy.py
  src/spikeinterface/comparison/tests/test_studytools.py
  src/spikeinterface/core/base.py
  src/spikeinterface/sorters/basesorter.py
  src/spikeinterface/sorters/internal/si_based.py
  src/spikeinterface/sorters/launcher.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/__init__.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/collisioncomp.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/gtstudy.py
  src/spikeinterface/widgets/gtstudy.py
  src/spikeinterface/widgets/widget_list.py
Labels: comparison

#2048 CellExplorer: fix tests and deprecation
  src/spikeinterface/extractors/cellexplorersortingextractor.py
  src/spikeinterface/extractors/tests/test_cellexplorerextractor.py
Labels: extractors

#2047 Minor corrections to load from matlab documentation
  doc/how_to/load_matlab_data.rst
Labels: documentation

#2045 Svd convolutions
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/features_from_peaks.py
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/sortingcomponents/matching/method_list.py
Labels: sortingcomponents

#2051 Move import to `__init__` in `CompressedBinaryIblExtractor`
  src/spikeinterface/extractors/cbin_ibl.py
Labels: packaging

#2032 Minor changes on drift benchmark for figures
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_estimation.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_interpolation.py
Labels: widgets

#2054 Fix firing range when bin size is to small
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_estimation.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_interpolation.py
Labels: bug, qualitymetrics

#2035 Improve ipywidgets backend
  src/spikeinterface/widgets/amplitudes.py
  src/spikeinterface/widgets/base.py
  src/spikeinterface/widgets/metrics.py
  src/spikeinterface/widgets/spike_locations.py
  src/spikeinterface/widgets/spikes_on_traces.py
  src/spikeinterface/widgets/traces.py
  src/spikeinterface/widgets/unit_locations.py
  src/spikeinterface/widgets/unit_waveforms.py
  src/spikeinterface/widgets/utils_ipywidgets.py
Labels: widgets

#2014 Extend common postprocessing tests to spikes at borders
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/tests/test_generate.py
  src/spikeinterface/postprocessing/amplitude_scalings.py
  src/spikeinterface/postprocessing/principal_component.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/postprocessing/tests/test_principal_component.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
Labels: bug, postprocessing
