Repository SpikeInterface/spikeinterface, pull requests merged in 2023-02, with the labels that each got.

#1129 Motion benchmark class
  spikeinterface/extractors/neuropixels_utils.py
  spikeinterface/sortingcomponents/benchmark/benchmark_motion_correction.py
  spikeinterface/sortingcomponents/benchmark/benchmark_motion_estimation.py
  spikeinterface/sortingcomponents/benchmark/benchmark_tools.py
  spikeinterface/sortingcomponents/motion_correction.py
  spikeinterface/sortingcomponents/motion_estimation.py
  spikeinterface/sortingcomponents/peak_localization.py
  spikeinterface/widgets/_legacy_mpl_widgets/drift.py
Labels: enhancement, sortingcomponents

#1197 Add sliding RP violations IBL metric
  doc/quality_metrics/sliding_rp_violations.rst
  spikeinterface/curation/auto_merge.py
  spikeinterface/postprocessing/__init__.py
  spikeinterface/postprocessing/correlograms.py
  spikeinterface/qualitymetrics/misc_metrics.py
  spikeinterface/qualitymetrics/quality_metric_calculator.py
  spikeinterface/qualitymetrics/quality_metric_list.py
  spikeinterface/qualitymetrics/tests/test_metrics_functions.py
  spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
  spikeinterface/qualitymetrics/utils.py
Labels: enhancement, qualitymetrics

#1238 skip `CedRecordingExtractor` test in systems with python.version > 3.8
  spikeinterface/extractors/tests/test_neoextractors.py
Labels: testing

#1255 Fix widget tests of quality metrics
  .github/workflows/full-test.yml
  spikeinterface/widgets/tests/test_widgets.py
Labels: bug, testing

#1232 Fix the sample_shifts for spikeglx when not all channel are saved.
  spikeinterface/extractors/neoextractors/spikeglx.py
Labels: enhancement, extractors

#1247 Small testing fixes and comment in confest
  conftest.py
  spikeinterface/core/testing.py
  spikeinterface/extractors/neoextractors/maxwell.py
  spikeinterface/extractors/tests/test_neoextractors.py
Labels: testing

#1227 Serialization for recording and sorting objects
  spikeinterface/core/base.py
  spikeinterface/core/testing.py
  spikeinterface/extractors/neoextractors/maxwell.py
  spikeinterface/extractors/tests/common_tests.py
  spikeinterface/extractors/tests/test_neoextractors.py
Labels: enhancement, core

#1059 Add IBL high pass spatial filter to preprocessing
  spikeinterface/core/recording_tools.py
  spikeinterface/core/tests/test_recording_tools.py
  spikeinterface/preprocessing/highpass_spatial_filter.py
  spikeinterface/preprocessing/phase_shift.py
  spikeinterface/preprocessing/preprocessinglist.py
  spikeinterface/preprocessing/tests/test_highpass_spatial_filter.py
  spikeinterface/preprocessing/tests/test_phase_shift.py
  spikeinterface/widgets/ipywidgets/timeseries.py
  spikeinterface/widgets/timeseries.py
Labels: enhancement, preprocessing

#1250 Fix slicing channels of remove artifact median/avg modes
  spikeinterface/preprocessing/remove_artifacts.py
Labels: bug, preprocessing

#1258 Extend WaveformExtractor `rec_attributes` and propagate recordingless mode
  spikeinterface/comparison/correlogramcomparison.py
  spikeinterface/core/tests/test_template_tools.py
  spikeinterface/core/tests/test_waveform_extractor.py
  spikeinterface/core/waveform_extractor.py
  spikeinterface/curation/auto_merge.py
  spikeinterface/exporters/to_phy.py
  spikeinterface/postprocessing/spike_locations.py
  spikeinterface/postprocessing/unit_localization.py
  spikeinterface/preprocessing/tests/test_interpolate_bad_channels.py
  spikeinterface/qualitymetrics/misc_metrics.py
  spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
  spikeinterface/widgets/_legacy_mpl_widgets/tests/test_widgets_legacy.py
  spikeinterface/widgets/amplitudes.py
  spikeinterface/widgets/crosscorrelograms.py
  spikeinterface/widgets/tests/test_widgets.py
  spikeinterface/widgets/unit_locations.py
Labels: enhancement, core

#1264 Doc intro, installation, overview
  doc/conf.py
  doc/index.rst
  doc/install_sorters.rst
  doc/installation.rst
  doc/overview.rst
  examples/how_to/README.rst
  examples/how_to/custom_probe.prb
  examples/how_to/getting_started.py
  examples/how_to/working_with_neuropixels.py
  examples/how_to/working_with_tetrodes.py
Labels: documentation

#1263 Bump up joblib
  pyproject.toml
  spikeinterface/core/job_tools.py
Labels: installation

#1262 Add `correct_lsb` function
  spikeinterface/preprocessing/correct_lsb.py
  spikeinterface/preprocessing/preprocessinglist.py
  spikeinterface/preprocessing/tests/test_correct_lsb.py
  spikeinterface/preprocessing/whiten.py
Labels: preprocessing

#1275 Improve docs for post-processing
  doc/api.rst
  doc/modules/postprocessing.rst
  doc/modules/qualitymetrics/amplitude_median.rst
  doc/modules/qualitymetrics/drift.rst
Labels: documentation

#1276 Doc sprint sorter module
  doc/modules/sorters.rst
  examples/modules_gallery/postprocessing/README.rst
  examples/modules_gallery/postprocessing/plot_2_postprocessing.py
  examples/modules_gallery/preprocessing/README.rst
  examples/modules_gallery/preprocessing/plot_1_preprocessing.py
  examples/modules_gallery/sorters/README.rst
  examples/modules_gallery/sorters/plot_1_sorters_example.py
  examples/modules_gallery/sorters/plot_2_using_the_launcher.py
  examples/modules_gallery/sorters/plot_3_sorting_by_group.py
  examples/modules_gallery/sorters/plot_4_sorting_concatenated_recordings.py
  examples/modules_gallery/sorters/tetrode_16.prb
Labels: documentation

#1284 exporters doc
  doc/modules/exporters.rst
  doc/modules/index.rst
  doc/modules/postprocessing.rst
Labels: documentation

#1281 Doc: core and fixes
  doc/api.rst
  doc/conf.py
  doc/modules/core.rst
  doc/modules/exporters.rst
  doc/modules/extractors.rst
  doc/modules/preprocessing.rst
  doc/modules/qualitymetrics.rst
  doc/modules/qualitymetrics/amplitude_cutoff.rst
  doc/modules/qualitymetrics/amplitude_median.rst
  doc/modules/qualitymetrics/d_prime.rst
  doc/modules/qualitymetrics/drift.rst
  doc/modules/qualitymetrics/firing_rate.rst
  doc/modules/qualitymetrics/isi_violations.rst
  doc/modules/qualitymetrics/isolation_distance.rst
  doc/modules/qualitymetrics/l_ratio.rst
  doc/modules/qualitymetrics/nearest_neighbor.rst
  doc/modules/qualitymetrics/noise_cutoff.rst
  doc/modules/qualitymetrics/presence_ratio.rst
  doc/modules/qualitymetrics/silhouette_score.rst
  doc/modules/qualitymetrics/sliding_rp_violations.rst
  doc/modules/qualitymetrics/snr.rst
  doc/modules/sorters.rst
  examples/modules_gallery/core/plot_5_append_concatenate_segments.py
  spikeinterface/core/__init__.py
  spikeinterface/core/baserecording.py
  spikeinterface/core/basesorting.py
  spikeinterface/core/segmentutils.py
  spikeinterface/qualitymetrics/misc_metrics.py
Labels: documentation

#1285 doc curation
  .gitignore
  doc/api.rst
  doc/images/1d_waveform_features.png
  doc/images/sv_summary.png
  doc/modules/curation.rst
Labels: documentation

#1287 example clean + sortingcomponents + small fixes
  .gitignore
  doc/api.rst
  doc/conf.py
  doc/index.rst
  doc/modules/comparison.rst
  doc/modules/qualitymetrics/snr.rst
  doc/modules/sortingcomponents.rst
  examples/modules_gallery/README.rst
  examples/modules_gallery/comparison/README.rst
  examples/modules_gallery/comparison/plot_5_comparison_sorter_weaknesses.py
  examples/modules_gallery/qualitymetrics/plot_3_quality_mertics.py
  examples/modules_gallery/qualitymetrics/plot_4_curation.py
  examples/modules_gallery/widgets/plot_3_waveforms_gallery.py
  spikeinterface/comparison/__init__.py
  spikeinterface/comparison/correlogramstudy.py
  spikeinterface/core/__init__.py
  spikeinterface/core/basesorting.py
  spikeinterface/core/sparsity.py
  spikeinterface/curation/remove_redundant.py
  spikeinterface/sortingcomponents/motion_correction.py
Labels: documentation

#1288 Doc widgets
  doc/api.rst
  doc/images/ipy_timeseries.gif
  doc/images/mpl_timeseries.png
  doc/images/sv_timeseries.png
  doc/modules/curation.rst
  doc/modules/widgets.rst
  pyproject.toml
  spikeinterface/core/sparsity.py
  spikeinterface/widgets/base.py
  spikeinterface/widgets/widget_list.py
Labels: documentation

#1251 Small fixes to IblStreaming extractor
  pyproject.toml
  spikeinterface/extractors/extractorlist.py
  spikeinterface/extractors/iblstreamingrecording.py
  spikeinterface/extractors/tests/test_iblstreamingrecording.py
Labels: extractors

#1244 Improve MergeUnitsSorting to have several merge at the same time.
  spikeinterface/curation/auto_merge.py
  spikeinterface/curation/curationsorting.py
  spikeinterface/curation/mergeunitssorting.py
  spikeinterface/curation/tests/test_curationsorting.py
Labels: curation

#1291 Doc api and all warnings
  doc/api.rst
  doc/conf.py
  doc/contribute.rst
  doc/modules/comparison.rst
  doc/modules/core.rst
  doc/modules/curation.rst
  doc/modules/extractors.rst
  doc/modules/preprocessing.rst
  doc/modules/qualitymetrics.rst
  doc/modules/qualitymetrics/amplitude_cutoff.rst
  doc/modules/qualitymetrics/amplitude_median.rst
  doc/modules/qualitymetrics/d_prime.rst
  doc/modules/qualitymetrics/drift.rst
  doc/modules/qualitymetrics/firing_rate.rst
  doc/modules/qualitymetrics/isi_violations.rst
  doc/modules/qualitymetrics/isolation_distance.rst
  doc/modules/qualitymetrics/l_ratio.rst
  doc/modules/qualitymetrics/nearest_neighbor.rst
  doc/modules/qualitymetrics/noise_cutoff.rst
  doc/modules/qualitymetrics/presence_ratio.rst
  doc/modules/qualitymetrics/references.rst
  doc/modules/qualitymetrics/silhouette_score.rst
  doc/modules/qualitymetrics/sliding_rp_violations.rst
  doc/modules/qualitymetrics/snr.rst
  doc/modules/sortingcomponents.rst
  doc/viewers.rst
  environment_rtd.yml
  examples/modules_gallery/core/plot_5_append_concatenate_segments.py
  examples/modules_gallery/extractors/plot_1_read_various_formats.py
  examples/modules_gallery/widgets/plot_4_peaks_gallery.py
  spikeinterface/core/__init__.py
  spikeinterface/core/baserecording.py
  spikeinterface/core/core_tools.py
  spikeinterface/core/npyfoldersnippets.py
  spikeinterface/core/segmentutils.py
  spikeinterface/core/sparsity.py
  spikeinterface/core/zarrrecordingextractor.py
  spikeinterface/curation/auto_merge.py
  spikeinterface/curation/remove_redundant.py
  spikeinterface/extractors/bids.py
  spikeinterface/extractors/cbin_ibl.py
  spikeinterface/extractors/mdaextractors.py
  spikeinterface/extractors/neoextractors/mcsraw.py
  spikeinterface/extractors/neoextractors/openephys.py
  spikeinterface/extractors/neoextractors/spikegadgets.py
  spikeinterface/extractors/neoextractors/spikeglx.py
  spikeinterface/postprocessing/noise_level.py
  spikeinterface/preprocessing/filter.py
  spikeinterface/qualitymetrics/misc_metrics.py
  spikeinterface/qualitymetrics/pca_metrics.py
  spikeinterface/sortingcomponents/motion_correction.py
  spikeinterface/widgets/widget_list.py
Labels: documentation

#1208 Propagate probe annotations to recording
  spikeinterface/core/baserecordingsnippets.py
  spikeinterface/core/core_tools.py
Labels: enhancement, core

#1070 Add IBL bad channel detection
  spikeinterface/preprocessing/__init__.py
  spikeinterface/preprocessing/detect_bad_channels.py
  spikeinterface/preprocessing/preprocessinglist.py
  spikeinterface/preprocessing/remove_bad_channels.py
  spikeinterface/preprocessing/tests/test_detect_bad_channels.py
  spikeinterface/preprocessing/tests/test_remove_bad_channels.py
Labels: enhancement, preprocessing

#1295 Add manual workflow to build docs
  .github/workflows/build-docs.yml
Labels: documentation

#1246 COntinue benchmark motion
  spikeinterface/comparison/paircomparisons.py
  spikeinterface/sortingcomponents/benchmark/benchmark_motion_correction.py
Labels: sortingcomponents

#1297 Produce timing report for core tests
  .github/build_job_summary.py
  .github/workflows/core-test.yml
Labels: testing

#1278 Allow unfiltered wvf_extractor in export_to_phy
  spikeinterface/exporters/to_phy.py
Labels: exporters

#1272 Remove `to_dict` mechanism for parallel processing in sorting components module
  spikeinterface/sortingcomponents/peak_detection.py
  spikeinterface/sortingcomponents/peak_pipeline.py
Labels: sortingcomponents, core

#1271 Refactor graph computation mechanism I
  spikeinterface/sortingcomponents/features_from_peaks.py
  spikeinterface/sortingcomponents/peak_detection.py
  spikeinterface/sortingcomponents/peak_localization.py
  spikeinterface/sortingcomponents/peak_pipeline.py
  spikeinterface/sortingcomponents/tests/test_motion_estimation.py
  spikeinterface/sortingcomponents/tests/test_peak_detection.py
  spikeinterface/sortingcomponents/tests/test_peak_pipeline.py
Labels: sortingcomponents, core

#1299 Time report for full tests
  .github/workflows/full-test-with-codecov.yml
  .github/workflows/full-test.yml
  spikeinterface/core/base.py
  spikeinterface/extractors/neoextractors/neobaseextractor.py
Labels: testing

#1305 How to get started
  .gitignore
  doc/how_to/get_started.rst
  doc/how_to/get_started_files/get_started_14_0.png
  doc/how_to/get_started_files/get_started_14_1.png
  doc/how_to/get_started_files/get_started_20_1.png
  doc/how_to/get_started_files/get_started_66_1.png
  doc/how_to/get_started_files/get_started_66_2.png
  doc/how_to/get_started_files/get_started_72_1.png
  doc/how_to/get_started_files/get_started_72_2.png
  doc/how_to/index.rst
  doc/index.rst
  examples/how_to/README.md
  examples/how_to/README.rst
  examples/how_to/get_started.py
  examples/how_to/getting_started.py
  spikeinterface/qualitymetrics/pca_metrics.py
  spikeinterface/sorters/basesorter.py
  spikeinterface/sorters/si_based_sorters/spyking_circus2.py
  spikeinterface/sorters/utils/shellscript.py
Labels: documentation

#1304 Cancel previous github actions jobs when pull request is updated
  .github/workflows/core-test.yml
  .github/workflows/full-test.yml
  .github/workflows/s3-nwb-test.yml
Labels: testing

#1302 Fix some warnings
  spikeinterface/exporters/report.py
Labels: documentation

#1321 Create caches on master
  .github/workflows/caches_cron_job.yml
Labels: testing

#1303 Run code coverage daily as a cron job
  .github/workflows/full-test-with-codecov.yml
Labels: testing, coverage

#1324 Ibl streaming dtype fix
  pyproject.toml
  spikeinterface/extractors/iblstreamingrecording.py
Labels: extractors

#1327 Make caches on branches read only
  .github/workflows/caches_cron_job.yml
  .github/workflows/core-test.yml
  .github/workflows/full-test-with-codecov.yml
  .github/workflows/full-test.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/s3-nwb-test.yml
Labels: testing

#1326 Small typo in docs
  doc/modules/widgets.rst
Labels: documentation

#1325 Remove the rest of to_dict mechanisms from sorting components
  spikeinterface/sortingcomponents/benchmark/benchmark_motion_correction.py
  spikeinterface/sortingcomponents/matching/main.py
  spikeinterface/sortingcomponents/matching/naive.py
  spikeinterface/sortingcomponents/motion_correction.py
  spikeinterface/sortingcomponents/peak_detection.py
  spikeinterface/sortingcomponents/peak_pipeline.py
  spikeinterface/sortingcomponents/tests/test_peak_detection.py
  spikeinterface/sortingcomponents/tests/test_peak_pipeline.py
  spikeinterface/sortingcomponents/tests/test_peak_selection.py
  spikeinterface/sortingcomponents/tests/test_template_matching.py
Labels: sortingcomponents

#1328 Update matlab checking action
  .github/workflows/issue-on-change-matlab.yml
Labels: testing

#1337 Fix whiten: add M to parameters and kwargs
  spikeinterface/preprocessing/tests/test_whiten.py
  spikeinterface/preprocessing/whiten.py
Labels: bug, preprocessing

#1318 Add optional selection indices to ``select_peaks`` function
  .gitignore
  spikeinterface/sortingcomponents/peak_selection.py
  spikeinterface/sortingcomponents/tests/test_peak_selection.py
Labels: sortingcomponents

#1330 new numpy features for peak selection
  spikeinterface/sortingcomponents/peak_selection.py
Labels: sortingcomponents, refactor

#1338 Fix ids_to_indices when channel_ids is None
  spikeinterface/core/base.py
  spikeinterface/core/recording_tools.py
Labels: bug, core

#1343 `download_dataset` function not accessing cached data on CI
  .github/workflows/caches_cron_job.yml
  .github/workflows/core-test.yml
  .github/workflows/full-test-with-codecov.yml
  .github/workflows/full-test.yml
  .github/workflows/s3-nwb-test.yml
  spikeinterface/core/datasets.py
  spikeinterface/core/tests/test_datasets.py
Labels: testing, continuous integration

#1346 Use fix installation method for datalad git-annex
  .github/workflows/caches_cron_job.yml
Labels: testing, continuous integration

#1351 Fix sonpy dependency
  README.md
  pyproject.toml
Labels: installation, testing

#1348 Fix LSB correction
  spikeinterface/preprocessing/correct_lsb.py
  spikeinterface/preprocessing/tests/test_correct_lsb.py
Labels: bug, preprocessing

#1307 How to analyse neuropixels
  doc/how_to/analyse_neuropixels.rst
  doc/how_to/analyse_neuropixels_files/analyse_neuropixels_13_0.png
  doc/how_to/analyse_neuropixels_files/analyse_neuropixels_14_1.png
  doc/how_to/analyse_neuropixels_files/analyse_neuropixels_21_1.png
  doc/how_to/analyse_neuropixels_files/analyse_neuropixels_26_1.png
  doc/how_to/analyse_neuropixels_files/analyse_neuropixels_27_1.png
  doc/how_to/analyse_neuropixels_files/analyse_neuropixels_8_1.png
  doc/how_to/index.rst
  examples/how_to/README.md
  examples/how_to/analyse_neuropixels.py
  examples/how_to/working_with_neuropixels.py
Labels: documentation

#1045 Implement "torch" peak detection
  doc/modules/sortingcomponents.rst
  spikeinterface/sortingcomponents/peak_detection.py
  spikeinterface/sortingcomponents/tests/test_peak_detection.py
Labels: enhancement, sortingcomponents

#1315 Sparsity threshold based on expected energy for noise
  spikeinterface/core/sparsity.py
  spikeinterface/sortingcomponents/matching/tdc.py
Labels: core

#1356 Fixed build doc action
  .github/workflows/build-docs.yml
Labels: documentation, continuous integration

#1242 Motion estimation updates
  spikeinterface/sortingcomponents/benchmark/benchmark_motion_estimation.py
  spikeinterface/sortingcomponents/motion_estimation.py
  spikeinterface/sortingcomponents/tests/test_motion_estimation.py
  spikeinterface/widgets/_legacy_mpl_widgets/drift.py
Labels: sortingcomponents

#1339 Add TemporalPCADenoising as a pipeline node
  spikeinterface/sortingcomponents/tests/test_waveforms/test_temporal_pca.py
  spikeinterface/sortingcomponents/waveforms/temporal_pca.py
Labels: sortingcomponents

#1245 Implement tPCA component with node pipeline
  .gitignore
  spikeinterface/sortingcomponents/peak_pipeline.py
  spikeinterface/sortingcomponents/tests/test_motion_estimation.py
  spikeinterface/sortingcomponents/tests/test_peak_detection.py
  spikeinterface/sortingcomponents/tests/test_waveforms/test_temporal_pca.py
  spikeinterface/sortingcomponents/waveforms/__init__.py
  spikeinterface/sortingcomponents/waveforms/temporal_pca.py
  spikeinterface/sortingcomponents/waveforms/waveform_utils.py
Labels: enhancement, sortingcomponents

#1360 Typo and return output False by default for waveform nodes
  spikeinterface/sortingcomponents/features_from_peaks.py
  spikeinterface/sortingcomponents/peak_localization.py
  spikeinterface/sortingcomponents/peak_pipeline.py
  spikeinterface/sortingcomponents/tests/test_motion_estimation.py
  spikeinterface/sortingcomponents/tests/test_peak_detection.py
  spikeinterface/sortingcomponents/tests/test_peak_pipeline.py
  spikeinterface/sortingcomponents/tests/test_waveforms/test_temporal_pca.py
  spikeinterface/sortingcomponents/waveforms/temporal_pca.py
Labels: bug, sortingcomponents

#1367 Fix saving of CorrectMotion object
  spikeinterface/sortingcomponents/motion_correction.py
Labels: bug, sortingcomponents

#1365 replace "optional, default" with "default"
  spikeinterface/extractors/alfsortingextractor.py
  spikeinterface/extractors/cbin_ibl.py
  spikeinterface/extractors/combinatoextractors.py
  spikeinterface/extractors/hdsortextractors.py
  spikeinterface/extractors/herdingspikesextractors.py
  spikeinterface/extractors/mcsh5extractors.py
  spikeinterface/extractors/neoextractors/alphaomega.py
  spikeinterface/extractors/neoextractors/axona.py
  spikeinterface/extractors/neoextractors/blackrock.py
  spikeinterface/extractors/neoextractors/ced.py
  spikeinterface/extractors/neoextractors/edf.py
  spikeinterface/extractors/neoextractors/intan.py
  spikeinterface/extractors/neoextractors/maxwell.py
  spikeinterface/extractors/neoextractors/mcsraw.py
  spikeinterface/extractors/neoextractors/mearec.py
  spikeinterface/extractors/neoextractors/neuralynx.py
  spikeinterface/extractors/neoextractors/neuroscope.py
  spikeinterface/extractors/neoextractors/nix.py
  spikeinterface/extractors/neoextractors/plexon.py
  spikeinterface/extractors/neoextractors/spike2.py
  spikeinterface/extractors/neoextractors/spikegadgets.py
  spikeinterface/extractors/neoextractors/spikeglx.py
  spikeinterface/extractors/neoextractors/tdt.py
  spikeinterface/extractors/neuropixels_utils.py
  spikeinterface/extractors/nwbextractors.py
  spikeinterface/extractors/phykilosortextractors.py
  spikeinterface/extractors/waveclustextractors.py
  spikeinterface/postprocessing/correlograms.py
  spikeinterface/postprocessing/isi.py
  spikeinterface/postprocessing/spike_amplitudes.py
  spikeinterface/postprocessing/spike_locations.py
  spikeinterface/postprocessing/template_metrics.py
  spikeinterface/postprocessing/template_similarity.py
  spikeinterface/postprocessing/unit_localization.py
  spikeinterface/qualitymetrics/misc_metrics.py
  spikeinterface/qualitymetrics/pca_metrics.py
  spikeinterface/qualitymetrics/quality_metric_calculator.py
Labels: documentation

#1359 Pass sparsity argument directly to `extract_waveforms`
  spikeinterface/core/tests/test_waveform_extractor.py
  spikeinterface/core/waveform_extractor.py
  spikeinterface/sortingcomponents/peak_pipeline.py
  spikeinterface/sortingcomponents/waveforms/temporal_pca.py
Labels: enhancement, core

#1363 Add a margin parameter to get_random_data_chunks
  spikeinterface/core/recording_tools.py
Labels: enhancement, core

#1369 Allow to load objects when 'properties' folder is missing
  spikeinterface/core/base.py
Labels: enhancement, core

#1368 Fix plot templates with waveformless WaveformExtractor
  spikeinterface/widgets/ipywidgets/unit_waveforms.py
  spikeinterface/widgets/unit_waveforms.py
Labels: bug, widgets

#1370 Displaing testing errors on CI at failure
  .github/workflows/core-test.yml
  .github/workflows/full-test-with-codecov.yml
  .github/workflows/full-test.yml
Labels: testing, continuous integration
