Repository SpikeInterface/spikeinterface, pull requests merged in 2023-04, with the labels that each got.

#1357 Add gather_func concept to ChunkRecordingExecutor.
  spikeinterface/core/job_tools.py
  spikeinterface/core/tests/test_job_tools.py
  spikeinterface/sortingcomponents/peak_detection.py
  spikeinterface/sortingcomponents/peak_pipeline.py
  spikeinterface/sortingcomponents/tests/test_peak_detection.py
  spikeinterface/sortingcomponents/tests/test_peak_pipeline.py
Labels: sortingcomponents

#1310 Silence interval
  spikeinterface/preprocessing/preprocessinglist.py
  spikeinterface/preprocessing/silence_periods.py
  spikeinterface/preprocessing/tests/test_silence.py
Labels: preprocessing

#1480 Add 1477 and 1471 to main
  doc/api.rst
  doc/index.rst
  doc/install_sorters.rst
  doc/modules/comparison.rst
  doc/modules/core.rst
  doc/modules/curation.rst
  doc/modules/exporters.rst
  doc/modules/extractors.rst
  doc/modules/postprocessing.rst
  doc/modules/preprocessing.rst
  doc/modules/sorters.rst
  doc/modules/sortingcomponents.rst
  doc/modules/widgets.rst
Labels: packaging

#1482 update `set_kilosort2_path` to `set_kilosort2_5_path` to main
  doc/install_sorters.rst
Labels: documentation, packaging

#1484 Add PR 1437 to main
  src/spikeinterface/preprocessing/common_reference.py
  src/spikeinterface/preprocessing/normalize_scale.py
  src/spikeinterface/preprocessing/preprocessinglist.py
  src/spikeinterface/preprocessing/tests/test_normalize_scale.py
  src/spikeinterface/preprocessing/tests/test_whiten.py
  src/spikeinterface/preprocessing/whiten.py
Labels: preprocessing, packaging

#1483 Add PR 1310 to main
  src/spikeinterface/preprocessing/preprocessinglist.py
  src/spikeinterface/preprocessing/silence_periods.py
  src/spikeinterface/preprocessing/tests/test_silence_periods.py
Labels: preprocessing, packaging

#1501 Improve Documentation VI (Docstrings + Asserts)
  src/spikeinterface/curation/curation_tools.py
  src/spikeinterface/curation/curationsorting.py
  src/spikeinterface/curation/mergeunitssorting.py
  src/spikeinterface/curation/remove_duplicated_spikes.py
  src/spikeinterface/curation/remove_excess_spikes.py
  src/spikeinterface/curation/remove_redundant.py
  src/spikeinterface/curation/sortingview_curation.py
  src/spikeinterface/curation/splitunitsorting.py
Labels: documentation

#1505 Use latest version of neo in tests
  .github/is_spikeinterface_dev.py
  .github/workflows/full-test-with-codecov.yml
  .github/workflows/full-test.yml
  src/spikeinterface/extractors/neoextractors/spikeglx.py
Labels: extractors, testing, continuous integration

#1507 Fix Sortingview scalebar
  src/spikeinterface/widgets/utils.py
Labels: bug, widgets

#1500 Return `nn_unit_id` along with `nn_isolation`
  src/spikeinterface/qualitymetrics/pca_metrics.py
Labels: qualitymetrics

#1504 Version mismatch: `print` --> `warning`
  src/spikeinterface/core/base.py
Labels: core

#1474 Localization from templates
  src/spikeinterface/postprocessing/spike_locations.py
  src/spikeinterface/postprocessing/tests/test_unit_localization.py
  src/spikeinterface/postprocessing/unit_localization.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_matching.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_localization.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_selection.py
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/peak_pipeline.py
  src/spikeinterface/sortingcomponents/tests/test_peak_localization.py
  src/spikeinterface/sortingcomponents/tools.py
Labels: sortingcomponents, postprocessing

#1486 Refactor detect_peak()
  src/spikeinterface/sortingcomponents/features_from_peaks.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/peak_pipeline.py
  src/spikeinterface/sortingcomponents/tests/test_peak_pipeline.py
  src/spikeinterface/sortingcomponents/tests/test_waveforms/test_neural_network_denoiser.py
  src/spikeinterface/sortingcomponents/tests/test_waveforms/test_savgol_denoiser.py
  src/spikeinterface/sortingcomponents/tests/test_waveforms/test_temporal_pca.py
  src/spikeinterface/sortingcomponents/waveforms/neural_network_denoiser.py
  src/spikeinterface/sortingcomponents/waveforms/savgol_denoiser.py
  src/spikeinterface/sortingcomponents/waveforms/temporal_pca.py
Labels: sortingcomponents, refactor

#1508 Remove to_dict in segment_utils
  src/spikeinterface/core/segmentutils.py
Labels: core, refactor

#1502 Adding a WaveformThresholder
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/peak_pipeline.py
  src/spikeinterface/sortingcomponents/tests/test_waveforms/test_temporal_pca.py
  src/spikeinterface/sortingcomponents/tests/test_waveforms/test_waveform_thresholder.py
  src/spikeinterface/sortingcomponents/waveforms/neural_network_denoiser.py
  src/spikeinterface/sortingcomponents/waveforms/savgol_denoiser.py
  src/spikeinterface/sortingcomponents/waveforms/temporal_pca.py
  src/spikeinterface/sortingcomponents/waveforms/waveform_thresholder.py
Labels: sortingcomponents

#1499 nn metrics performance: Compute we n_spikes/fr out of main_loop
  src/spikeinterface/qualitymetrics/pca_metrics.py
Labels: qualitymetrics

#1510 Choices of Feature for the monopolar triangulation
  src/spikeinterface/postprocessing/unit_localization.py
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/tests/test_peak_localization.py
Labels: sortingcomponents, postprocessing

#1448 Template Matching Method from Paninski Lab
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/sortingcomponents/matching/method_list.py
  src/spikeinterface/sortingcomponents/matching/tdc.py
  src/spikeinterface/sortingcomponents/matching/wobble.py
  src/spikeinterface/sortingcomponents/tests/test_template_matching.py
  src/spikeinterface/sortingcomponents/tests/test_wobble.py
Labels: enhancement, sortingcomponents

#1522 Cleaning code duplication by mistake
  src/spikeinterface/postprocessing/unit_localization.py
Labels: postprocessing, refactor

#1516 Refactor package installation in CI
  .github/actions/build-test-environment/action.yml
  .github/actions/show-test-environment/action.yml
  .github/workflows/full-test-with-codecov.yml
  .github/workflows/full-test.yml
Labels: testing, continuous integration

#1532 Use context variables in github actions
  .github/actions/build-test-environment/action.yml
  .github/actions/show-test-environment/action.yml
  .github/workflows/full-test-with-codecov.yml
  .github/workflows/full-test.yml
Labels: bug, continuous integration

#1533 Refactor testing scripts
  .github/run_tests.sh
  .github/workflows/full-test.yml
Labels: refactor, continuous integration

#1518 Add original_cluster_id to PhySortingExtractor
  src/spikeinterface/extractors/phykilosortextractors.py
Labels: extractors

#1524 Warning that `setup.py` is legacy
  doc/installation.rst
  setup.py
Labels: documentation, installation

#1529 Add tests for json encoding of nested numpy scalars
  src/spikeinterface/core/base.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/tests/test_jsonification.py
Labels: bug, core, testing

#1539 Fix crash in `export_to_phy`
  src/spikeinterface/exporters/tests/test_export_to_phy.py
  src/spikeinterface/exporters/to_phy.py
Labels: bug, exporters

#1540 Improve installation instructions
  doc/installation.rst
Labels: documentation

#1545 Check wvf_extractor with recording for spike amplitudes
  src/spikeinterface/postprocessing/spike_amplitudes.py
Labels: postprocessing

#1517 Add silhouette score quality metric
  doc/modules/qualitymetrics/references.rst
  doc/modules/qualitymetrics/silhouette_score.rst
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_list.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
Labels: qualitymetrics

#1555 Fix wrong path in read the docs
  doc/index.rst
Labels: documentation

#1554 Format NWB extractor in black for Cody's review
  src/spikeinterface/extractors/nwbextractors.py
Labels: extractors, refactor

#1535 Change `segment_ind` for `segment_index`
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/injecttemplates.py
  src/spikeinterface/core/snippets_tools.py
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/core/waveform_tools.py
  src/spikeinterface/postprocessing/spike_locations.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_clustering.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_selection.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/position_and_features.py
  src/spikeinterface/sortingcomponents/clustering/position_and_pca.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/clustering/sliding_hdbscan.py
  src/spikeinterface/sortingcomponents/clustering/sliding_nn.py
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/sortingcomponents/matching/main.py
  src/spikeinterface/sortingcomponents/matching/naive.py
  src/spikeinterface/sortingcomponents/matching/tdc.py
  src/spikeinterface/sortingcomponents/matching/wobble.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/peak_pipeline.py
Labels: refactor

#1556 Change `sample_ind` to `sample_index`
  doc/modules/sortingcomponents.rst
  examples/how_to/analyse_neuropixels.py
  examples/modules_gallery/widgets/plot_4_peaks_gallery.py
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/injecttemplates.py
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/core/waveform_tools.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sorters/internal/tridesclous2.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_clustering.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_matching.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_estimation.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_selection.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/clustering/position_and_features.py
  src/spikeinterface/sortingcomponents/clustering/position_and_pca.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/clustering/sliding_hdbscan.py
  src/spikeinterface/sortingcomponents/clustering/sliding_nn.py
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/sortingcomponents/matching/main.py
  src/spikeinterface/sortingcomponents/matching/naive.py
  src/spikeinterface/sortingcomponents/matching/tdc.py
  src/spikeinterface/sortingcomponents/matching/wobble.py
  src/spikeinterface/sortingcomponents/motion_correction.py
  src/spikeinterface/sortingcomponents/motion_estimation.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/peak_pipeline.py
  src/spikeinterface/sortingcomponents/peak_selection.py
  src/spikeinterface/sortingcomponents/tests/test_motion_correction.py
  src/spikeinterface/sortingcomponents/tests/test_peak_detection.py
  src/spikeinterface/sortingcomponents/tests/test_template_matching.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/activity.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/drift.py
Labels: refactor

#1560 Fix MultiSortingComparison._populate_spiketrains to prevent overwriting agreement sorting spiketrains
  src/spikeinterface/comparison/multicomparisons.py
Labels: bug, comparison

#1519 Add mountainsort5 sorter
  doc/contribute.rst
  doc/how_to/get_started.rst
  doc/install_sorters.rst
  doc/modules/sorters.rst
  installation_tips/full_spikeinterface_environment_mac.yml
  src/spikeinterface/sorters/external/mountainsort4.py
  src/spikeinterface/sorters/external/mountainsort5.py
  src/spikeinterface/sorters/external/tests/test_singularity_containers.py
  src/spikeinterface/sorters/runsorter.py
  src/spikeinterface/sorters/sorterlist.py
Labels: sorters

#1548 Allow option to compute noise with std
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/tests/test_recording_tools.py
Labels: core

#1564 Refactor detect peak tests without testing recall
  src/spikeinterface/sortingcomponents/tests/test_peak_detection.py
Labels: sortingcomponents, testing

#1569 Fix path in singularity tests
  .github/workflows/test_containers_singularity.yml
Labels: bug, testing

#1562 Check extractor properties
  src/spikeinterface/core/base.py
  src/spikeinterface/core/testing.py
  src/spikeinterface/core/tests/test_baserecording.py
  src/spikeinterface/core/tests/test_basesorting.py
Labels: core, testing

#1558 Change `unit_ind` to `unit_index`
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/injecttemplates.py
  src/spikeinterface/core/snippets_tools.py
  src/spikeinterface/core/tests/test_waveform_tools.py
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/core/waveform_tools.py
  src/spikeinterface/postprocessing/spike_locations.py
  src/spikeinterface/preprocessing/tests/test_normalize_scale.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_clustering.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_selection.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/position_and_features.py
  src/spikeinterface/sortingcomponents/clustering/position_and_pca.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/clustering/sliding_hdbscan.py
  src/spikeinterface/sortingcomponents/clustering/sliding_nn.py
Labels: refactor

#1571 Change `cluster_ind` to `cluster_index`
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sorters/internal/tridesclous2.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_matching.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/sortingcomponents/matching/naive.py
  src/spikeinterface/sortingcomponents/matching/tdc.py
  src/spikeinterface/sortingcomponents/matching/wobble.py
  src/spikeinterface/sortingcomponents/tests/test_template_matching.py
Labels: refactor

#1572 Fix torch detector for case when non peaks are found
  src/spikeinterface/sortingcomponents/peak_detection.py
Labels: bug, sortingcomponents

#1576 Fix failing noise test on windows
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/tests/test_recording_tools.py
Labels: bug, core, testing

#1557 Added helpful error message if `cuda` missing
  src/spikeinterface/sorters/utils/misc.py
Labels: container, sorters

#1574 Sign consistency test in peak detection
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/tests/test_peak_detection.py
Labels: bug, sortingcomponents, testing

#1573 Update pyproject.toml to include numba in full installation
  pyproject.toml
Labels: installation

#1549 Fixed IndexError when interpolating artifacts
  src/spikeinterface/preprocessing/remove_artifacts.py
Labels: bug, preprocessing

#1580 Change v_peak name and thresholder behavior
  src/spikeinterface/postprocessing/unit_localization.py
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/tests/test_peak_localization.py
  src/spikeinterface/sortingcomponents/tests/test_waveforms/test_waveform_thresholder.py
  src/spikeinterface/sortingcomponents/tools.py
  src/spikeinterface/sortingcomponents/waveforms/waveform_thresholder.py
Labels: sortingcomponents, postprocessing

#1567 Extend load_extractor to load zarr and fix zarr annotations
  src/spikeinterface/core/base.py
  src/spikeinterface/core/tests/test_baserecording.py
Labels: core

#1513 Refactor nwb extractor I
  pyproject.toml
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors.py
Labels: extractors, refactor, testing

#1600 Use annotations from future (PEP563) to solve type hint references
  pyproject.toml
  src/spikeinterface/extractors/nwbextractors.py
Labels: installation, extractors
