Repository SpikeInterface/spikeinterface, pull requests merged in 2023-03, with the labels that each got.

#1381 Improve documentation - I
  doc/index.rst
  doc/install_sorters.rst
  doc/installation.rst
  doc/viewers.rst
Labels: documentation

#1375 Remove some deprecation warnings
  .github/workflows/full-test-with-codecov.yml
  .github/workflows/full-test.yml
  pyproject.toml
  spikeinterface/core/tests/test_waveform_extractor.py
  spikeinterface/core/waveform_extractor.py
  spikeinterface/preprocessing/tests/test_highpass_spatial_filter.py
Labels: testing

#1373 Add manual sorter tests in singularity
  .github/workflows/test_containers_singularity.yml
  spikeinterface/sorters/external/combinato.py
  spikeinterface/sorters/external/tests/test_singularity_containers.py
  spikeinterface/sorters/runsorter.py
Labels: sorters, testing, continuous integration

#1383 Improve Documentation - II
  doc/modules/comparison.rst
  doc/modules/core.rst
  doc/modules/curation.rst
  doc/modules/exporters.rst
  doc/modules/extractors.rst
  doc/modules/postprocessing.rst
  doc/modules/preprocessing.rst
  doc/modules/qualitymetrics.rst
  doc/modules/sorters.rst
  doc/modules/sortingcomponents.rst
  doc/overview.rst
Labels: documentation

#1386 Remove CI options from runsorter
  spikeinterface/sorters/runsorter.py
Labels: sorters

#1387 Improve Documentation - III
  doc/modules/qualitymetrics/amplitude_cutoff.rst
  doc/modules/qualitymetrics/amplitude_median.rst
  doc/modules/qualitymetrics/drift.rst
  doc/modules/qualitymetrics/firing_rate.rst
  doc/modules/qualitymetrics/isi_violations.rst
  doc/modules/qualitymetrics/isolation_distance.rst
  doc/modules/qualitymetrics/l_ratio.rst
  doc/modules/qualitymetrics/nearest_neighbor.rst
  doc/modules/qualitymetrics/presence_ratio.rst
  doc/modules/qualitymetrics/sliding_rp_violations.rst
  doc/modules/qualitymetrics/snr.rst
Labels: documentation

#1390 Added type annotation and docstring to `generate_recording`
  spikeinterface/core/generate.py
Labels: documentation, refactor

#1378 Add function to remove excess spikes
  doc/api.rst
  doc/modules/curation.rst
  spikeinterface/core/recording_tools.py
  spikeinterface/core/waveform_extractor.py
  spikeinterface/core/waveform_tools.py
  spikeinterface/curation/__init__.py
  spikeinterface/curation/remove_excess_spikes.py
  spikeinterface/curation/tests/test_remove_excess_spikes.py
Labels: curation

#1403 Remove external sorters test from code coverage tests
  .github/workflows/full-test-with-codecov.yml
Labels: testing, coverage, continuous integration

#1402 Fix for handling sparsity in spikes_on_traces
  spikeinterface/widgets/matplotlib/spikes_on_traces.py
Labels: bug, widgets

#1374 Benchmark motion : small important detail
  spikeinterface/sortingcomponents/benchmark/benchmark_motion_correction.py
  spikeinterface/sortingcomponents/benchmark/benchmark_motion_estimation.py
  spikeinterface/sortingcomponents/motion_estimation.py
Labels: sortingcomponents, preprocessing

#1398 Robust method for checking gpu-nvidia availability
  pyproject.toml
  spikeinterface/sorters/utils/misc.py
Labels: sorters

#1282 Add `SingleChannelToyDenoiser` with node pipeline
  pyproject.toml
  spikeinterface/sortingcomponents/tests/test_waveforms/test_neural_network_denoiser.py
  spikeinterface/sortingcomponents/waveforms/neural_network_denoiser.py
Labels: sortingcomponents

#1414 Adding a savgol denoiser for the waveforms
  spikeinterface/sortingcomponents/tests/test_waveforms/test_savgol_denoiser.py
  spikeinterface/sortingcomponents/waveforms/neural_network_denoiser.py
  spikeinterface/sortingcomponents/waveforms/savgol_denoiser.py
Labels: sortingcomponents

#1416 Update SV curation mechanism
  spikeinterface/curation/sortingview_curation.py
  spikeinterface/curation/tests/sv-sorting-curation.json
  spikeinterface/curation/tests/test_sortingview_curation.py
Labels: curation, widgets

#1404 Some various small fix
  spikeinterface/extractors/neoextractors/blackrock.py
  spikeinterface/extractors/neoextractors/neobaseextractor.py
  spikeinterface/extractors/tests/test_neoextractors.py
  spikeinterface/widgets/_legacy_mpl_widgets/probemap.py
Labels: extractors, sorters

#1430 fix typo in class ClipRecording
  spikeinterface/preprocessing/clip.py
Labels: preprocessing

#1391 Add `GeneratorRecording` for testing and diagnosing memory issues
  .github/workflows/core-test.yml
  pyproject.toml
  spikeinterface/core/generate.py
  spikeinterface/core/tests/test_generate.py
Labels: testing, continuous integration

#1440 Add core testing deendencies
  .github/workflows/core-test.yml
  pyproject.toml
Labels: dependencies, testing, continuous integration

#1397 Add specialized JsonEncoder for writing to json
  spikeinterface/core/base.py
  spikeinterface/core/baserecordingsnippets.py
  spikeinterface/core/core_tools.py
  spikeinterface/core/numpyextractors.py
  spikeinterface/core/tests/test_generate.py
  spikeinterface/core/tests/test_job_tools.py
  spikeinterface/core/tests/test_jsonification.py
  spikeinterface/extractors/neoextractors/mearec.py
  spikeinterface/sortingcomponents/motion_correction.py
  spikeinterface/sortingcomponents/tests/test_motion_estimation.py
  spikeinterface/widgets/sortingview/base_sortingview.py
Labels: enhancement, core

#1441 Refactor `test_detect_injected_correlation`
  spikeinterface/postprocessing/tests/test_correlograms.py
Labels: testing

#1420 Add `mean_fr_ratio_thresh` kwarg to presence_ratio metric
  spikeinterface/qualitymetrics/misc_metrics.py
Labels: qualitymetrics

#1425 Change default value for end_frame in FrameSliceSorting
  spikeinterface/core/frameslicerecording.py
  spikeinterface/core/frameslicesorting.py
  spikeinterface/core/tests/test_frameslicesorting.py
Labels: core

#1443 Add min_fr kwarg to `nn_isolation` and `nn_noise_overlap`
  spikeinterface/qualitymetrics/pca_metrics.py
Labels: qualitymetrics

#1446 Remove `to_dict` mechanism in pre-processing
  pyproject.toml
  spikeinterface/preprocessing/clip.py
  spikeinterface/preprocessing/common_reference.py
  spikeinterface/preprocessing/deepinterpolation/deepinterpolation.py
  spikeinterface/preprocessing/filter.py
  spikeinterface/preprocessing/filter_opencl.py
  spikeinterface/preprocessing/highpass_spatial_filter.py
  spikeinterface/preprocessing/interpolate_bad_channels.py
  spikeinterface/preprocessing/normalize_scale.py
  spikeinterface/preprocessing/phase_shift.py
  spikeinterface/preprocessing/rectify.py
  spikeinterface/preprocessing/remove_artifacts.py
  spikeinterface/preprocessing/resample.py
  spikeinterface/preprocessing/whiten.py
  spikeinterface/preprocessing/zero_channel_pad.py
Labels: preprocessing, refactor

#1415 Add some preprocessing tools (general and LFP-oriented)
  spikeinterface/core/recording_tools.py
  spikeinterface/preprocessing/average_across_direction.py
  spikeinterface/preprocessing/depth_order.py
  spikeinterface/preprocessing/detect_bad_channels.py
  spikeinterface/preprocessing/directional_derivative.py
  spikeinterface/preprocessing/normalize_scale.py
  spikeinterface/preprocessing/preprocessinglist.py
  spikeinterface/preprocessing/resample.py
  spikeinterface/preprocessing/tests/test_average_across_direction.py
  spikeinterface/preprocessing/tests/test_depth_order.py
  spikeinterface/preprocessing/tests/test_directional_derivative.py
  spikeinterface/preprocessing/tests/test_resample.py
  spikeinterface/preprocessing/zero_channel_pad.py
Labels: preprocessing

#1459 Allow a None value for paths
  spikeinterface/core/core_tools.py
Labels: core

#1454 Fix IBL tests on master
  .github/workflows/full-test.yml
  spikeinterface/core/baserecording.py
  spikeinterface/core/core_tools.py
  spikeinterface/extractors/tests/test_iblstreamingrecording.py
Labels: core, testing, continuous integration

#1460 Fix sortingview timeseries bug
  spikeinterface/widgets/utils.py
Labels: widgets

#1456 Remove `to_dict` mechanism in curation module
  spikeinterface/curation/curationsorting.py
  spikeinterface/curation/mergeunitssorting.py
  spikeinterface/curation/remove_duplicated_spikes.py
  spikeinterface/curation/remove_excess_spikes.py
  spikeinterface/curation/splitunitsorting.py
Labels: curation, refactor

#1419 Implement sorting concatenation
  doc/modules/core.rst
  spikeinterface/core/__init__.py
  spikeinterface/core/basesorting.py
  spikeinterface/core/segmentutils.py
  spikeinterface/core/testing.py
  spikeinterface/core/tests/test_basesorting.py
  spikeinterface/core/tests/test_segmentutils.py
Labels: core

#1462 Remove `to_dict` mechanism from core module I
  spikeinterface/core/channelsaggregationrecording.py
  spikeinterface/core/channelslice.py
  spikeinterface/core/core_tools.py
  spikeinterface/core/frameslicerecording.py
  spikeinterface/core/frameslicesorting.py
  spikeinterface/core/injecttemplates.py
  spikeinterface/core/segmentutils.py
  spikeinterface/core/waveform_tools.py
Labels: core, refactor
