Repository SpikeInterface/spikeinterface, pull requests merged in 2023-08, with the labels that each got.

#1898 Fix typo for `silhouette_full`
  src/spikeinterface/qualitymetrics/pca_metrics.py
Labels: bug, qualitymetrics

#1902 Fix crash with unfiltered wvf_extractor and sparsity
  src/spikeinterface/core/waveform_extractor.py
Labels: bug, core

#1904 Fix little bug in export_to_phy sparsity
  src/spikeinterface/exporters/to_phy.py
Labels: exporters

#1921 Convert from samples<->times directly on BaseRecordings
  src/spikeinterface/core/baserecording.py
Labels: enhancement, core

#1936 Fix Doc Display Issue in `getting_started`
  doc/how_to/get_started.rst
Labels: documentation

#1928 Add `stream_name` option to `read_cbin_ibl`
  src/spikeinterface/extractors/cbin_ibl.py
Labels: extractors

#1932 Check if recording is JSON-serializable in run_sorter
  src/spikeinterface/sorters/basesorter.py
Labels: sorters

#1903 Restore npzfolder.py file to load previously saved sorting objects
  src/spikeinterface/core/npzfolder.py
Labels: bug
