Repository SpikeInterface/spikeinterface, pull requests merged in 2023-06, with the labels that each got.

#1687 Add xml_file_path option to Neuroscope
  src/spikeinterface/extractors/neoextractors/neuroscope.py
  src/spikeinterface/extractors/tests/common_tests.py
  src/spikeinterface/extractors/tests/test_neoextractors.py
Labels: extractors

#1686 Add wobble to the docs
  doc/modules/sortingcomponents.rst
  src/spikeinterface/sortingcomponents/matching/main.py
Labels: documentation

#1661 Added some typing in `BaseExtractor`
  src/spikeinterface/core/base.py
Labels: enhancement, packaging

#1697 Remove verbose from `write_binary_recording`
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/exporters/to_phy.py
  src/spikeinterface/extractors/mdaextractors.py
  src/spikeinterface/extractors/shybridextractors.py
  src/spikeinterface/sorters/external/kilosortbase.py
  src/spikeinterface/sorters/external/klusta.py
  src/spikeinterface/sorters/external/pykilosort.py
  src/spikeinterface/sorters/external/tridesclous.py
Labels: core

#1701 Fix cosine similarity matrix in `TemplateComparison`
  src/spikeinterface/comparison/paircomparisons.py
Labels: bug, postprocessing

#1709 Added cleanup of temp files after Kilosort run
  src/spikeinterface/sorters/external/kilosort.py
  src/spikeinterface/sorters/external/kilosort2.py
  src/spikeinterface/sorters/external/kilosort2_5.py
  src/spikeinterface/sorters/external/kilosort3.py
  src/spikeinterface/sorters/external/kilosortbase.py
Labels: sorters

#1711 Fixed bug in `remove_duplicated_spikes`
  src/spikeinterface/curation/remove_duplicated_spikes.py
Labels: bug, curation

#1714 Optimization of `curation.RemoveExcessSpikeSorting`
  src/spikeinterface/curation/remove_excess_spikes.py
Labels: curation

#1718 Allow PhyExtractor to handle splits from Phy
  src/spikeinterface/extractors/phykilosortextractors.py
Labels: exporters, extractors

#1728 Expand `recursive` to `dump_to_pickle`
  src/spikeinterface/core/base.py
Labels: core

#1723 Add original folder to phy extractor
  src/spikeinterface/extractors/phykilosortextractors.py
Labels: exporters

#1732 Fixes `to_dict(recursive)` that isn't recursive
  src/spikeinterface/core/base.py
Labels: core

#1733 Fix bug in `auto_merge` with no units
  src/spikeinterface/curation/auto_merge.py
Labels: curation

#1734 Fix bug with `to_dict(recurvise, relative_to)`
  src/spikeinterface/core/base.py
  src/spikeinterface/preprocessing/tests/test_normalize_scale.py
Labels: core

#1722 Added typing to `export_to_phy`
  src/spikeinterface/exporters/to_phy.py
Labels: exporters, packaging

#1738 Fix crash in `CurationSorting` with empty sorting
  src/spikeinterface/curation/curationsorting.py
  src/spikeinterface/curation/tests/test_curationsorting.py
Labels: curation

#1743 Point to correct folder to get runtime_trace from sorter
  src/spikeinterface/sorters/basesorter.py
Labels: bug, sorters

#1744 small refactor to `NumpyRecording` to make it more hackable
  src/spikeinterface/core/numpyextractors.py
Labels: core

#1707 Deal with unsigned int to int conversion
  doc/api.rst
  doc/modules/preprocessing.rst
  src/spikeinterface/preprocessing/astype.py
  src/spikeinterface/preprocessing/preprocessinglist.py
  src/spikeinterface/preprocessing/tests/test_astype.py
  src/spikeinterface/preprocessing/tests/test_unsigned_to_signed.py
  src/spikeinterface/preprocessing/unsigned_to_signed.py
Labels: core, preprocessing

#1706 Add preprocessing for padding traces
  src/spikeinterface/preprocessing/tests/test_zero_padding.py
  src/spikeinterface/preprocessing/zero_channel_pad.py
Labels: enhancement, preprocessing

#1716 Take care of BinaryFolderRecording in export_to_phy
  src/spikeinterface/exporters/to_phy.py
Labels: exporters

#1749 Update doc `merge_units`
  src/spikeinterface/curation/auto_merge.py
Labels: documentation, curation

#1742 Make binary recording memmap efficient II (using native memmaps)
  src/spikeinterface/core/binaryrecordingextractor.py
  src/spikeinterface/core/tests/test_binaryrecordingextractor.py
Labels: enhancement, core

#1746 Propagate `get_times_kwargs` to BaseRecording
  src/spikeinterface/core/baserecording.py
Labels: documentation, core

#1704 Fix SharedMem warning/errors
  src/spikeinterface/core/waveform_tools.py
Labels: core

#1583 Caching noise levels
  src/spikeinterface/core/base.py
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/tests/test_baserecording.py
  src/spikeinterface/core/tests/test_noise_levels_propagation.py
  src/spikeinterface/core/tests/test_recording_tools.py
Labels: core

#1750 Remove zero pad samples from write_binary_recorder
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/sorters/external/kilosortbase.py
Labels: core
