Repository SpikeInterface/spikeinterface, pull requests merged in 2023-11, with the labels that each got.

#2148 Change phy exporter to not save `template_ind` in the case of dense waveform_extractor
  src/spikeinterface/exporters/to_phy.py
Labels: exporters

#2150 Mountainsort5 version check fix
  src/spikeinterface/sorters/external/mountainsort5.py
Labels: sorters

#2149 Add assert error in the case of unichannel data for sortingview backend + minor clarifications
  src/spikeinterface/widgets/traces.py
Labels: documentation, widgets

#2152 small generation.py doc fix
  src/spikeinterface/core/generate.py
Labels: bug, documentation

#2154 Add folder to `FileExistsError` when creating waveforms
  src/spikeinterface/core/waveform_extractor.py
Labels: documentation

#2155 Fix installation-tips test CI
  .github/workflows/installation-tips-test.yml
Labels: continuous integration

#2153 Add warning that `fork` for the `mp_context` is not recommended for macOS
  doc/modules/core.rst
  src/spikeinterface/core/job_tools.py
Labels: concurrency

#2156 Add overwrite option to save to folder
  src/spikeinterface/core/base.py
Labels: core

#2176 Fix crash when default start / end frame arguments on `motion interpolation` are used.
  src/spikeinterface/sortingcomponents/motion_interpolation.py
Labels: bug, motion correction

#2182 Fix compute matching v3
  src/spikeinterface/comparison/comparisontools.py
  src/spikeinterface/comparison/paircomparisons.py
  src/spikeinterface/comparison/tests/test_comparisontools.py
Labels: bug, comparison

#2196 Use `uint64` for match count
  src/spikeinterface/comparison/comparisontools.py
Labels: bug, comparison

#2191 Fix corner case in make_match_count_matrix()
  src/spikeinterface/comparison/comparisontools.py
  src/spikeinterface/comparison/paircomparisons.py
  src/spikeinterface/comparison/tests/test_comparisontools.py
Labels: bug, comparison

#1982 Add Template class
  src/spikeinterface/core/sparsity.py
  src/spikeinterface/core/template.py
  src/spikeinterface/core/tests/test_template_class.py
Labels: hybrid

#2208 Handling segments in SC2 and TDC2
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sorters/internal/tridesclous2.py
Labels: bug, sorters

#2157 Use python methods instead of parsing and eleminate try-except in to_dict
  src/spikeinterface/core/base.py
Labels: core

#2158 `WaveformExtractor.is_extension` --> `has_extension`
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/exporters/report.py
  src/spikeinterface/exporters/to_phy.py
  src/spikeinterface/postprocessing/principal_component.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/postprocessing/tests/test_principal_component.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
  src/spikeinterface/widgets/base.py
  src/spikeinterface/widgets/unit_summary.py
Labels: core

#2170 Add pickling test to streamers
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwb_s3_extractor.py
Labels: extractors, testing

#2207 Add `rename_units` method in sorting
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/tests/test_basesorting.py
Labels: enhancement, core

#2210 Avoid duplicated template and quality metric names
  src/spikeinterface/postprocessing/template_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
Labels: postprocessing, qualitymetrics

#2147 Add a minimum distance in generate_unit_locations.
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/tests/test_generate.py
Labels: generators

#2173 Improvement to `get_empty_units()`
  src/spikeinterface/core/basesorting.py
Labels: enhancement, core

#2189 Fix filtering rounding error
  doc/modules/preprocessing.rst
  src/spikeinterface/preprocessing/filter.py
  src/spikeinterface/preprocessing/filter_gaussian.py
  src/spikeinterface/preprocessing/normalize_scale.py
  src/spikeinterface/preprocessing/phase_shift.py
Labels: preprocessing

#2205 Legacy mode for circus 2 to ease comparison with circus 1
  src/spikeinterface/comparison/groundtruthstudy.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sorters/internal/tridesclous2.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/sortingcomponents/tools.py
Labels: sorters

#2229 Improve Documentation VII
  doc/api.rst
  doc/install_sorters.rst
  doc/modules/core.rst
  doc/modules/curation.rst
  doc/modules/exporters.rst
  doc/modules/postprocessing.rst
  doc/modules/sorters.rst
  doc/modules/sortingcomponents.rst
  doc/modules/widgets.rst
  doc/viewers.rst
  examples/modules_gallery/core/plot_1_recording_extractor.py
  examples/modules_gallery/core/plot_3_handle_probe_info.py
  examples/modules_gallery/core/plot_6_handle_times.py
  examples/modules_gallery/extractors/plot_1_read_various_formats.py
  examples/modules_gallery/extractors/plot_2_working_with_unscaled_traces.py
  examples/modules_gallery/qualitymetrics/plot_3_quality_mertics.py
  examples/modules_gallery/qualitymetrics/plot_4_curation.py
  src/spikeinterface/comparison/groundtruthstudy.py
  src/spikeinterface/postprocessing/spike_locations.py
  src/spikeinterface/widgets/gtstudy.py
  src/spikeinterface/widgets/multicomparison.py
Labels: documentation

#2220 Fixed a bug when caching recording noise levels
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/tests/test_noise_levels_propagation.py
Labels: core

#2146 Implemented `sd_ratio` as quality metric
  doc/modules/qualitymetrics.rst
  doc/modules/qualitymetrics/references.rst
  doc/modules/qualitymetrics/sd_ratio.rst
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_list.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
Labels: qualitymetrics

#2195 Fix improper method call mktemp
  src/spikeinterface/extractors/mdaextractors.py
  src/spikeinterface/preprocessing/deepinterpolation/generators.py
Labels: enhancement, extractors, generators

#2209 Add an option for count_num_spikes_per_unit
  src/spikeinterface/comparison/comparisontools.py
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/tests/test_basesorting.py
  src/spikeinterface/curation/auto_merge.py
  src/spikeinterface/curation/remove_redundant.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/widgets/unit_depths.py
Labels: enhancement, core

#2175 Allow precomputing spike trains
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/core/tests/test_core_tools.py
  src/spikeinterface/core/tests/test_sorting_tools.py
Labels: core

#2215 Fix: save a copy of group ids in CommonReferenceRecording
  src/spikeinterface/preprocessing/common_reference.py
Labels: preprocessing

#2228 Remove legacy mode for `generate_recording`
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/tests/test_generate.py
  src/spikeinterface/preprocessing/tests/test_normalize_scale.py
Labels: deprecations

#2223 Fix #2201
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/segmentutils.py
  src/spikeinterface/extractors/neoextractors/neobaseextractor.py
Labels: bug, core, extractors

#2239 Use context managers on Deep Interpolation
  src/spikeinterface/extractors/mdaextractors.py
  src/spikeinterface/preprocessing/deepinterpolation/generators.py
Labels: refactor

#2238 Fix typo: `_serializablility` -> `_serializability`
  src/spikeinterface/comparison/hybrid.py
  src/spikeinterface/comparison/multicomparisons.py
  src/spikeinterface/core/base.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/core/old_api_utils.py
  src/spikeinterface/core/tests/test_base.py
  src/spikeinterface/core/tests/test_jsonification.py
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/sorters/basesorter.py
Labels: refactor

#2243 Fix sortingview checks for NaN if strings
  src/spikeinterface/widgets/utils_sortingview.py
Labels: bug, widgets

#2179 Add 'percentile' to template modes and plot_unit_templates
  pyproject.toml
  src/spikeinterface/core/tests/test_waveform_extractor.py
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/widgets/tests/test_widgets.py
  src/spikeinterface/widgets/unit_templates.py
  src/spikeinterface/widgets/unit_waveforms.py
  src/spikeinterface/widgets/utils_ipywidgets.py
Labels: enhancement, core, widgets

#2245 Patch for neuroconv
  src/spikeinterface/core/sorting_tools.py
Labels: bug, testing

#2236 Adding a debug mode to SC2
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
Labels: sorters

#2218 Remove joblib in favor of ParallelProcessExecutor
  pyproject.toml
  src/spikeinterface/core/job_tools.py
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/postprocessing/principal_component.py
  src/spikeinterface/postprocessing/tests/test_principal_component.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
Labels: core, postprocessing, qualitymetrics

#2244 Various stopping criterion for circus matching
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/matching/circus.py
Labels: sorters

#2252 Assert renamed_channels/unit_ids is unique
  src/spikeinterface/core/channelslice.py
  src/spikeinterface/core/unitsselectionsorting.py
Labels: enhancement, core

#2255 Fix `NwbSortingExtractor` reading of ragged arrays
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors.py
Labels: extractors

#2256 Remove mearec references in core
  src/spikeinterface/core/tests/test_node_pipeline.py
  src/spikeinterface/extractors/tests/test_datalad_downloading.py
Labels: testing

#2258 Add tests for unique names in channel slice and unit selection
  src/spikeinterface/core/tests/test_channelslicerecording.py
  src/spikeinterface/core/tests/test_unitsselectionsorting.py
Labels: core, testing

#2251 Disable writing templates modes npy in read-only mode
  src/spikeinterface/core/waveform_extractor.py
Labels: bug, core

#2246 Add option for no caching option to the `NWBRecordingExtractor` when streaming
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwb_s3_extractor.py
Labels: extractors

#2248 Add option for no caching sorting for `NWBSortingExtractor`
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwb_s3_extractor.py
Labels: extractors

#2169 Support remfile and file-like in nwb rec extractor
  pyproject.toml
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwb_s3_extractor.py
Labels: extractors

#2247 Fix `rp_violations` when specifying `unit_ids`
  src/spikeinterface/qualitymetrics/misc_metrics.py
Labels: bug, qualitymetrics

#2268 Change cache default to False in NWB Extractors when streaming
  src/spikeinterface/extractors/nwbextractors.py
Labels: extractors

#2271 run_sorter in container check json or pickle
  src/spikeinterface/sorters/runsorter.py
Labels: container, sorters
