Repository SpikeInterface/spikeinterface, pull requests merged in 2023-07, with the labels that each got.

#1602 Make write to binary open and close per chunk
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/exporters/tests/test_report.py
Labels: core, io

#1754 `num_chan` to `num_channels` in `BinaryRecordingExtractor`
  examples/modules_gallery/core/plot_1_recording_extractor.py
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/binaryrecordingextractor.py
  src/spikeinterface/core/tests/test_baserecording.py
  src/spikeinterface/core/tests/test_binaryrecordingextractor.py
  src/spikeinterface/core/tests/test_channelslicerecording.py
  src/spikeinterface/extractors/shybridextractors.py
Labels: deprecations

#1766 Fix KS padded recording
  src/spikeinterface/sorters/external/kilosortbase.py
Labels: bug, sorters

#1768 Deprecate run_*** functions
  src/spikeinterface/sorters/runsorter.py
Labels: sorters

#1767 Add GPU container tests
  .github/workflows/test_containers_singularity_gpu.yml
  src/spikeinterface/sorters/external/tests/test_docker_containers.py
  src/spikeinterface/sorters/external/tests/test_singularity_containers.py
  src/spikeinterface/sorters/external/tests/test_singularity_containers_gpu.py
Labels: container, testing

#1772 Exclude end_frame in PhyKilosort get_unit_spike_train
  src/spikeinterface/extractors/phykilosortextractors.py
Labels: extractors

#1762 Pass tmp_folder as parameter for `compute_principal_components`
  src/spikeinterface/postprocessing/principal_component.py
Labels: postprocessing

#1771 Optional check_spike_frames in sorting.frame_slice
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/frameslicesorting.py
Labels: core

#1776 Fixed `num_chan` warning and propagate to remaining instances
  src/spikeinterface/core/binaryfolder.py
  src/spikeinterface/core/binaryrecordingextractor.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/extractors/mdaextractors.py
  src/spikeinterface/sorters/external/tridesclous.py
Labels: core

#1770 Fix `sampling_frequency_max_diff` kwarg for recording concat
  src/spikeinterface/core/segmentutils.py
Labels: core

#1756 Fix lazy generator test
  src/spikeinterface/core/tests/test_generate.py
Labels: testing

#1782 Make plot_amplitudes independent of recording
  src/spikeinterface/widgets/amplitudes.py
Labels: widgets

#1780 Simplify CellExplorer sorting with pymat reader
  pyproject.toml
  src/spikeinterface/extractors/cellexplorersortingextractor.py
Labels: extractors, refactor

#1775 Add _is_json_serializable to extractor
  src/spikeinterface/comparison/hybrid.py
  src/spikeinterface/comparison/multicomparisons.py
  src/spikeinterface/core/base.py
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/basesnippets.py
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/core/old_api_utils.py
  src/spikeinterface/core/tests/test_base.py
  src/spikeinterface/core/tests/test_jsonification.py
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/extractors/klustaextractors.py
  src/spikeinterface/postprocessing/alignsorting.py
  src/spikeinterface/postprocessing/spike_amplitudes.py
  src/spikeinterface/preprocessing/tests/test_filter.py
  src/spikeinterface/sorters/basesorter.py
  src/spikeinterface/sorters/launcher.py
  src/spikeinterface/sortingcomponents/motion_interpolation.py
Labels: enhancement, core

#1765 Make action more windows-friendly
  .github/workflows/test_containers_docker.yml
Labels: container, testing

#1786 Add docs on SI version in cointainer
  doc/modules/sorters.rst
Labels: documentation

#1777 Check probe in waveform extractor and add `has_probe` method
  src/spikeinterface/core/baserecordingsnippets.py
  src/spikeinterface/core/waveform_extractor.py
Labels: core

#1300 High level function for drift : correct_motion()
  doc/api.rst
  doc/how_to/handle_drift.rst
  doc/how_to/handle_drift_files/handle_drift_13_0.png
  doc/how_to/handle_drift_files/handle_drift_13_1.png
  doc/how_to/handle_drift_files/handle_drift_13_2.png
  doc/how_to/handle_drift_files/handle_drift_15_0.png
  doc/how_to/handle_drift_files/handle_drift_15_1.png
  doc/how_to/handle_drift_files/handle_drift_15_2.png
  doc/how_to/handle_drift_files/handle_drift_17_1.png
  doc/how_to/index.rst
  doc/images/motion_correction_overview.png
  doc/index.rst
  doc/modules/index.rst
  doc/modules/motion_correction.rst
  doc/modules/preprocessing.rst
  examples/how_to/handle_drift.py
  src/spikeinterface/postprocessing/unit_localization.py
  src/spikeinterface/preprocessing/__init__.py
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/preprocessing/tests/test_motion.py
  src/spikeinterface/sortingcomponents/motion_estimation.py
  src/spikeinterface/sortingcomponents/motion_interpolation.py
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/tests/test_motion_interpolation.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/__init__.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/drift.py
  src/spikeinterface/widgets/_legacy_mpl_widgets/tests/test_widgets_legacy.py
  src/spikeinterface/widgets/matplotlib/__init__.py
  src/spikeinterface/widgets/matplotlib/motion.py
  src/spikeinterface/widgets/motion.py
  src/spikeinterface/widgets/widget_list.py
Labels: sortingcomponents, preprocessing

#1788 Fix has_probe
  src/spikeinterface/core/baserecordingsnippets.py
  src/spikeinterface/core/waveform_extractor.py
Labels: core

#1783 Handle empty units in quality metrics
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/extractors/phykilosortextractors.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
Labels: qualitymetrics

#1789 Remove 'is_writable' and 'has_default_locations'
  src/spikeinterface/core/base.py
  src/spikeinterface/core/binaryfolder.py
  src/spikeinterface/core/binaryrecordingextractor.py
  src/spikeinterface/core/npysnippetsextractor.py
  src/spikeinterface/core/npzfolder.py
  src/spikeinterface/core/npzsortingextractor.py
  src/spikeinterface/extractors/cbin_ibl.py
  src/spikeinterface/extractors/cellexplorersortingextractor.py
  src/spikeinterface/extractors/iblstreamingrecording.py
  src/spikeinterface/extractors/mdaextractors.py
  src/spikeinterface/extractors/neoextractors/biocam.py
  src/spikeinterface/extractors/neoextractors/maxwell.py
  src/spikeinterface/extractors/neoextractors/openephys.py
  src/spikeinterface/extractors/neoextractors/spikeglx.py
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/shybridextractors.py
  src/spikeinterface/extractors/waveclussnippetstextractors.py
Labels: core

#1626 Neo sorting refactor
  src/spikeinterface/extractors/neoextractors/blackrock.py
  src/spikeinterface/extractors/neoextractors/mearec.py
  src/spikeinterface/extractors/neoextractors/neobaseextractor.py
  src/spikeinterface/extractors/neoextractors/neuralynx.py
  src/spikeinterface/extractors/neoextractors/plexon.py
  src/spikeinterface/extractors/tests/common_tests.py
  src/spikeinterface/extractors/tests/test_neoextractors.py
Labels: enhancement, NEO, extractors

#1794 Move unit_ids argument at the end of qm low-level functions
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
Labels: qualitymetrics

#1809 Improve Documentation VI
  doc/how_to/handle_drift.rst
  doc/installation.rst
  doc/modules/core.rst
  doc/modules/motion_correction.rst
Labels: documentation

#1807 Add docs requirements and build read-the-docs documentation faster
  doc/install_sorters.rst
  docs_rtd.yml
  pyproject.toml
  readthedocs.yml
Labels: documentation, testing, continuous integration

#1814 Fix typo in class attribute for `NeuralynxSortingExtractor`
  src/spikeinterface/extractors/neoextractors/neuralynx.py
Labels: extractors

#1829 Expose AUCpslit param in KS2+
  src/spikeinterface/sorters/external/kilosort2.py
  src/spikeinterface/sorters/external/kilosort2_5.py
  src/spikeinterface/sorters/external/kilosort3.py
Labels: sorters

#1832 Do not load NP probe in OE if load_sync_channel=True
  src/spikeinterface/extractors/neoextractors/openephys.py
Labels: extractors

#1831 Cleanup dumping/to_dict
  src/spikeinterface/comparison/hybrid.py
  src/spikeinterface/comparison/multicomparisons.py
  src/spikeinterface/core/base.py
  src/spikeinterface/core/tests/test_baserecording.py
  src/spikeinterface/core/tests/test_basesnippets.py
  src/spikeinterface/core/tests/test_basesorting.py
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/preprocessing/filter_gaussian.py
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/sorters/launcher.py
Labels: core

#1835 Fix neo release bug in Mearec
  src/spikeinterface/extractors/neoextractors/mearec.py
Labels: bug, extractors

#1838 Fix hdbascan installation in read the docs
  docs_rtd.yml
Labels: documentation, packaging

#1836 Fixed `numba.jit` and `binary num_chan` warnings
  src/spikeinterface/comparison/tests/test_groundtruthstudy.py
  src/spikeinterface/core/tests/test_core_tools.py
  src/spikeinterface/sortingcomponents/clustering/sliding_nn.py
  src/spikeinterface/sortingcomponents/peak_detection.py
Labels: deprecations

#1834 Make all paths resolved and absolute
  src/spikeinterface/core/base.py
  src/spikeinterface/core/binaryfolder.py
  src/spikeinterface/core/binaryrecordingextractor.py
  src/spikeinterface/core/npyfoldersnippets.py
  src/spikeinterface/core/npysnippetsextractor.py
  src/spikeinterface/core/npzfolder.py
  src/spikeinterface/core/zarrrecordingextractor.py
  src/spikeinterface/extractors/cbin_ibl.py
  src/spikeinterface/extractors/combinatoextractors.py
  src/spikeinterface/extractors/hdsortextractors.py
  src/spikeinterface/extractors/matlabhelpers.py
  src/spikeinterface/extractors/mdaextractors.py
  src/spikeinterface/extractors/neoextractors/alphaomega.py
  src/spikeinterface/extractors/neoextractors/axona.py
  src/spikeinterface/extractors/neoextractors/biocam.py
  src/spikeinterface/extractors/neoextractors/blackrock.py
  src/spikeinterface/extractors/neoextractors/ced.py
  src/spikeinterface/extractors/neoextractors/edf.py
  src/spikeinterface/extractors/neoextractors/intan.py
  src/spikeinterface/extractors/neoextractors/maxwell.py
  src/spikeinterface/extractors/neoextractors/mcsraw.py
  src/spikeinterface/extractors/neoextractors/mearec.py
  src/spikeinterface/extractors/neoextractors/neuralynx.py
  src/spikeinterface/extractors/neoextractors/neuroscope.py
  src/spikeinterface/extractors/neoextractors/nix.py
  src/spikeinterface/extractors/neoextractors/openephys.py
  src/spikeinterface/extractors/neoextractors/plexon.py
  src/spikeinterface/extractors/neoextractors/spike2.py
  src/spikeinterface/extractors/neoextractors/spikegadgets.py
  src/spikeinterface/extractors/neoextractors/spikeglx.py
  src/spikeinterface/extractors/neoextractors/tdt.py
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/common_tests.py
  src/spikeinterface/extractors/yassextractors.py
  src/spikeinterface/sorters/basesorter.py
Labels: core, refactor

#1849 Fix full tests by updating hdbscan version
  docs_rtd.yml
  environment_rtd.yml
  pyproject.toml
  src/spikeinterface/core/baserecording.py
Labels: testing, packaging

#1848 Fix Mearec handling of new arguments before neo release 0.13
  src/spikeinterface/extractors/neoextractors/mearec.py
Labels: bug, extractors, packaging

#1850 Relax numpy upper bound and update tridesclous dependency
  pyproject.toml
Labels: packaging

#1843 Remove warning
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
Labels: sortingcomponents, deprecations

#1857 tridesclous 1.6.8
  pyproject.toml
Labels: sorters

#1856 Treat pyproject-toml changed as core change
  .github/workflows/full-test.yml
  pyproject.toml
Labels: testing, continuous integration, packaging

#1858 Eliminate restore keys in CI and simplify installation of dev version dependencies
  .github/actions/build-test-environment/action.yml
  .github/is_spikeinterface_dev.py
  .github/workflows/full-test-with-codecov.yml
  .github/workflows/full-test.yml
Labels: testing, continuous integration, packaging

#1861 Allow order_channel_by_depth to accept dimentsions as list
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/preprocessing/depth_order.py
Labels: bug, preprocessing

#1865 Harmonize radius_um
  doc/how_to/analyse_neuropixels.rst
  doc/how_to/get_started.rst
  doc/how_to/handle_drift.rst
  doc/modules/motion_correction.rst
  doc/modules/sortingcomponents.rst
  examples/how_to/analyse_neuropixels.py
  examples/modules_gallery/widgets/plot_4_peaks_gallery.py
  src/spikeinterface/postprocessing/unit_localization.py
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sorters/internal/tridesclous2.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/position_and_features.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/features_from_peaks.py
  src/spikeinterface/sortingcomponents/matching/naive.py
  src/spikeinterface/sortingcomponents/matching/tdc.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/peak_pipeline.py
  src/spikeinterface/sortingcomponents/tests/test_features_from_peaks.py
  src/spikeinterface/sortingcomponents/tests/test_motion_estimation.py
  src/spikeinterface/sortingcomponents/tests/test_peak_detection.py
  src/spikeinterface/sortingcomponents/tests/test_waveforms/test_temporal_pca.py
  src/spikeinterface/sortingcomponents/tools.py
  src/spikeinterface/sortingcomponents/waveforms/temporal_pca.py
Labels: refactor

#1862 For the cronjob, avoid re-downloading the cache dataset if present
  .github/workflows/caches_cron_job.yml
Labels: continuous integration

#1872 Fix missing import pandas in comparison
  src/spikeinterface/comparison/paircomparisons.py
  src/spikeinterface/comparison/tests/test_groundtruthcomparison.py
Labels: bug, comparison

#1875 Fix NWB streaming: do not convert to Path if ros3 or fsspec!
  .github/workflows/streaming-extractor-test.yml
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwb_s3_extractor.py
Labels: bug, extractors

#1874 Fix bug in pca metrics warnings
  src/spikeinterface/qualitymetrics/pca_metrics.py
Labels: bug, qualitymetrics

#1696 Improve representation of Sorting in memory
  doc/modules/core.rst
  examples/modules_gallery/comparison/generate_erroneous_sorting.py
  src/spikeinterface/comparison/comparisontools.py
  src/spikeinterface/comparison/hybrid.py
  src/spikeinterface/comparison/studytools.py
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/base.py
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/npzfolder.py
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/core/snippets_tools.py
  src/spikeinterface/core/sortingfolder.py
  src/spikeinterface/core/testing.py
  src/spikeinterface/core/tests/test_basesnippets.py
  src/spikeinterface/core/tests/test_basesorting.py
  src/spikeinterface/core/tests/test_frameslicesorting.py
  src/spikeinterface/core/tests/test_numpy_extractors.py
  src/spikeinterface/core/tests/test_sorting_folder.py
  src/spikeinterface/core/tests/test_template_tools.py
  src/spikeinterface/core/tests/test_waveform_extractor.py
  src/spikeinterface/core/tests/test_waveform_tools.py
  src/spikeinterface/core/waveform_extractor.py
  src/spikeinterface/curation/auto_merge.py
  src/spikeinterface/curation/remove_redundant.py
  src/spikeinterface/curation/tests/test_curationsorting.py
  src/spikeinterface/exporters/to_phy.py
  src/spikeinterface/postprocessing/amplitude_scalings.py
  src/spikeinterface/postprocessing/correlograms.py
  src/spikeinterface/postprocessing/isi.py
  src/spikeinterface/postprocessing/principal_component.py
  src/spikeinterface/postprocessing/spike_amplitudes.py
  src/spikeinterface/postprocessing/spike_locations.py
  src/spikeinterface/postprocessing/tests/test_align_sorting.py
  src/spikeinterface/postprocessing/tests/test_correlograms.py
  src/spikeinterface/postprocessing/tests/test_principal_component.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
  src/spikeinterface/sorters/external/mountainsort4.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_clustering.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_localization.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_selection.py
  src/spikeinterface/sortingcomponents/tests/test_peak_detection.py
  src/spikeinterface/widgets/unit_depths.py
Labels: enhancement, core

#1883 Handle edge frames in concatenated rec
  src/spikeinterface/core/segmentutils.py
Labels: bug, core
