Repository SpikeInterface/spikeinterface, pull requests merged in 2024-04, with the labels that each got.

#2647 add option to kilosort4 to force cpu even if cuda is available when small gpu
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#2655 Open Ephys: Use discovered recording ids to load sync timestamps
  src/spikeinterface/extractors/neoextractors/openephys.py
Labels: extractors

#2649 Fix get_traces for a local common reference
  src/spikeinterface/preprocessing/common_reference.py
  src/spikeinterface/preprocessing/tests/test_common_reference.py
Labels: bug

#2665 Fix full tests
  pyproject.toml
Labels: testing

#2662 Deprecate ros3 as a streaming method
  .github/workflows/streaming-extractor-test.yml
  pyproject.toml
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors_streaming.py
Labels: extractors

#2661 Fix channel gains in `NwbRecordingExtractor` with backend
  pyproject.toml
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors.py
Labels: extractors

#2651 Fix typo in fast templates test
  src/spikeinterface/core/tests/test_analyzer_extension_core.py
  src/spikeinterface/core/waveform_tools.py
Labels: bug, testing

#2676 Fix depth location in spikes on traces map
  src/spikeinterface/widgets/spikes_on_traces.py
Labels: bug, widgets

#2679 Add whitening before peeler TDC2 SC2
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sorters/internal/tridesclous2.py
Labels: sorters

#2674 Changing the generation of fake template with a decaying exponential and fix torch locally exclusive
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/tests/test_analyzer_extension_core.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/tests/test_peak_detection.py
Labels: generators

#2641 ADD: Neuropixels ProbeGroup to SpikeGadgetsRecordingExtractor.
  src/spikeinterface/extractors/neoextractors/spikegadgets.py
  src/spikeinterface/extractors/tests/test_neoextractors.py
Labels: extractors

#2611 Seeding silence periods
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/tests/test_analyzer_extension_core.py
  src/spikeinterface/core/tests/test_generate.py
  src/spikeinterface/core/tests/test_sorting_tools.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
  src/spikeinterface/core/tests/test_sparsity.py
  src/spikeinterface/core/tests/test_template_tools.py
  src/spikeinterface/core/tests/test_waveform_tools.py
  src/spikeinterface/core/tests/test_waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/curation/tests/common.py
  src/spikeinterface/exporters/tests/common.py
  src/spikeinterface/extractors/toy_example.py
  src/spikeinterface/generation/tests/test_drift_tools.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/preprocessing/silence_periods.py
  src/spikeinterface/preprocessing/tests/test_silence.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
  src/spikeinterface/qualitymetrics/tests/test_pca_metrics.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
  src/spikeinterface/sortingcomponents/benchmark/tests/common_benchmark_testing.py
  src/spikeinterface/sortingcomponents/tests/common.py
  src/spikeinterface/widgets/tests/test_widgets.py
Labels: core, preprocessing, refactor

#2692 Enable waveform-less plot templates
  src/spikeinterface/widgets/unit_waveforms.py
Labels: widgets

#2690 Improve caching of MS5 sorter
  src/spikeinterface/sorters/external/mountainsort5.py
Labels: sorters

#2701 Update ks4 wrapper for v4.0.3
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#2684 Move "return_scaled" options global to SortingAnalyzer.
  src/spikeinterface/core/analyzer_extension_core.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/sparsity.py
  src/spikeinterface/core/template_tools.py
  src/spikeinterface/core/tests/test_analyzer_extension_core.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
  src/spikeinterface/core/tests/test_sparsity.py
  src/spikeinterface/core/waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/postprocessing/amplitude_scalings.py
  src/spikeinterface/postprocessing/spike_amplitudes.py
  src/spikeinterface/postprocessing/template_similarity.py
  src/spikeinterface/postprocessing/tests/test_spike_amplitudes.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
Labels: core

#2683 Generate drift
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/tests/test_analyzer_extension_core.py
  src/spikeinterface/core/tests/test_generate.py
  src/spikeinterface/core/tests/test_waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/generation/__init__.py
  src/spikeinterface/generation/drifting_generator.py
  src/spikeinterface/generation/noise_tools.py
  src/spikeinterface/generation/tests/test_drifing_generator.py
  src/spikeinterface/generation/tests/test_drift_tools.py
  src/spikeinterface/generation/tests/test_noise_tools.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
  src/spikeinterface/sortingcomponents/benchmark/tests/common_benchmark_testing.py
Labels: generators

#2700 Seepdup random_spikes_selection() and put "all" method in it.
  src/spikeinterface/core/analyzer_extension_core.py
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/core/tests/test_sorting_tools.py
Labels: core

#2706 Add a missing seed in generator
  src/spikeinterface/generation/drifting_generator.py
Labels: generators

#2685 Switch `njit` functions to `cache=False`
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/curation/curation_tools.py
  src/spikeinterface/postprocessing/correlograms.py
  src/spikeinterface/postprocessing/isi.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/sortingcomponents/clustering/sliding_nn.py
Labels: performance

#2345 Remove default values used as expressions in `generate.py`.
  src/spikeinterface/core/generate.py
  src/spikeinterface/curation/tests/test_auto_merge.py
Labels: enhancement, generators

#2707 Remove "waveforms" dependency for compute_quality_metrics().
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
Labels: qualitymetrics

#2613 Load pca from waveform extractor and waveform from Zarr
  src/spikeinterface/core/tests/test_waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/core/waveforms_extractor_backwards_compatibility.py
Labels: core

#2693 Extend compute for extension kwargs and pipeline nodes
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
  src/spikeinterface/preprocessing/remove_artifacts.py
Labels: core

#2714 Fix EID in IBL
  src/spikeinterface/extractors/iblextractors.py
Labels: extractors

#2704 Some fixes for GTStudy
  src/spikeinterface/comparison/groundtruthstudy.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_tools.py
Labels: comparison

#2715 Fix pipelining of extensions
  src/spikeinterface/core/sortinganalyzer.py
Labels: bug, core

#2718 Add basic repr to `Templates` object
  src/spikeinterface/core/template.py
Labels: documentation

#2717 Fix example broken by #2684
  examples/modules_gallery/core/plot_4_sorting_analyzer.py
Labels: documentation

#2716 Allow for `remove_excess_spikes` to remove negative spike times
  src/spikeinterface/curation/remove_excess_spikes.py
  src/spikeinterface/curation/tests/test_remove_excess_spikes.py
Labels: curation

#2605 compute_synchrony_metrics update
  src/spikeinterface/core/tests/test_generate.py
  src/spikeinterface/qualitymetrics/__init__.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
Labels: qualitymetrics, refactor, performance

#2727 Make sure `has_exceeding_spikes` also checks for negative spikes.
  src/spikeinterface/core/waveform_tools.py
  src/spikeinterface/curation/remove_excess_spikes.py
  src/spikeinterface/curation/tests/test_remove_excess_spikes.py
Labels: bug, curation

#2736 Fix performance issue for `aggregate_channels`
  src/spikeinterface/core/channelsaggregationrecording.py
Labels: core, performance

#2713 Add a "how to" for combining recordings
  doc/how_to/combine_recordings.rst
  doc/how_to/index.rst
Labels: documentation

#2720 Port bug fix PRs from Main over to 0.100-bug-fixes
  src/spikeinterface/core/waveform_tools.py
  src/spikeinterface/curation/remove_excess_spikes.py
  src/spikeinterface/curation/tests/test_remove_excess_spikes.py
  src/spikeinterface/sorters/external/kilosort4.py
  src/spikeinterface/sorters/external/mountainsort5.py
Labels: bug

#2767 Speed up test_sorting_s3_nwb_zarr
  src/spikeinterface/extractors/tests/test_nwbextractors_streaming.py
Labels: testing, performance

#2762 Switch exporters docs to `SortingAnalyzer`
  doc/modules/exporters.rst
  src/spikeinterface/exporters/report.py
  src/spikeinterface/exporters/to_phy.py
Labels: documentation, exporters

#2756 Update amplitude cutoff documentation
  doc/modules/qualitymetrics/amplitude_cutoff.rst
Labels: documentation

#2719 Update SortingAnalyzer docs (see #2711)
  doc/conf.py
  doc/how_to/get_started.rst
  doc/how_to/get_started_files/get_started_52_0.png
  doc/how_to/get_started_files/get_started_55_0.png
  doc/how_to/get_started_files/get_started_87_1.png
  doc/how_to/get_started_files/get_started_87_2.png
  doc/how_to/get_started_files/get_started_90_1.png
  doc/how_to/get_started_files/get_started_90_2.png
  doc/how_to/get_started_files/get_started_93_1.png
  doc/how_to/get_started_files/get_started_93_2.png
  doc/how_to/waveform_extractor_to_sorting_analyzer.rst
  doc/images/parent_child.svg
  doc/modules/core.rst
  doc/modules/postprocessing.rst
  examples/how_to/get_started.py
  examples/modules_gallery/core/plot_4_sorting_analyzer.py
Labels: documentation

#2757 Remove randomness of order in _get_children_dependencies
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_analyzer_extension_core.py
Labels: bug

#2752 Check for SortingAnalyzer `return_scaled` in template_tools
  src/spikeinterface/core/template_tools.py
Labels: bug, core

#2774 Fix KS4 for v>=4.0.5 and simplify skip correction
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#2708 Change "idw" to "kriging" in spatial_interpolation_kernel parameters
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/preprocessing/preprocessing_tools.py
  src/spikeinterface/preprocessing/tests/test_preprocessing_tools.py
Labels: motion correction

#2753 Enhancing curation : get_potential_auto_merge()
  src/spikeinterface/curation/auto_merge.py
Labels: curation
