Repository SpikeInterface/spikeinterface, pull requests merged in 2024-07, with the labels that each got.

#3103 Accept paths in `SIJsonEncoder`.
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/tests/test_jsonification.py
Labels: bug

#3115 Out-of-place multiply needed when using amplitude scaling in the drifty hybrid recording
  src/spikeinterface/generation/drift_tools.py
Labels: bug, hybrid

#3088 Adding option to overwrite while doing correct_motion and saving to a folder
  src/spikeinterface/preprocessing/motion.py
Labels: enhancement, preprocessing

#3101 Add plexon2 tests action for install wine and drop full (linux only) tests
  .github/actions/install-wine/action.yml
  .github/determine_testing_environment.py
  .github/workflows/all-tests.yml
  .github/workflows/full-test.yml
  pyproject.toml
  src/spikeinterface/extractors/neoextractors/plexon2.py
Labels: testing, continuous integration

#3124 Add pooch to docs extra
  pyproject.toml
Labels: documentation

#3121 Remove unit_params_range from generate.py
  src/spikeinterface/core/generate.py
Labels: generators

#3104 Since the gui now has curation we should allow users to set curation when making sorting summary
  src/spikeinterface/widgets/sorting_summary.py
Labels: widgets

#2980 get_spike_prototype can have NaN sometimes
  src/spikeinterface/sorters/internal/simplesorter.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/tdc.py
  src/spikeinterface/sortingcomponents/peak_selection.py
  src/spikeinterface/sortingcomponents/tests/test_peak_selection.py
  src/spikeinterface/sortingcomponents/tools.py
Labels: sortingcomponents

#3017 Optimize numba cross-correlation and extend `correlograms.py` docstrings and tests
  src/spikeinterface/postprocessing/__init__.py
  src/spikeinterface/postprocessing/correlograms.py
  src/spikeinterface/postprocessing/tests/test_correlograms.py
Labels: postprocessing

#3053 Add `scale_to_uV` preprocessing
  src/spikeinterface/preprocessing/preprocessinglist.py
  src/spikeinterface/preprocessing/scale.py
  src/spikeinterface/preprocessing/tests/test_scaling.py
Labels: core

#3070 Unify compute_isi_violation docs and add UltraMegaSort2000 citation
  doc/modules/qualitymetrics/isi_violations.rst
  doc/references.rst
  src/spikeinterface/qualitymetrics/misc_metrics.py
Labels: documentation

#3119 Round instead of int for `time_to_sample_index`.
  src/spikeinterface/core/baserecording.py
Labels: core

#3123 Improve export to Phy property handling
  src/spikeinterface/exporters/tests/test_export_to_phy.py
  src/spikeinterface/exporters/to_phy.py
Labels: exporters

#2874 Remove unused extractor attribute `extractor_name`
  src/spikeinterface/core/base.py
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/binaryfolder.py
  src/spikeinterface/core/binaryrecordingextractor.py
  src/spikeinterface/core/npyfoldersnippets.py
  src/spikeinterface/core/npysnippetsextractor.py
  src/spikeinterface/core/npzsortingextractor.py
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/core/old_api_utils.py
  src/spikeinterface/core/sortingfolder.py
  src/spikeinterface/core/zarrextractors.py
  src/spikeinterface/extractors/alfsortingextractor.py
  src/spikeinterface/extractors/cbin_ibl.py
  src/spikeinterface/extractors/cellexplorersortingextractor.py
  src/spikeinterface/extractors/combinatoextractors.py
  src/spikeinterface/extractors/hdsortextractors.py
  src/spikeinterface/extractors/herdingspikesextractors.py
  src/spikeinterface/extractors/iblextractors.py
  src/spikeinterface/extractors/klustaextractors.py
  src/spikeinterface/extractors/matlabhelpers.py
  src/spikeinterface/extractors/mclustextractors.py
  src/spikeinterface/extractors/mcsh5extractors.py
  src/spikeinterface/extractors/mdaextractors.py
  src/spikeinterface/extractors/neoextractors/neuroscope.py
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/phykilosortextractors.py
  src/spikeinterface/extractors/shybridextractors.py
  src/spikeinterface/extractors/spykingcircusextractors.py
  src/spikeinterface/extractors/tridesclousextractors.py
  src/spikeinterface/extractors/waveclussnippetstextractors.py
  src/spikeinterface/extractors/waveclustextractors.py
  src/spikeinterface/extractors/yassextractors.py
Labels: extractors, deprecations

#3129 Add streaming extractor tests to main test script
  .github/determine_testing_environment.py
  .github/workflows/all-tests.yml
  .github/workflows/streaming-extractor-test.yml
  conftest.py
  src/spikeinterface/extractors/iblextractors.py
Labels: testing

#3132 Fix select peaks
  src/spikeinterface/sortingcomponents/peak_selection.py
Labels: bug, sortingcomponents

#3141 Add test_extractors to full test with codecov
  .github/actions/build-test-environment/action.yml
Labels: testing, continuous integration

#3052 Add more helpful error when a non-existent id is passed to extractors
  src/spikeinterface/core/base.py
Labels: documentation, core

#3143 analyse -> analyze in Neuropixels docs
  doc/how_to/analyze_neuropixels.rst
  doc/how_to/analyze_neuropixels_files/analyze_neuropixels_13_0.png
  doc/how_to/analyze_neuropixels_files/analyze_neuropixels_14_1.png
  doc/how_to/analyze_neuropixels_files/analyze_neuropixels_21_1.png
  doc/how_to/analyze_neuropixels_files/analyze_neuropixels_26_1.png
  doc/how_to/analyze_neuropixels_files/analyze_neuropixels_27_1.png
  doc/how_to/analyze_neuropixels_files/analyze_neuropixels_8_1.png
  doc/how_to/index.rst
Labels: documentation

#2744 Regularize whitening
  src/spikeinterface/preprocessing/tests/test_whiten.py
  src/spikeinterface/preprocessing/whiten.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
Labels: preprocessing, hackathon-24

#2959 Benchmarks components: plotting utils
  src/spikeinterface/comparison/groundtruthstudy.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_clustering.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_matching.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_detection.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_tools.py
  src/spikeinterface/sortingcomponents/tools.py
  src/spikeinterface/widgets/gtstudy.py
Labels: sortingcomponents

#2988 Mcsh5 offsets and proper scaling in uV for return_scaled
  src/spikeinterface/extractors/mcsh5extractors.py
Labels: enhancement, extractors

#1781 Make binary recording memmap efficient III (Avoiding spikes by only reserving memory equal to the trace)
  src/spikeinterface/core/binaryrecordingextractor.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/tests/test_binaryrecordingextractor.py
Labels: core, performance

#3153 Remove unused legacy class name/mode from extractors
  src/spikeinterface/core/binaryfolder.py
  src/spikeinterface/core/binaryrecordingextractor.py
  src/spikeinterface/core/npzsortingextractor.py
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/core/zarrextractors.py
  src/spikeinterface/extractors/alfsortingextractor.py
  src/spikeinterface/extractors/cbin_ibl.py
  src/spikeinterface/extractors/cellexplorersortingextractor.py
  src/spikeinterface/extractors/combinatoextractors.py
  src/spikeinterface/extractors/extractorlist.py
  src/spikeinterface/extractors/hdsortextractors.py
  src/spikeinterface/extractors/herdingspikesextractors.py
  src/spikeinterface/extractors/iblextractors.py
  src/spikeinterface/extractors/klustaextractors.py
  src/spikeinterface/extractors/mclustextractors.py
  src/spikeinterface/extractors/mcsh5extractors.py
  src/spikeinterface/extractors/mdaextractors.py
  src/spikeinterface/extractors/neoextractors/alphaomega.py
  src/spikeinterface/extractors/neoextractors/axona.py
  src/spikeinterface/extractors/neoextractors/biocam.py
  src/spikeinterface/extractors/neoextractors/blackrock.py
  src/spikeinterface/extractors/neoextractors/ced.py
  src/spikeinterface/extractors/neoextractors/edf.py
  src/spikeinterface/extractors/neoextractors/intan.py
  src/spikeinterface/extractors/neoextractors/maxwell.py
  src/spikeinterface/extractors/neoextractors/mcsraw.py
  src/spikeinterface/extractors/neoextractors/mearec.py
  src/spikeinterface/extractors/neoextractors/neuralynx.py
  src/spikeinterface/extractors/neoextractors/neuroexplorer.py
  src/spikeinterface/extractors/neoextractors/neuroscope.py
  src/spikeinterface/extractors/neoextractors/nix.py
  src/spikeinterface/extractors/neoextractors/openephys.py
  src/spikeinterface/extractors/neoextractors/plexon.py
  src/spikeinterface/extractors/neoextractors/plexon2.py
  src/spikeinterface/extractors/neoextractors/spike2.py
  src/spikeinterface/extractors/neoextractors/spikegadgets.py
  src/spikeinterface/extractors/neoextractors/spikeglx.py
  src/spikeinterface/extractors/neoextractors/tdt.py
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/phykilosortextractors.py
  src/spikeinterface/extractors/shybridextractors.py
  src/spikeinterface/extractors/sinapsrecordingextractors.py
  src/spikeinterface/extractors/spykingcircusextractors.py
  src/spikeinterface/extractors/tridesclousextractors.py
  src/spikeinterface/extractors/waveclussnippetstextractors.py
  src/spikeinterface/extractors/waveclustextractors.py
  src/spikeinterface/extractors/yassextractors.py
Labels: extractors

#3151 More explicit consistency checks for Channel aggregation
  src/spikeinterface/core/channelsaggregationrecording.py
Labels: core

#3154 Implement apply_merges_to_sorting()
  doc/api.rst
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/core/tests/test_sorting_tools.py
  src/spikeinterface/curation/mergeunitssorting.py
Labels: core, curation

#3161 Fix segment start/end frame None in concatenate_recordings
  src/spikeinterface/core/segmentutils.py
  src/spikeinterface/core/tests/test_segmentutils.py
Labels: core

#2784 Add name as an extractor attribute for `__repr__` purposes
  src/spikeinterface/core/base.py
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/basesnippets.py
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/tests/test_base.py
Labels: core

#3120 Fix `t_starts` not propagated to `save_to_memory`.
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/core/tests/test_time_handling.py
Labels: core

#3169 Build extractor dicts automatically
  src/spikeinterface/extractors/extractorlist.py
  src/spikeinterface/extractors/neoextractors/__init__.py
Labels: extractors

#3165 Saving provenance with paths relative to folder
  src/spikeinterface/core/base.py
Labels: core

#3187 Fix typo in CI testing heading
  .github/workflows/all-tests.yml
Labels: continuous integration

#3185 Convert doc references from `wf_extractor` -> `sorting_analyzer`
  doc/modules/comparison.rst
  doc/modules/core.rst
  doc/modules/postprocessing.rst
Labels: documentation

#3184 Change installation instructions in readme to be compatible with all OS
  README.md
Labels: documentation

#3173 Add explainer of compute always computing in the analyzer (vs WaveformExtractor behavior)
  doc/modules/core.rst
  examples/tutorials/core/plot_4_sorting_analyzer.py
  examples/tutorials/waveform_extractor_to_sorting_analyzer.rst
Labels: documentation

#3170 Better error message for `BaseExtractor.load()`
  src/spikeinterface/core/base.py
Labels: core

#3189 Add a couple of seeds in tests
  src/spikeinterface/core/tests/test_generate.py
  src/spikeinterface/preprocessing/tests/test_silence.py
Labels: testing

#3180 Units aggregation preserve unit ids of aggregated sorters
  src/spikeinterface/core/tests/test_unitsaggregationsorting.py
  src/spikeinterface/core/unitsaggregationsorting.py
Labels: core

#3193 Use names as ids in Plexon1 recording extractor
  src/spikeinterface/extractors/neoextractors/plexon.py
Labels: extractors

#3200 Remove name class attribute in preprocessing module
  src/spikeinterface/core/base.py
  src/spikeinterface/preprocessing/align_snippets.py
  src/spikeinterface/preprocessing/average_across_direction.py
  src/spikeinterface/preprocessing/basepreprocessor.py
  src/spikeinterface/preprocessing/clip.py
  src/spikeinterface/preprocessing/common_reference.py
  src/spikeinterface/preprocessing/decimate.py
  src/spikeinterface/preprocessing/deepinterpolation/deepinterpolation.py
  src/spikeinterface/preprocessing/depth_order.py
  src/spikeinterface/preprocessing/directional_derivative.py
  src/spikeinterface/preprocessing/filter.py
  src/spikeinterface/preprocessing/filter_gaussian.py
  src/spikeinterface/preprocessing/filter_opencl.py
  src/spikeinterface/preprocessing/highpass_spatial_filter.py
  src/spikeinterface/preprocessing/interpolate_bad_channels.py
  src/spikeinterface/preprocessing/normalize_scale.py
  src/spikeinterface/preprocessing/phase_shift.py
  src/spikeinterface/preprocessing/preprocessinglist.py
  src/spikeinterface/preprocessing/rectify.py
  src/spikeinterface/preprocessing/remove_artifacts.py
  src/spikeinterface/preprocessing/resample.py
  src/spikeinterface/preprocessing/silence_periods.py
  src/spikeinterface/preprocessing/unsigned_to_signed.py
  src/spikeinterface/preprocessing/whiten.py
  src/spikeinterface/preprocessing/zero_channel_pad.py
Labels: preprocessing

#3188 Eradicate sphinx warnings
  doc/api.rst
  doc/conf.py
  doc/get_started/install_sorters.rst
  doc/get_started/installation.rst
  doc/how_to/load_your_data_into_sorting.rst
  doc/index.rst
  doc/modules/core.rst
  doc/modules/curation.rst
  doc/modules/exporters.rst
  doc/modules/postprocessing.rst
  doc/modules/preprocessing.rst
  doc/modules/qualitymetrics.rst
  doc/modules/qualitymetrics/references.rst
  doc/modules/qualitymetrics/synchrony.rst
  doc/modules/sorters.rst
  doc/modules/widgets.rst
  doc/references.rst
  doc/releases/0.100.0.rst
  examples/tutorials/README.rst
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/generation/drifting_generator.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
Labels: documentation

#3178 Fix pca transform error
  src/spikeinterface/postprocessing/principal_component.py
Labels: postprocessing

#3138 Fix nn pca_metric computation and update tests
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/qualitymetrics/tests/conftest.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
  src/spikeinterface/qualitymetrics/tests/test_pca_metrics.py
Labels: bug, qualitymetrics

#2850 Fix bug in plot templates
  src/spikeinterface/widgets/tests/test_widgets.py
  src/spikeinterface/widgets/unit_templates.py
  src/spikeinterface/widgets/unit_waveforms.py
  src/spikeinterface/widgets/utils.py
Labels: widgets

#3198 Fix naming when `all_annotations=True` in neo base extractors
  src/spikeinterface/extractors/neoextractors/neobaseextractor.py
Labels: extractors

#3195 Propagate option for using neo channel names as ids in all neo extractors without changing the deafult behavior
  src/spikeinterface/extractors/neoextractors/alphaomega.py
  src/spikeinterface/extractors/neoextractors/axona.py
  src/spikeinterface/extractors/neoextractors/biocam.py
  src/spikeinterface/extractors/neoextractors/blackrock.py
  src/spikeinterface/extractors/neoextractors/ced.py
  src/spikeinterface/extractors/neoextractors/edf.py
  src/spikeinterface/extractors/neoextractors/intan.py
  src/spikeinterface/extractors/neoextractors/maxwell.py
  src/spikeinterface/extractors/neoextractors/mcsraw.py
  src/spikeinterface/extractors/neoextractors/mearec.py
  src/spikeinterface/extractors/neoextractors/neuralynx.py
  src/spikeinterface/extractors/neoextractors/neuroexplorer.py
  src/spikeinterface/extractors/neoextractors/neuroscope.py
  src/spikeinterface/extractors/neoextractors/nix.py
  src/spikeinterface/extractors/neoextractors/openephys.py
  src/spikeinterface/extractors/neoextractors/spike2.py
  src/spikeinterface/extractors/neoextractors/spikegadgets.py
  src/spikeinterface/extractors/neoextractors/spikeglx.py
  src/spikeinterface/extractors/neoextractors/tdt.py
Labels: extractors

#3179 Update nwbextractors.py
  src/spikeinterface/extractors/nwbextractors.py
Labels: extractors

#3205 Channel ids sortingview
  src/spikeinterface/widgets/unit_templates.py
Labels: widgets

#3118 Add time vector case to `get_durations`.
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_time_handling.py
  src/spikeinterface/generation/hybrid_tools.py
Labels: core

#3043 Proposal to implement a sorting_analyzer.merge_units() syntax
  doc/images/spikeinterface_gui.png
  doc/modules/core.rst
  doc/modules/curation.rst
  src/spikeinterface/core/analyzer_extension_core.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
  src/spikeinterface/core/waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/curation/curation_format.py
  src/spikeinterface/curation/tests/test_curation_format.py
  src/spikeinterface/postprocessing/amplitude_scalings.py
  src/spikeinterface/postprocessing/correlograms.py
  src/spikeinterface/postprocessing/isi.py
  src/spikeinterface/postprocessing/localization_tools.py
  src/spikeinterface/postprocessing/principal_component.py
  src/spikeinterface/postprocessing/spike_amplitudes.py
  src/spikeinterface/postprocessing/spike_locations.py
  src/spikeinterface/postprocessing/template_metrics.py
  src/spikeinterface/postprocessing/template_similarity.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/postprocessing/tests/test_multi_extensions.py
  src/spikeinterface/postprocessing/tests/test_principal_component.py
  src/spikeinterface/postprocessing/tests/test_template_similarity.py
  src/spikeinterface/postprocessing/unit_locations.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/peak_localization.py
Labels: enhancement, core

#3203 Port auto-merge changes and refactor
  src/spikeinterface/curation/auto_merge.py
  src/spikeinterface/curation/curation_tools.py
  src/spikeinterface/curation/tests/test_auto_merge.py
  src/spikeinterface/extractors/phykilosortextractors.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
Labels: curation

#3213 Patch for SC2 after release AND bugs in auto merge
  src/spikeinterface/curation/auto_merge.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
Labels: bug, sorters

#3217 Fix bug in extractor_dict_iterator if element is not str/Path
  src/spikeinterface/core/core_tools.py
Labels: bug, core

#3218 Fix estimate_motion when time_vector is set
  src/spikeinterface/sortingcomponents/motion/motion_utils.py
  src/spikeinterface/sortingcomponents/motion/tests/test_motion_estimation.py
Labels: motion correction

#3220 Analyzer docstring cleanup
  src/spikeinterface/core/sortinganalyzer.py
Labels: documentation

#3224 PCA: Extend try-except to fit in run_for_all_spikes
  src/spikeinterface/postprocessing/principal_component.py
Labels: bug, postprocessing

#3215 Implement a simple system to have backward compatibility for Analyzer extension
  src/spikeinterface/core/analyzer_extension_core.py
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_sorting_tools.py
  src/spikeinterface/core/waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/postprocessing/template_similarity.py
  src/spikeinterface/postprocessing/unit_locations.py
Labels: core

#3208 Start apply_curation()
  doc/api.rst
  doc/modules/curation.rst
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_sorting_tools.py
  src/spikeinterface/curation/curation_format.py
  src/spikeinterface/curation/sortingview_curation.py
  src/spikeinterface/curation/tests/test_curation_format.py
  src/spikeinterface/curation/tests/test_sortingview_curation.py
Labels: curation

#3232 Update doc handle drift + better preset
  doc/api.rst
  doc/how_to/handle_drift.rst
  doc/how_to/handle_drift_files/handle_drift_13_0.png
  doc/how_to/handle_drift_files/handle_drift_13_1.png
  doc/how_to/handle_drift_files/handle_drift_13_2.png
  doc/how_to/handle_drift_files/handle_drift_15_0.png
  doc/how_to/handle_drift_files/handle_drift_15_1.png
  doc/how_to/handle_drift_files/handle_drift_15_2.png
  doc/how_to/handle_drift_files/handle_drift_17_0.png
  doc/how_to/handle_drift_files/handle_drift_17_1.png
  doc/how_to/handle_drift_files/handle_drift_17_2.png
  doc/how_to/handle_drift_files/handle_drift_17_3.png
  doc/how_to/handle_drift_files/handle_drift_17_4.png
  doc/how_to/handle_drift_files/handle_drift_17_5.png
  doc/how_to/handle_drift_files/handle_drift_19_0.png
  doc/how_to/handle_drift_files/handle_drift_19_1.png
  doc/how_to/handle_drift_files/handle_drift_19_2.png
  doc/how_to/handle_drift_files/handle_drift_19_3.png
  doc/how_to/handle_drift_files/handle_drift_19_4.png
  doc/how_to/handle_drift_files/handle_drift_19_5.png
  doc/how_to/handle_drift_files/handle_drift_21_1.png
  examples/how_to/handle_drift.py
  pyproject.toml
  src/spikeinterface/generation/drift_tools.py
  src/spikeinterface/generation/hybrid_tools.py
  src/spikeinterface/generation/tests/test_hybrid_tools.py
  src/spikeinterface/preprocessing/__init__.py
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/preprocessing/tests/test_motion.py
  src/spikeinterface/sortingcomponents/motion/decentralized.py
  src/spikeinterface/sortingcomponents/motion/dredge.py
  src/spikeinterface/sortingcomponents/motion/motion_estimation.py
  src/spikeinterface/sortingcomponents/motion/tests/test_motion_estimation.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/widgets/tests/test_widgets.py
Labels: documentation, sortingcomponents, preprocessing

#3210 Now exclusive support for HS v0.4 (Lightning)
  doc/get_started/install_sorters.rst
  src/spikeinterface/comparison/multicomparisons.py
  src/spikeinterface/sorters/external/herdingspikes.py
Labels: sorters

#3265 Fix KS2/2.5/3 skip_kilosort_preprocessing
  src/spikeinterface/sorters/external/kilosortbase.py
Labels: bug, sorters

#3261 Fix name of principal_components ext in qm docs (take 2)
  doc/modules/qualitymetrics.rst
Labels: documentation

#3268 Fix postprocessing docs
  doc/modules/postprocessing.rst
Labels: documentation

#3270 Protect median against nans in get_prototype_spike
  src/spikeinterface/sortingcomponents/tools.py
Labels: bug, postprocessing

#3269 Fix docstring and error for spike_amplitudes
  src/spikeinterface/postprocessing/spike_amplitudes.py
Labels: documentation, postprocessing

#3262 added lowpass parameter, fixed verbose option
  src/spikeinterface/sorters/external/herdingspikes.py
Labels: sorters

#3238 Fix #3236
  src/spikeinterface/widgets/utils_ipywidgets.py
Labels: bug, widgets
