Repository SpikeInterface/spikeinterface, pull requests merged in 2024-06, with the labels that each got.

#2947 Fix marker collection to work on windows
  .github/workflows/core-test.yml
  conftest.py
  src/spikeinterface/comparison/tests/test_groundtruthcomparison.py
  src/spikeinterface/extractors/tests/test_iblextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors_streaming.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/preprocessing/tests/test_detect_bad_channels.py
  src/spikeinterface/preprocessing/tests/test_filter.py
  src/spikeinterface/preprocessing/tests/test_filter_gaussian.py
  src/spikeinterface/preprocessing/tests/test_motion.py
  src/spikeinterface/preprocessing/tests/test_phase_shift.py
  src/spikeinterface/preprocessing/tests/test_resample.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
  src/spikeinterface/qualitymetrics/tests/test_pca_metrics.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
  src/spikeinterface/qualitymetrics/utils.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_clustering.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_matching.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_estimation.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_interpolation.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_detection.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_localization.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_tools.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_clustering.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_matching.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_motion_estimation.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_motion_interpolation.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_peak_detection.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_peak_localization.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_peak_selection.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/merge.py
  src/spikeinterface/sortingcomponents/clustering/split.py
  src/spikeinterface/sortingcomponents/clustering/tdc.py
  src/spikeinterface/sortingcomponents/clustering/triage.py
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/sortingcomponents/matching/tdc.py
  src/spikeinterface/sortingcomponents/matching/wobble.py
  src/spikeinterface/sortingcomponents/motion_estimation.py
  src/spikeinterface/sortingcomponents/motion_interpolation.py
  src/spikeinterface/sortingcomponents/peak_selection.py
  src/spikeinterface/sortingcomponents/waveforms/savgol_denoiser.py
  src/spikeinterface/sortingcomponents/waveforms/temporal_pca.py
  src/spikeinterface/sortingcomponents/waveforms/waveform_thresholder.py
  src/spikeinterface/widgets/tests/test_widgets.py
Labels: testing, packaging, hackathon-24

#2923 Regularised the API from parent_recording to recording in zero_channel_pad
  src/spikeinterface/preprocessing/tests/test_zero_padding.py
  src/spikeinterface/preprocessing/zero_channel_pad.py
Labels: refactor, packaging, hackathon-24

#2925 Switch `calculate_pc_metrics` to `compute_pc_metrics` for api consistency
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
  src/spikeinterface/qualitymetrics/quality_metric_list.py
  src/spikeinterface/qualitymetrics/tests/test_pca_metrics.py
Labels: refactor, packaging, hackathon-24

#2935 Standardise qualitymetrics docstrings to numpydocs standard
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
  src/spikeinterface/qualitymetrics/utils.py
Labels: documentation, hackathon-24

#2962 Add a jQuery extension to enable search
  doc/conf.py
Labels: documentation

#2956 Remove upper bound in scipy dependency for full install
  pyproject.toml
Labels: packaging

#2968 Patch for regularizing folder arguments
  src/spikeinterface/sorters/runsorter.py
Labels: bug, sorters

#2951 Make easier env vars for local testing
  src/spikeinterface/sorters/external/tests/test_docker_containers.py
  src/spikeinterface/sorters/external/tests/test_singularity_containers.py
  src/spikeinterface/sorters/external/tests/test_singularity_containers_gpu.py
  src/spikeinterface/widgets/tests/test_widgets.py
Labels: testing, hackathon-24

#2964 Fix math error in `sd_ratio`
  src/spikeinterface/qualitymetrics/misc_metrics.py
Labels: qualitymetrics

#2922 Update curation module to use `sorting` argument rather than `parent_sorting`
  src/spikeinterface/curation/curationsorting.py
  src/spikeinterface/curation/mergeunitssorting.py
  src/spikeinterface/curation/splitunitsorting.py
Labels: refactor, packaging, hackathon-24

#2940 Add limit for `n_jobs` with a max of `os.cpu_count()`
  src/spikeinterface/core/job_tools.py
  src/spikeinterface/core/tests/test_globals.py
  src/spikeinterface/core/tests/test_job_tools.py
Labels: core, hackathon-24

#2955 Improve profile imports test
  .github/import_test.py
  .github/workflows/test_imports.yml
Labels: continuous integration, packaging

#2969 Add argument to `IntanRecordingExtractor` for opening files with discontinous timestamps
  src/spikeinterface/extractors/neoextractors/intan.py
Labels: extractors

#2971 Fix deepinterpolation tests
  src/spikeinterface/preprocessing/deepinterpolation/deepinterpolation.py
  src/spikeinterface/preprocessing/deepinterpolation/generators.py
  src/spikeinterface/preprocessing/deepinterpolation/tests/test_deepinterpolation.py
  src/spikeinterface/preprocessing/deepinterpolation/train.py
Labels: preprocessing, testing

#2949 Make _set_probes private
  src/spikeinterface/core/baserecordingsnippets.py
  src/spikeinterface/extractors/neoextractors/spikegadgets.py
Labels: core, hackathon-24

#2946 Improve phase shift memory efficiency
  src/spikeinterface/preprocessing/phase_shift.py
Labels: preprocessing, performance, hackathon-24

#2982 Fix #2972
  src/spikeinterface/core/node_pipeline.py
Labels: bug

#2979 Missed `has_scaled`
  src/spikeinterface/core/baserecording.py
Labels: core, refactor

#2893 Extend docstrings for amplitude scaling and collisions
  src/spikeinterface/postprocessing/amplitude_scalings.py
Labels: documentation

#2983 Improve import times with full
  .github/import_test.py
  src/spikeinterface/exporters/report.py
  src/spikeinterface/exporters/to_phy.py
  src/spikeinterface/extractors/matlabhelpers.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/sorters/container_tools.py
  src/spikeinterface/sorters/external/combinato.py
  src/spikeinterface/sorters/external/pykilosort.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/widgets/utils.py
Labels: packaging

#2993 Fix timestamps access in NWB extractor
  src/spikeinterface/extractors/nwbextractors.py
Labels: extractors

#2987 Patch unit location
  src/spikeinterface/postprocessing/unit_localization.py
Labels: bug

#2977 Fixed `select_channels`
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/baserecordingsnippets.py
  src/spikeinterface/core/basesnippets.py
Labels: core

#2970 Fix bug with nan values
  src/spikeinterface/extractors/phykilosortextractors.py
Labels: extractors

#3000 Update tests against template library
  src/spikeinterface/generation/tests/test_template_database.py
Labels: hybrid, generators

#3008 Use "available" for memory caching
  src/spikeinterface/sortingcomponents/tools.py
Labels: sortingcomponents

#2991 Remove neo top level imports
  .github/import_test.py
  src/spikeinterface/extractors/bids.py
  src/spikeinterface/extractors/mcsh5extractors.py
  src/spikeinterface/extractors/neoextractors/blackrock.py
  src/spikeinterface/extractors/neoextractors/spikeglx.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/widgets/utils.py
Labels: packaging

#3002 Avoid redirection to not implemented method in `BaseRecording.select_channels`
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/baserecordingsnippets.py
  src/spikeinterface/core/basesnippets.py
Labels: core

#3001 Add documentation to `frame_slice` in recording and drop redundant inheritance
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/baserecordingsnippets.py
  src/spikeinterface/core/basesnippets.py
Labels: documentation, core

#2989 Add select chanel and select unit method for template objects
  src/spikeinterface/core/template.py
  src/spikeinterface/core/tests/test_template_class.py
Labels: core, hybrid

#3003 Plot potential merges
  src/spikeinterface/widgets/amplitudes.py
  src/spikeinterface/widgets/potential_merges.py
  src/spikeinterface/widgets/unit_waveforms.py
  src/spikeinterface/widgets/utils_ipywidgets.py
  src/spikeinterface/widgets/utils_matplotlib.py
  src/spikeinterface/widgets/widget_list.py
Labels: widgets

#3023 Remove scipy upper bound for streaming extractors
  pyproject.toml
Labels: dependencies, extractors

#3032 Numpy 2.0 cap Fix most egregorious deprecated behavior and cap version
  pyproject.toml
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/tests/test_jsonification.py
  src/spikeinterface/generation/tests/test_template_database.py
  src/spikeinterface/preprocessing/tests/test_highpass_spatial_filter.py
  src/spikeinterface/preprocessing/tests/test_interpolate_bad_channels.py
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/tests/test_waveforms/test_waveform_thresholder.py
  src/spikeinterface/sortingcomponents/waveforms/waveform_thresholder.py
Labels: dependencies, core, testing

#3036 Set DEV=True until release
  src/spikeinterface/__init__.py
Labels: packaging

#3037 Make sure we check `is_filtered()` rather than bound method during run basesorter
  src/spikeinterface/sorters/basesorter.py
  src/spikeinterface/sorters/external/mountainsort5.py
Labels: bug, sorters

#2785 Analyzer set recording
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
Labels: enhancement, core

#3044 Fix bug in plot_potential_merges
  src/spikeinterface/widgets/potential_merges.py
Labels: bug, widgets

#3034 add recording.time_slice like recording.frame_slice
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/tests/test_baserecording.py
Labels: core

#3038 Update cron job for `installation_tips`
  .github/workflows/installation-tips-test.yml
Labels: continuous integration

#3016 Docstrings preprocessing update, fix PR01 and PR02
  src/spikeinterface/preprocessing/astype.py
  src/spikeinterface/preprocessing/depth_order.py
  src/spikeinterface/preprocessing/detect_bad_channels.py
  src/spikeinterface/preprocessing/filter.py
  src/spikeinterface/preprocessing/normalize_scale.py
  src/spikeinterface/preprocessing/phase_shift.py
  src/spikeinterface/preprocessing/resample.py
  src/spikeinterface/preprocessing/silence_periods.py
Labels: documentation, preprocessing

#2984 Remove unittest from postprocessing
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/postprocessing/tests/test_align_sorting.py
  src/spikeinterface/postprocessing/tests/test_amplitude_scalings.py
  src/spikeinterface/postprocessing/tests/test_correlograms.py
  src/spikeinterface/postprocessing/tests/test_isi.py
  src/spikeinterface/postprocessing/tests/test_noise_levels.py
  src/spikeinterface/postprocessing/tests/test_principal_component.py
  src/spikeinterface/postprocessing/tests/test_spike_amplitudes.py
  src/spikeinterface/postprocessing/tests/test_spike_locations.py
  src/spikeinterface/postprocessing/tests/test_template_metrics.py
  src/spikeinterface/postprocessing/tests/test_template_similarity.py
  src/spikeinterface/postprocessing/tests/test_unit_localization.py
Labels: refactor, testing

#2915 Internal motion API, aka `Motion` object
  doc/modules/motion_correction.rst
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/preprocessing/preprocessing_tools.py
  src/spikeinterface/preprocessing/tests/test_motion.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_estimation.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_interpolation.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_tools.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_motion_estimation.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_motion_interpolation.py
  src/spikeinterface/sortingcomponents/motion_estimation.py
  src/spikeinterface/sortingcomponents/motion_interpolation.py
  src/spikeinterface/sortingcomponents/motion_utils.py
  src/spikeinterface/sortingcomponents/tests/test_motion_estimation.py
  src/spikeinterface/sortingcomponents/tests/test_motion_interpolation.py
  src/spikeinterface/sortingcomponents/tests/test_motion_utils.py
  src/spikeinterface/widgets/motion.py
  src/spikeinterface/widgets/tests/test_widgets.py
  src/spikeinterface/widgets/widget_list.py
Labels: motion correction, hackathon-24

#2992 Moving unit_localization into unit_locations for consistency
  src/spikeinterface/exporters/report.py
  src/spikeinterface/postprocessing/__init__.py
  src/spikeinterface/postprocessing/tests/test_unit_locations.py
  src/spikeinterface/postprocessing/unit_locations.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_localization.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_peak_localization.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/peak_localization.py
Labels: postprocessing

#3021 Remove un-used argument
  src/spikeinterface/curation/auto_merge.py
Labels: postprocessing

#3009 Add `peak_to_peak` mode to SNR
  src/spikeinterface/qualitymetrics/misc_metrics.py
Labels: qualitymetrics

#3046 Cell explorer deprecations
  src/spikeinterface/extractors/cellexplorersortingextractor.py
Labels: deprecations

#3054 Fix intan kwargs
  src/spikeinterface/extractors/neoextractors/intan.py
Labels: extractors

#3055 Add support for kilosort>=4.0.12
  src/spikeinterface/core/generate.py
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#3058 Remove duplicate function from common test suite.
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
Labels: testing

#2997 whiteningRange added as Kilosort 2.5 parameter
  src/spikeinterface/sorters/external/kilosort2.py
  src/spikeinterface/sorters/external/kilosort2_5.py
  src/spikeinterface/sorters/external/kilosort3.py
Labels: sorters

#3051 Propagate FrameSlice default behavior to frame_slice and time_slice
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/frameslicerecording.py
Labels: core

#3047 Skip loading `info.json` into `ext.data`
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
Labels: bug, core

#3022 Add peaks_on_probe widget.
  src/spikeinterface/widgets/peaks_on_probe.py
  src/spikeinterface/widgets/widget_list.py
Labels: widgets

#3015 Remove get_template_extremum_channel from spikelocations init
  src/spikeinterface/postprocessing/spike_locations.py
Labels: bug

#3056 Relax numpy
  pyproject.toml
Labels: core, packaging

#3048 fix spike_vector_to_indices()
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/postprocessing/spike_amplitudes.py
  src/spikeinterface/postprocessing/spike_locations.py
Labels: core, postprocessing

#3064 Add `bool` type hint to functions in core module
  src/spikeinterface/core/base.py
  src/spikeinterface/core/baserecordingsnippets.py
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/binaryfolder.py
  src/spikeinterface/core/binaryrecordingextractor.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/frameslicerecording.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/waveform_tools.py
  src/spikeinterface/sorters/basesorter.py
Labels: documentation

#3063 Fix the probe handling tutorial
  examples/tutorials/core/plot_3_handle_probe_info.py
Labels: documentation

#3065 Use names as channel ids in plexon2
  src/spikeinterface/extractors/neoextractors/plexon2.py
Labels: extractors

#2952 Add extractors for SiNAPS Research Platform
  src/spikeinterface/extractors/extractorlist.py
  src/spikeinterface/extractors/sinapsrecordingextractors.py
Labels: extractors, hackathon-24

#2442 Implementing read_spikeglx_event()
  src/spikeinterface/extractors/neoextractors/spikeglx.py
Labels: extractors

#3059 Check start_frame/end_frame in `BaseRecording.get_traces()`
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/frameslicerecording.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/segmentutils.py
  src/spikeinterface/core/tests/test_binaryrecordingextractor.py
  src/spikeinterface/extractors/cbin_ibl.py
  src/spikeinterface/extractors/iblextractors.py
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/preprocessing/average_across_direction.py
  src/spikeinterface/preprocessing/decimate.py
  src/spikeinterface/preprocessing/deepinterpolation/deepinterpolation.py
  src/spikeinterface/preprocessing/directional_derivative.py
  src/spikeinterface/preprocessing/phase_shift.py
  src/spikeinterface/preprocessing/remove_artifacts.py
  src/spikeinterface/preprocessing/resample.py
  src/spikeinterface/preprocessing/silence_periods.py
  src/spikeinterface/preprocessing/zero_channel_pad.py
Labels: core

#3066 Correct docs and docstrings for compute_template_metric units
  doc/modules/core.rst
  doc/modules/postprocessing.rst
  src/spikeinterface/postprocessing/template_metrics.py
Labels: documentation

#3075 Add macos and windows to cache cron jobs
  .github/workflows/caches_cron_job.yml
Labels: testing, continuous integration

#2937 Add tests for windows and mac
  .github/run_tests.sh
  .github/workflows/all-tests.yml
  pyproject.toml
  src/spikeinterface/core/datasets.py
  src/spikeinterface/extractors/tests/common_tests.py
  src/spikeinterface/extractors/tests/test_datalad_downloading.py
  src/spikeinterface/extractors/tests/test_neoextractors.py
  src/spikeinterface/postprocessing/tests/test_principal_component.py
  src/spikeinterface/sorters/tests/test_container_tools.py
Labels: testing, hackathon-24

#2941 Template similarity lags
  src/spikeinterface/comparison/basecomparison.py
  src/spikeinterface/comparison/multicomparisons.py
  src/spikeinterface/comparison/paircomparisons.py
  src/spikeinterface/postprocessing/template_similarity.py
  src/spikeinterface/postprocessing/tests/test_template_similarity.py
Labels: postprocessing, hackathon-24

#3084 Add machinery to run test only on changed files
  .github/determine_testing_environment.py
  .github/workflows/all-tests.yml
  pyproject.toml
  src/spikeinterface/comparison/tests/test_templatecomparison.py
Labels: continuous integration

#3090 Add ibllib to test requirements
  pyproject.toml
Labels: packaging

#3076 Docstrings extractors update, fix PR01 and PR02 #3016
  doc/api.rst
  doc/modules/extractors.rst
  src/spikeinterface/extractors/cbin_ibl.py
  src/spikeinterface/extractors/herdingspikesextractors.py
  src/spikeinterface/extractors/iblextractors.py
  src/spikeinterface/extractors/neoextractors/alphaomega.py
  src/spikeinterface/extractors/neoextractors/biocam.py
  src/spikeinterface/extractors/neoextractors/blackrock.py
  src/spikeinterface/extractors/neoextractors/ced.py
  src/spikeinterface/extractors/neoextractors/intan.py
  src/spikeinterface/extractors/neoextractors/maxwell.py
  src/spikeinterface/extractors/neoextractors/neuralynx.py
  src/spikeinterface/extractors/neoextractors/plexon2.py
  src/spikeinterface/extractors/neoextractors/spikegadgets.py
  src/spikeinterface/extractors/neoextractors/tdt.py
  src/spikeinterface/extractors/toy_example.py
  src/spikeinterface/preprocessing/filter.py
Labels: documentation

#3068 Add plot_drift_map widget
  src/spikeinterface/widgets/motion.py
  src/spikeinterface/widgets/tests/test_widgets.py
  src/spikeinterface/widgets/widget_list.py
Labels: widgets

#3091 Mark failing sorter test on Windows*Python3.12 as xfail
  src/spikeinterface/sorters/tests/test_runsorter.py
Labels: testing

#3089 extractor_dict_iterator for solving path detection in object `kwargs`
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/tests/test_core_tools.py
  src/spikeinterface/sorters/container_tools.py
Labels: bug, core

#3057 Improve error log to json in run_sorter
  src/spikeinterface/sorters/basesorter.py
Labels: sorters

#3024 Add more container dependency checks in `run_sorter`
  src/spikeinterface/sorters/runsorter.py
  src/spikeinterface/sorters/tests/test_runsorter_dependency_checks.py
  src/spikeinterface/sorters/utils/__init__.py
  src/spikeinterface/sorters/utils/misc.py
Labels: sorters

#3094 Reordering recording, sorting args
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/frameslicesorting.py
  src/spikeinterface/core/node_pipeline.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/sparsity.py
  src/spikeinterface/core/tests/test_node_pipeline.py
  src/spikeinterface/core/tests/test_sparsity.py
  src/spikeinterface/core/waveform_tools.py
  src/spikeinterface/curation/remove_excess_spikes.py
  src/spikeinterface/curation/tests/test_remove_excess_spikes.py
  src/spikeinterface/postprocessing/amplitude_scalings.py
  src/spikeinterface/postprocessing/spike_amplitudes.py
  src/spikeinterface/postprocessing/spike_locations.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
Labels: core

#2436 Tools for Generation of Hybrid recordings
  doc/how_to/benchmark_with_hybrid_recordings.rst
  doc/how_to/benchmark_with_hybrid_recordings_files/benchmark_with_hybrid_recordings_20_0.png
  doc/how_to/benchmark_with_hybrid_recordings_files/benchmark_with_hybrid_recordings_28_1.png
  doc/how_to/benchmark_with_hybrid_recordings_files/benchmark_with_hybrid_recordings_37_1.png
  doc/how_to/benchmark_with_hybrid_recordings_files/benchmark_with_hybrid_recordings_9_0.png
  doc/how_to/index.rst
  examples/how_to/README.md
  examples/how_to/analyze_neuropixels.py
  examples/how_to/benchmark_with_hybrid_recordings.py
  pyproject.toml
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/node_pipeline.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/template.py
  src/spikeinterface/core/template_tools.py
  src/spikeinterface/generation/__init__.py
  src/spikeinterface/generation/drift_tools.py
  src/spikeinterface/generation/drifting_generator.py
  src/spikeinterface/generation/hybrid_tools.py
  src/spikeinterface/generation/noise_tools.py
  src/spikeinterface/generation/tests/test_drift_tools.py
  src/spikeinterface/generation/tests/test_hybrid_tools.py
  src/spikeinterface/generation/tests/test_mock.py
  src/spikeinterface/postprocessing/__init__.py
  src/spikeinterface/postprocessing/localization_tools.py
  src/spikeinterface/postprocessing/unit_locations.py
  src/spikeinterface/preprocessing/__init__.py
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/preprocessing/tests/test_motion.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_localization.py
  src/spikeinterface/sortingcomponents/motion_utils.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/tools.py
  src/spikeinterface/widgets/unit_waveforms.py
Labels: enhancement, hybrid
