Repository SpikeInterface/spikeinterface, pull requests merged in 2024-12, with the labels that each got.

#3537 Unify template and quality metrics
  src/spikeinterface/postprocessing/template_metrics.py
  src/spikeinterface/postprocessing/tests/test_template_metrics.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
  src/spikeinterface/qualitymetrics/quality_metric_list.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
Labels: enhancement, postprocessing, qualitymetrics

#3559 Hard code `synchony_sizes`
  doc/get_started/quickstart.rst
  doc/modules/qualitymetrics/synchrony.rst
  src/spikeinterface/qualitymetrics/__init__.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
Labels: qualitymetrics

#3570 Correct method default in docstring
  src/spikeinterface/postprocessing/unit_locations.py
Labels: documentation

#3569 Fix codecov tests
  .github/actions/build-test-environment/action.yml
  .github/workflows/all-tests.yml
  .github/workflows/full-test-with-codecov.yml
  pyproject.toml
Labels: continuous integration

#3557 Fix silence periods
  src/spikeinterface/preprocessing/silence_periods.py
Labels: preprocessing

#3548 Add `stream_mode` as extra_requirements for NWB when streaming
  src/spikeinterface/extractors/nwbextractors.py
Labels: extractors

#3575 Patch to allow ipywidget plot_unit_templates to work with sparse templates (instead of analyzer)
  src/spikeinterface/widgets/unit_waveforms.py
Labels: widgets
