Repository SpikeInterface/spikeinterface, pull requests merged in 2024-08, with the labels that each got.

#3275 More numpydoc fixes
  src/spikeinterface/comparison/basecomparison.py
  src/spikeinterface/comparison/comparisontools.py
  src/spikeinterface/curation/curation_format.py
  src/spikeinterface/curation/curation_tools.py
  src/spikeinterface/curation/splitunitsorting.py
  src/spikeinterface/sorters/container_tools.py
  src/spikeinterface/sorters/external/kilosort.py
  src/spikeinterface/sorters/external/kilosort2.py
  src/spikeinterface/sorters/external/kilosort2_5.py
  src/spikeinterface/sorters/external/kilosort3.py
  src/spikeinterface/sorters/external/kilosortbase.py
Labels: documentation

#3289 Test IBL skip when the setting up the one client fails
  src/spikeinterface/extractors/tests/test_iblextractors.py
Labels: extractors, testing

#3276 Expose save preprocessing in ks4
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#3309 Fix sortingview curation no merge case
  src/spikeinterface/curation/curation_format.py
  src/spikeinterface/curation/tests/sv-sorting-curation-no-merge.json
  src/spikeinterface/curation/tests/test_sortingview_curation.py
Labels: curation

#3318 Lazy loading of zarr timestamps
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/zarrextractors.py
Labels: core

#3085 Add kilosort4 wrapper tests
  .github/scripts/README.MD
  .github/scripts/check_kilosort4_releases.py
  .github/scripts/kilosort4-latest-version.json
  .github/scripts/test_kilosort4_ci.py
  .github/workflows/test_kilosort4.yml
  conftest.py
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters, testing

#3335 fix: download apptainer images without docker client
  src/spikeinterface/sorters/container_tools.py
Labels: container, sorters

#3229 Add `int` type to `num_samples` on `InjectTemplatesRecording`.
  src/spikeinterface/core/generate.py
Labels: documentation

#3259 Job kwargs fix
  src/spikeinterface/core/sortinganalyzer.py
Labels: core

#3267 Drop python 3.8 in pyproject.toml
  pyproject.toml
Labels: packaging

#3279 Proposal for adding Examples to docstrings
  src/spikeinterface/extractors/neoextractors/alphaomega.py
  src/spikeinterface/extractors/neoextractors/axona.py
  src/spikeinterface/extractors/neoextractors/ced.py
  src/spikeinterface/extractors/neoextractors/intan.py
  src/spikeinterface/extractors/neoextractors/plexon.py
  src/spikeinterface/extractors/neoextractors/plexon2.py
  src/spikeinterface/extractors/neoextractors/spikegadgets.py
  src/spikeinterface/extractors/neoextractors/spikeglx.py
Labels: documentation

#3294 Fix sampling frequency repr
  src/spikeinterface/core/baserecording.py
Labels: documentation

#3307 Added sphinxcontrib-jquery
  pyproject.toml
Labels: documentation

#3341 Make InterpolateMotionRecording not JSON-serializable
  src/spikeinterface/sortingcomponents/motion/motion_interpolation.py
Labels: motion correction

#3299 Allow quality and template metrics in sortingview's unit table
  src/spikeinterface/widgets/sorting_summary.py
  src/spikeinterface/widgets/utils_sortingview.py
Labels: widgets

#3287 Refactor `set_property` in base
  src/spikeinterface/core/base.py
  src/spikeinterface/core/tests/test_base.py
Labels: core, refactor, testing

#3349 Fix zarr folder suffix handling
  src/spikeinterface/core/base.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/sortinganalyzer.py
Labels: core

#3312 Add dtype in load_waveforms and analyzer.is_filtered()
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_recording_tools.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
  src/spikeinterface/exporters/to_phy.py
Labels: bug

#3350 Fix print_summary for reporting when not exhaustive_gt
  src/spikeinterface/comparison/paircomparisons.py
Labels: comparison
