Repository SpikeInterface/spikeinterface, pull requests merged in 2024-03, with the labels that each got.

#2520 `SortingAnalyzer` in "how to" analyze neuropixels
  doc/how_to/analyse_neuropixels.rst
  examples/how_to/analyse_neuropixels.py
Labels: documentation

#2510 Small bug fix in zscore : gain / offset must be reset
  src/spikeinterface/preprocessing/normalize_scale.py
  src/spikeinterface/preprocessing/tests/test_normalize_scale.py
Labels: bug, preprocessing

#2511 Fix mutually exclusive keys in job_kwargs
  src/spikeinterface/core/job_tools.py
  src/spikeinterface/core/tests/test_job_tools.py
Labels: bug

#2529 Kilosort4 Wrapper
  doc/install_sorters.rst
  src/spikeinterface/sorters/external/kilosort4.py
  src/spikeinterface/sorters/external/tests/test_kilosort4.py
  src/spikeinterface/sorters/external/tests/test_singularity_containers_gpu.py
  src/spikeinterface/sorters/runsorter.py
  src/spikeinterface/sorters/sorterlist.py
Labels: sorters

#2552 Cleanup of modules gallery docs (post SorterAnalyzer)
  examples/modules_gallery/comparison/plot_5_comparison_sorter_weaknesses.py
  examples/modules_gallery/core/plot_1_recording_extractor.py
  examples/modules_gallery/core/plot_3_handle_probe_info.py
  examples/modules_gallery/core/plot_4_sorting_analyzer.py
  examples/modules_gallery/core/plot_5_append_concatenate_segments.py
  examples/modules_gallery/qualitymetrics/plot_4_curation.py
  examples/modules_gallery/widgets/plot_3_waveforms_gallery.py
  pyproject.toml
Labels: documentation

#2559 Add `check_json` to `zarr` for `SortingAnalyzer` for sorting_provenance file writing
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/analyzer_extension_core.py
  src/spikeinterface/core/sortinganalyzer.py
Labels: core

#2513 Added `round` option to `recording.astype`
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/preprocessing/astype.py
  src/spikeinterface/preprocessing/tests/test_astype.py
Labels: preprocessing

#2576 Add `import os` to recording_tools
  src/spikeinterface/core/recording_tools.py
Labels: bug

#2580 Clarify status of main and Sortinganalyzer
  README.md
  doc/index.rst
Labels: documentation

#2577 Use GPU in `Kilosort4Sorter`
  src/spikeinterface/sorters/external/kilosort4.py
Labels: container, sorters

#2563 `SortingAnalyzer` core documentation
  doc/how_to/analyse_neuropixels.rst
  doc/modules/core.rst
  src/spikeinterface/core/sortinganalyzer.py
Labels: documentation

#2584 Fix to impose sorting of the peaks in from_peaks()
  src/spikeinterface/core/numpyextractors.py
Labels: enhancement, core

#2592 Add batch size to KS4 wrapper
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#2593 Add batch size to KS4 wrapper
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#2547 Simple sorter better params
  src/spikeinterface/sorters/internal/simplesorter.py
Labels: sorters

#2601 Fix template similarity when there are multiple sizes of units
  src/spikeinterface/postprocessing/template_similarity.py
  src/spikeinterface/postprocessing/tests/test_template_similarity.py
Labels: bug

#2571 Proposal for auto import extensions module.
  src/spikeinterface/core/sortinganalyzer.py
Labels: enhancement, core

#2564 Add note about recommendation not to change batch size in Kilosort1-3
  src/spikeinterface/sorters/external/kilosort.py
  src/spikeinterface/sorters/external/kilosort2.py
  src/spikeinterface/sorters/external/kilosort3.py
Labels: documentation

#2622 Update get_started.rst with info for reloading saved binaries
  doc/how_to/get_started.rst
  examples/how_to/get_started.py
Labels: documentation

#2616 SortingAnalyzer: `get_extension_default_params`
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
  src/spikeinterface/postprocessing/tests/test_unit_localization.py
  src/spikeinterface/postprocessing/unit_localization.py
Labels: enhancement, core

#2632 Fix isi_histograms when using numba
  src/spikeinterface/postprocessing/isi.py
Labels: bug, postprocessing

#2549 Allow `export_to_phy` to work with `fast_templates`
  src/spikeinterface/core/analyzer_extension_core.py
  src/spikeinterface/exporters/to_phy.py
Labels: exporters

#2630 Add supportfor `IntanRecordingExtractor` "one-file-per-signal" and "one-file-per-channel" formats
  src/spikeinterface/extractors/tests/test_neoextractors.py
Labels: extractors

#2604 Improve documentation for excess spikes error in `FrameSliceSorting`.
  src/spikeinterface/core/frameslicesorting.py
Labels: documentation

#2635 Remove lazy typing in nwb
  src/spikeinterface/extractors/nwbextractors.py
Labels: extractors

#2636 Modify CI for new dev version criteria
  .github/actions/build-test-environment/action.yml
Labels: continuous integration

#2637 Add extra_requirements for nwb extractors
  src/spikeinterface/extractors/nwbextractors.py
Labels: extractors

#2643 Extend zarr compression options
  src/spikeinterface/core/base.py
  src/spikeinterface/core/tests/test_zarrextractors.py
  src/spikeinterface/core/zarrextractors.py
Labels: core

#2624 Revert change in set_params for unit locations
  src/spikeinterface/postprocessing/tests/test_unit_localization.py
  src/spikeinterface/postprocessing/unit_localization.py
Labels: postprocessing

#2645 Sync documentation with bug fixes
  README.md
  doc/index.rst
  doc/releases/0.100.0.rst
  doc/releases/0.100.1.rst
  doc/releases/0.100.2.rst
  doc/releases/0.100.3.rst
  doc/releases/0.100.4.rst
  doc/whatisnew.rst
Labels: documentation

#2608 Analyzer core extension: improve docstrings
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/analyzer_extension_core.py
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/core/tests/test_analyzer_extension_core.py
  src/spikeinterface/core/waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/postprocessing/principal_component.py
  src/spikeinterface/postprocessing/template_similarity.py
Labels: documentation

#2583 Fix for template matching in circus
  src/spikeinterface/sortingcomponents/matching/circus.py
Labels: sortingcomponents, sorters

#2574 Circus2 improvements
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/features_from_peaks.py
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/sortingcomponents/waveforms/savgol_denoiser.py
Labels: sortingcomponents, sorters

#2600 Proposal to inject anisotropy while creating fake templates
  src/spikeinterface/core/generate.py
Labels: core, hybrid

#2585 Save extension class info.
  src/spikeinterface/core/base.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/sortinganalyzer.py
Labels: core

#2633 WaveformExtractor -> SortingAnalyzer doc page
  doc/conf.py
  doc/how_to/index.rst
  doc/how_to/waveform_extractor_to_sorting_analyzer.rst
  doc/how_to/waveform_extractor_to_sorting_analyzer_files/child_parent_plot.svg
  doc/index.rst
  pyproject.toml
Labels: documentation

#2579 Extension delete on recompute
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_analyzer_extension_core.py
Labels: core

#2572 Make InjectTemplateRecording not json-serializable depending on sorting
  src/spikeinterface/core/generate.py
Labels: bug

#2610 Implement `get_parent()` function
  src/spikeinterface/core/base.py
  src/spikeinterface/core/channelsaggregationrecording.py
  src/spikeinterface/core/channelslice.py
  src/spikeinterface/core/frameslicerecording.py
  src/spikeinterface/core/frameslicesorting.py
  src/spikeinterface/core/tests/test_channelslicerecording.py
  src/spikeinterface/core/tests/test_frameslicerecording.py
  src/spikeinterface/core/tests/test_frameslicesorting.py
  src/spikeinterface/core/tests/test_unitsselectionsorting.py
  src/spikeinterface/core/unitsselectionsorting.py
  src/spikeinterface/curation/remove_duplicated_spikes.py
  src/spikeinterface/curation/remove_excess_spikes.py
  src/spikeinterface/postprocessing/alignsorting.py
  src/spikeinterface/preprocessing/align_snippets.py
  src/spikeinterface/preprocessing/basepreprocessor.py
  src/spikeinterface/preprocessing/zero_channel_pad.py
Labels: enhancement, core

#2551 Allow `auto_merge` to work with `fast_templates`
  src/spikeinterface/curation/auto_merge.py
Labels: curation

#2623 Fast templates: compute `std` with and extend to widgets
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/analyzer_extension_core.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/sparsity.py
  src/spikeinterface/core/tests/test_analyzer_extension_core.py
  src/spikeinterface/core/tests/test_waveform_tools.py
  src/spikeinterface/core/waveform_tools.py
  src/spikeinterface/sorters/internal/tridesclous2.py
  src/spikeinterface/sortingcomponents/clustering/position_and_features.py
  src/spikeinterface/widgets/unit_waveforms.py
  src/spikeinterface/widgets/unit_waveforms_density_map.py
Labels: enhancement, core

#2648 Fix SortingAnalyzer tutorial
  examples/modules_gallery/core/plot_4_sorting_analyzer.py
Labels: documentation
