Repository SpikeInterface/spikeinterface, pull requests merged in 2024-02, with the labels that each got.

#2458 Use core packages on core tests
  pyproject.toml
Labels: testing

#2457 Use `Probe` `__eq__` in Template Object `__eq__`
  src/spikeinterface/core/template.py
Labels: core

#2441 Add support for NWB-Zarr
  pyproject.toml
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors_streaming.py
Labels: enhancement, extractors

#2464 NWB: do not load group property link
  src/spikeinterface/extractors/nwbextractors.py
Labels: extractors

#2450 deprecate ignore_timestamps_errors in OpenEphysLegacyRecordingExtractor
  src/spikeinterface/extractors/neoextractors/openephys.py
  src/spikeinterface/extractors/tests/test_neoextractors.py
Labels: extractors

#2397 GaussianBandpassFilter -> GaussianFilter
  src/spikeinterface/preprocessing/filter_gaussian.py
  src/spikeinterface/preprocessing/preprocessinglist.py
  src/spikeinterface/preprocessing/tests/test_filter_gaussian.py
Labels: preprocessing

#2423 zarr IO for templates object
  pyproject.toml
  src/spikeinterface/core/template.py
  src/spikeinterface/core/tests/test_template_class.py
Labels: core, hybrid

#2466 Fix bug in `GaussianFilter`
  src/spikeinterface/preprocessing/filter_gaussian.py
Labels: bug, preprocessing

#2267 Tridesclous2 update
  src/spikeinterface/comparison/groundtruthstudy.py
  src/spikeinterface/sorters/internal/tridesclous2.py
  src/spikeinterface/sortingcomponents/clustering/merge.py
Labels: sorters

#2398 Implementation of SortingResult (or SortingAnalyse ?)
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/result_core.py
  src/spikeinterface/core/sortingresult.py
  src/spikeinterface/core/tests/test_result_core.py
  src/spikeinterface/core/tests/test_sorting_tools.py
  src/spikeinterface/core/tests/test_sortingresult.py
  src/spikeinterface/core/tests/test_waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/core/waveform_tools.py
  src/spikeinterface/core/waveforms_extractor_backwards_compatibility.py
Labels: enhancement, core, SEP

#2460 update all CI actions
  .github/workflows/caches_cron_job.yml
  .github/workflows/core-test.yml
  .github/workflows/deepinterpolation.yml
  .github/workflows/full-test-with-codecov.yml
  .github/workflows/full-test.yml
  .github/workflows/installation-tips-test.yml
  .github/workflows/issue-on-change-matlab.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/streaming-extractor-test.yml
  .github/workflows/test_containers_docker.yml
  .github/workflows/test_containers_singularity.yml
  .github/workflows/test_containers_singularity_gpu.yml
  .github/workflows/test_imports.yml
Labels: testing, continuous integration

#2484 WIP analyzer
  src/spikeinterface/core/job_tools.py
  src/spikeinterface/core/sortingresult.py
  src/spikeinterface/core/tests/test_sortingresult.py
  src/spikeinterface/core/tests/test_waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/core/waveform_tools.py
  src/spikeinterface/core/waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/curation/tests/test_auto_merge.py
  src/spikeinterface/curation/tests/test_remove_redundant.py
  src/spikeinterface/exporters/tests/common.py
  src/spikeinterface/exporters/tests/test_export_to_phy.py
  src/spikeinterface/exporters/tests/test_report.py
  src/spikeinterface/exporters/to_phy.py
  src/spikeinterface/full.py
  src/spikeinterface/postprocessing/amplitude_scalings.py
  src/spikeinterface/postprocessing/principal_component.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/postprocessing/tests/test_principal_component.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
  src/spikeinterface/qualitymetrics/tests/test_pca_metrics.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
  src/spikeinterface/widgets/all_amplitudes_distributions.py
  src/spikeinterface/widgets/amplitudes.py
  src/spikeinterface/widgets/base.py
  src/spikeinterface/widgets/crosscorrelograms.py
  src/spikeinterface/widgets/quality_metrics.py
  src/spikeinterface/widgets/sorting_summary.py
  src/spikeinterface/widgets/spike_locations.py
  src/spikeinterface/widgets/spikes_on_traces.py
  src/spikeinterface/widgets/template_metrics.py
  src/spikeinterface/widgets/template_similarity.py
  src/spikeinterface/widgets/tests/test_widgets.py
  src/spikeinterface/widgets/unit_depths.py
  src/spikeinterface/widgets/unit_locations.py
  src/spikeinterface/widgets/unit_probe_map.py
  src/spikeinterface/widgets/unit_summary.py
  src/spikeinterface/widgets/unit_waveforms.py
  src/spikeinterface/widgets/unit_waveforms_density_map.py
Labels: enhancement, SEP

#2485 Remove WaveformExtractor from Templates matching
  dev_pool.py
  src/spikeinterface/core/sortingresult.py
  src/spikeinterface/core/sparsity.py
  src/spikeinterface/core/template.py
  src/spikeinterface/core/tests/test_sortingresult.py
  src/spikeinterface/core/tests/test_waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/core/waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/exporters/tests/common.py
  src/spikeinterface/exporters/tests/test_export_to_phy.py
  src/spikeinterface/exporters/tests/test_report.py
  src/spikeinterface/exporters/to_phy.py
  src/spikeinterface/postprocessing/principal_component.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/postprocessing/tests/test_principal_component.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/qualitymetrics/tests/test_pca_metrics.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/sortingcomponents/matching/method_list.py
  src/spikeinterface/sortingcomponents/matching/naive.py
  src/spikeinterface/sortingcomponents/matching/tdc.py
  src/spikeinterface/sortingcomponents/matching/wobble.py
  src/spikeinterface/sortingcomponents/tools.py
  src/spikeinterface/widgets/all_amplitudes_distributions.py
  src/spikeinterface/widgets/spike_locations.py
  src/spikeinterface/widgets/template_similarity.py
  src/spikeinterface/widgets/tests/test_widgets.py
  src/spikeinterface/widgets/unit_depths.py
  src/spikeinterface/widgets/unit_locations.py
  src/spikeinterface/widgets/unit_probe_map.py
  src/spikeinterface/widgets/unit_summary.py
  src/spikeinterface/widgets/unit_waveforms.py
  src/spikeinterface/widgets/unit_waveforms_density_map.py
Labels: enhancement, sortingcomponents

#2475 Use `has_channel_location` instead of `get_property("contact_vector")`
  src/spikeinterface/preprocessing/interpolate_bad_channels.py
Labels: bug, extractors

#2502 Initial benchmark components refactor
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/analyzer_extension_core.py
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/postprocessing/spike_amplitudes.py
  src/spikeinterface/preprocessing/normalize_scale.py
  src/spikeinterface/preprocessing/tests/test_normalize_scale.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_clustering.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_matching.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_estimation.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_interpolation.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_localization.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_selection.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_tools.py
  src/spikeinterface/sortingcomponents/benchmark/tests/common_benchmark_testing.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_clustering.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_matching.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_motion_estimation.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_motion_interpolation.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_peak_localization.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_peak_selection.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/tests/test_benchmark_matching.py
Labels: sortingcomponents, refactor

#2521 Fix scaling of inject templates with copy
  src/spikeinterface/core/generate.py
Labels: generators
