Repository SpikeInterface/spikeinterface, pull requests merged in 2024-09, with the labels that each got.

#3352 Add `load_sorting_analyzer_or_waveforms` function
  doc/api.rst
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/waveforms_extractor_backwards_compatibility.py
Labels: core

#3351 Propagate storage_options to load_sorting_analyzer
  src/spikeinterface/core/sortinganalyzer.py
Labels: core

#3354 Fix widgets tests and add test on unit_table_properties
  .github/workflows/all-tests.yml
  src/spikeinterface/widgets/tests/test_widgets.py
  src/spikeinterface/widgets/utils_sortingview.py
Labels: widgets

#3362 Fix streaming extractor condition in the CI
  .github/workflows/all-tests.yml
Labels: testing, continuous integration

#3360 Clarify meaning of `delta_time` in `compare_sorter_to_ground_truth`
  src/spikeinterface/comparison/paircomparisons.py
  src/spikeinterface/sorters/runsorter.py
Labels: documentation

#3298 More docstring updates for multiple modules
  src/spikeinterface/comparison/collision.py
  src/spikeinterface/comparison/correlogram.py
  src/spikeinterface/comparison/groundtruthstudy.py
  src/spikeinterface/comparison/hybrid.py
  src/spikeinterface/comparison/multicomparisons.py
  src/spikeinterface/comparison/paircomparisons.py
  src/spikeinterface/core/analyzer_extension_core.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/curation/auto_merge.py
  src/spikeinterface/curation/curation_format.py
  src/spikeinterface/curation/curationsorting.py
  src/spikeinterface/curation/mergeunitssorting.py
  src/spikeinterface/curation/remove_redundant.py
  src/spikeinterface/curation/splitunitsorting.py
  src/spikeinterface/extractors/neoextractors/maxwell.py
  src/spikeinterface/extractors/neoextractors/plexon.py
  src/spikeinterface/generation/drift_tools.py
  src/spikeinterface/generation/drifting_generator.py
  src/spikeinterface/generation/hybrid_tools.py
  src/spikeinterface/generation/template_database.py
  src/spikeinterface/postprocessing/correlograms.py
  src/spikeinterface/postprocessing/isi.py
  src/spikeinterface/postprocessing/principal_component.py
  src/spikeinterface/postprocessing/spike_amplitudes.py
  src/spikeinterface/postprocessing/spike_locations.py
  src/spikeinterface/postprocessing/template_metrics.py
  src/spikeinterface/postprocessing/template_similarity.py
  src/spikeinterface/postprocessing/unit_locations.py
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/sorters/launcher.py
  src/spikeinterface/sorters/runsorter.py
  src/spikeinterface/sortingcomponents/clustering/main.py
  src/spikeinterface/sortingcomponents/matching/main.py
  src/spikeinterface/sortingcomponents/motion/motion_cleaner.py
  src/spikeinterface/sortingcomponents/motion/motion_estimation.py
  src/spikeinterface/sortingcomponents/motion/motion_interpolation.py
  src/spikeinterface/sortingcomponents/motion/motion_utils.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/tools.py
Labels: documentation

#3365 "quality" property to be read as string instead of object in `BasePhyKilosortSortingExtractor`
  src/spikeinterface/extractors/phykilosortextractors.py
Labels: extractors

#3319 Fix DeprecationWarnings from distance calculations
  src/spikeinterface/postprocessing/template_similarity.py
Labels: deprecations

#3304 Adding return type annotations
  src/spikeinterface/comparison/comparisontools.py
  src/spikeinterface/core/baseevent.py
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/old_api_utils.py
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/waveform_tools.py
  src/spikeinterface/core/waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/curation/auto_merge.py
  src/spikeinterface/curation/remove_excess_spikes.py
  src/spikeinterface/curation/remove_redundant.py
  src/spikeinterface/extractors/neoextractors/neo_utils.py
  src/spikeinterface/postprocessing/amplitude_scalings.py
  src/spikeinterface/postprocessing/correlograms.py
  src/spikeinterface/postprocessing/template_metrics.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/sorters/external/kilosort.py
  src/spikeinterface/sorters/external/kilosort2.py
  src/spikeinterface/sorters/external/kilosort2_5.py
  src/spikeinterface/sorters/external/kilosort3.py
  src/spikeinterface/sorters/sorterlist.py
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/sortingcomponents/matching/main.py
  src/spikeinterface/sortingcomponents/matching/wobble.py
  src/spikeinterface/sortingcomponents/motion/dredge.py
  src/spikeinterface/sortingcomponents/motion/motion_estimation.py
  src/spikeinterface/sortingcomponents/motion/motion_interpolation.py
  src/spikeinterface/sortingcomponents/peak_localization.py
Labels: documentation

#3346 Clean-up identity merges in `get_potential_auto_merges`
  src/spikeinterface/curation/auto_merge.py
Labels: curation

#3230 Add check for None in 'NoiseGeneratorRecordingSegment' get_traces().
  src/spikeinterface/core/generate.py
Labels: core

#3363 Add `BaseRecording.reset_times()` function
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/tests/test_baserecording.py
Labels: core

#3368 Load phy channel_group as group
  src/spikeinterface/extractors/phykilosortextractors.py
Labels: extractors

#3339 Updates to kilosort 4: version >= 4.0.16, `bad_channels`, `clear_cache`, `use_binary_file`
  .github/run_tests.sh
  .github/scripts/build_job_summary.py
  .github/scripts/check_kilosort4_releases.py
  .github/scripts/determine_testing_environment.py
  .github/scripts/import_test.py
  .github/scripts/test_kilosort4_ci.py
  .github/workflows/all-tests.yml
  .github/workflows/core-test.yml
  .github/workflows/full-test-with-codecov.yml
  .github/workflows/test_imports.yml
  .github/workflows/test_kilosort4.yml
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#3379 Fix time handling test memory
  src/spikeinterface/core/tests/test_time_handling.py
Labels: core, testing

#3380 Reset-times: segment must have either time vector or sampling frequency
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/tests/test_baserecording.py
Labels: bug, core

#3364 Add extra protection for template metrics
  src/spikeinterface/postprocessing/template_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
Labels: postprocessing

#3237 Handle case where channel count changes from probeA to probeB
  src/spikeinterface/generation/drift_tools.py
Labels: hybrid

#3374 Minor typing fixes
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/recording_tools.py
Labels: packaging

#3388 Fix integer overflow of the total sample number when concatenating long recordings
  src/spikeinterface/core/segmentutils.py
Labels: bug

#3347 Analyzer extension exit status
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
Labels: core

#3245 Add `is_filtered` to annotations in `binary.json`
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/binaryrecordingextractor.py
  src/spikeinterface/core/tests/test_binaryrecordingextractor.py
Labels: bug, core

#3391 Reset times 3: fix case when no time vector
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/tests/test_baserecording.py
Labels: core

#3249 Refactor quality metrics tests to use fixture
  src/spikeinterface/qualitymetrics/tests/conftest.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
Labels: qualitymetrics, testing, performance

#3242 Add subwidget parameters for UnitSummaryWidget
  src/spikeinterface/widgets/unit_summary.py
Labels: widgets

#3378 Ensure sorting analyzer in zarr are consolidated
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_analyzer_extension_core.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
Labels: core

#3402 Add decision about headers to dev docs
  doc/development/development.rst
Labels: documentation

#3392 Fix proposal for channel location when probegroup
  src/spikeinterface/core/baserecordingsnippets.py
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_baserecording.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
Labels: bug, core

#3406 Sortingview: only round float properties
  src/spikeinterface/widgets/utils_sortingview.py
Labels: bug, widgets

#3292 Do not delete quality and template metrics on recompute
  src/spikeinterface/postprocessing/template_metrics.py
  src/spikeinterface/postprocessing/tests/conftest.py
  src/spikeinterface/postprocessing/tests/test_template_metrics.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
  src/spikeinterface/qualitymetrics/quality_metric_list.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
Labels: qualitymetrics

#3409 Fix argument spelling in check for binary compatibility
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/sorters/external/kilosort4.py
  src/spikeinterface/sorters/external/kilosortbase.py
Labels: bug

#3369 Extend estimate_sparsity, add from_amplitude and deprecate from_ptp
  src/spikeinterface/core/sparsity.py
  src/spikeinterface/core/tests/test_sparsity.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_matching.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
Labels: core

#3407 Check run info completed only if it exists (back-compatibility)
  src/spikeinterface/core/sortinganalyzer.py
Labels: core

#3412 Refactor pandas save load and convert dtypes
  pyproject.toml
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/postprocessing/template_metrics.py
  src/spikeinterface/postprocessing/tests/common_extension_tests.py
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
Labels: core

#3414 Fix plot motion for multi-segment
  src/spikeinterface/widgets/motion.py
Labels: widgets

#3415 Auto-cast recording to float prior to interpolation
  src/spikeinterface/preprocessing/motion.py
Labels: motion correction

#3416 Add kachery_zone secret
  .github/workflows/all-tests.yml
  .github/workflows/full-test-with-codecov.yml
Labels: widgets, testing

#3432 Fix bug in saving zarr recordings
  src/spikeinterface/core/baserecording.py
Labels: bug, core

#3430 Set `run_info` to `None` for `load_waveforms`
  src/spikeinterface/core/waveforms_extractor_backwards_compatibility.py
Labels: bug, core

#3433 Fix compute analyzer pipeline with tmp recording
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/postprocessing/principal_component.py
Labels: core, postprocessing

#3426 Fix integer overflow in parallel computing
  src/spikeinterface/core/job_tools.py
Labels: core

#3422 Enable testing arm64 Mac architecture in the CI.
  .github/scripts/determine_testing_environment.py
  .github/workflows/all-tests.yml
  src/spikeinterface/extractors/tests/test_neoextractors.py
Labels: testing, continuous integration

#3403 Add `get_channel_locations` to the base recording api
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/baserecordingsnippets.py
Labels: documentation

#3418 Add docstring for `generate_unit_locations`
  src/spikeinterface/core/generate.py
Labels: documentation

#2227 Add spike-train based lazy SortingGenerator
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/tests/test_generate.py
Labels: core, testing

#3445 Relax causal filter tests
  src/spikeinterface/preprocessing/tests/test_filter.py
Labels: testing

#3434 Add `max_threads_per_process` and `mp_context` to pca by channel computation and PCA metrics
  src/spikeinterface/postprocessing/principal_component.py
  src/spikeinterface/postprocessing/tests/test_principal_component.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/qualitymetrics/tests/test_pca_metrics.py
Labels: postprocessing, concurrency
