Repository SpikeInterface/spikeinterface, pull requests merged in 2024-01, with the labels that each got.

#2377 Add zarrrecordingextractor.py for backward compatibility
  src/spikeinterface/core/zarrrecordingextractor.py
  src/spikeinterface/preprocessing/common_reference.py
Labels: core, deprecations

#2375 Fix for Silence periods (saving noise levels)
  src/spikeinterface/preprocessing/silence_periods.py
Labels: bug, preprocessing

#2368 WaveformExtractor.select_units also functional if we.has_recording()=False
  src/spikeinterface/core/waveform_extractor.py
Labels: core

#2389 Add `margin_sd` to gaussian filtering
  src/spikeinterface/preprocessing/filter_gaussian.py
Labels: preprocessing

#2384 Saving the unit_locations as a property of the sorting in generate_ground_truth_recording()
  src/spikeinterface/core/generate.py
Labels: enhancement, hybrid

#2395 Pass job_kwargs to ZarrRecordingExtractor.write_recording
  src/spikeinterface/core/baserecording.py
Labels: bug, core

#2399 Typo fix for verbose setting in Multicomparison
  src/spikeinterface/comparison/basecomparison.py
Labels: documentation

#2291 Machinery for moving templates and generating hybrid recordings with drift.
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/template.py
  src/spikeinterface/generation/__init__.py
  src/spikeinterface/generation/drift_tools.py
  src/spikeinterface/generation/tests/test_drift_tools.py
  src/spikeinterface/preprocessing/motion.py
Labels: hybrid

#2363 Refactor recording tools
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/binaryrecordingextractor.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/tests/test_core_tools.py
  src/spikeinterface/core/tests/test_recording_tools.py
  src/spikeinterface/core/zarrextractors.py
  src/spikeinterface/extractors/mdaextractors.py
  src/spikeinterface/extractors/shybridextractors.py
  src/spikeinterface/sorters/external/hdsort.py
Labels: core, refactor

#2273 run_sorter in docker/singlurity : add option for installing spikeinterface
  .github/workflows/test_containers_docker.yml
  .github/workflows/test_containers_singularity.yml
  .github/workflows/test_containers_singularity_gpu.yml
  src/spikeinterface/__init__.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/sorters/__init__.py
  src/spikeinterface/sorters/container_tools.py
  src/spikeinterface/sorters/external/tests/test_docker_containers.py
  src/spikeinterface/sorters/external/tests/test_singularity_containers.py
  src/spikeinterface/sorters/external/tests/test_singularity_containers_gpu.py
  src/spikeinterface/sorters/runsorter.py
  src/spikeinterface/sorters/tests/test_container_tools.py
  src/spikeinterface/sorters/tests/test_find_folders.py
  src/spikeinterface/sorters/tests/test_runsorter.py
Labels: container, sorters

#2365 Create SharedmemRecording
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/base.py
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/tests/test_baserecording.py
  src/spikeinterface/core/tests/test_numpy_extractors.py
  src/spikeinterface/core/tests/test_recording_tools.py
  src/spikeinterface/core/zarrextractors.py
Labels: enhancement, core

#2405 Use run_sorter function in test_containers_singularity_gpu
  .github/workflows/test_containers_singularity_gpu.yml
  src/spikeinterface/sorters/external/tests/test_singularity_containers_gpu.py
Labels: testing

#2403 Improve ZarrSortingExtractor
  src/spikeinterface/core/tests/test_zarrextractors.py
  src/spikeinterface/core/zarrextractors.py
Labels: enhancement, core

#2287 Add a more robust `delta_x` to `unit_waveforms`
  src/spikeinterface/widgets/unit_waveforms.py
Labels: widgets

#2321 Make `chunksize` in `get_random_data_chunks` throw warning and clip if under limit.
  src/spikeinterface/core/recording_tools.py
Labels: core

#2385 Add DecimateRecording
  src/spikeinterface/preprocessing/decimate.py
  src/spikeinterface/preprocessing/preprocessinglist.py
  src/spikeinterface/preprocessing/tests/test_decimate.py
Labels: preprocessing

#2402 Fix bug in `sd_ratio`
  src/spikeinterface/qualitymetrics/misc_metrics.py
Labels: qualitymetrics

#2353 Cache spike_vector from parent
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/tests/test_unitsselectionsorting.py
  src/spikeinterface/core/unitsselectionsorting.py
  src/spikeinterface/curation/remove_excess_spikes.py
Labels: core

#2276 Circus2 params + various enhancements
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/sortingcomponents/tools.py
Labels: sorters

#2225 A couple updates to mountainsort5 sorter
  src/spikeinterface/sorters/external/mountainsort5.py
Labels: sorters

#2413 Add version limit to `threadpoolctl`
  pyproject.toml
Labels: packaging

#2369 Add stream_folders path to OpenEphysBinaryRecordingExtractor
  src/spikeinterface/extractors/neoextractors/openephys.py
Labels: extractors

#2431 Faster unpickling of ZScoreRecording
  src/spikeinterface/preprocessing/normalize_scale.py
Labels: preprocessing, performance

#2427 Fix sv curation and merge units with array properties
  src/spikeinterface/curation/mergeunitssorting.py
  src/spikeinterface/curation/sortingview_curation.py
  src/spikeinterface/curation/tests/test_curationsorting.py
  src/spikeinterface/widgets/sorting_summary.py
Labels: bug, curation

#2443 Fix bug in `mergeunits`
  src/spikeinterface/curation/mergeunitssorting.py
Labels: bug, curation

#2362 Fix overflow problems with CAR
  src/spikeinterface/preprocessing/common_reference.py
  src/spikeinterface/preprocessing/tests/test_common_reference.py
Labels: bug, preprocessing, testing

#2432 Fix bug in `get_repolarization_slope` with wrong index type
  src/spikeinterface/postprocessing/template_metrics.py
Labels: bug, postprocessing

#2438 Add bit depth compensation to unsigned_to_signed
  src/spikeinterface/preprocessing/tests/test_unsigned_to_signed.py
  src/spikeinterface/preprocessing/unsigned_to_signed.py
Labels: preprocessing

#2410 Improvement to compute sparsity without WaveformsExtractor
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/core/sparsity.py
  src/spikeinterface/core/template.py
  src/spikeinterface/core/template_tools.py
  src/spikeinterface/core/tests/test_sorting_tools.py
  src/spikeinterface/core/tests/test_sparsity.py
  src/spikeinterface/core/tests/test_template_tools.py
  src/spikeinterface/core/tests/test_waveform_tools.py
  src/spikeinterface/core/waveform_tools.py
Labels: enhancement, core

#2418 Fixed parent spike_vector bug
  src/spikeinterface/core/tests/test_unitsselectionsorting.py
  src/spikeinterface/core/unitsselectionsorting.py
  src/spikeinterface/curation/remove_excess_spikes.py
Labels: bug

#2356 Use memory efficient numpy for `ScaleRecordingSegment`
  src/spikeinterface/preprocessing/normalize_scale.py
Labels: preprocessing, performance

#2451 Zarr backcompatibility: map root_path to folder_path
  src/spikeinterface/core/zarrrecordingextractor.py
Labels: core

#2446 Move computation away from `__init__` in duplicated spikes
  src/spikeinterface/curation/remove_duplicated_spikes.py
Labels: curation, performance

#2453 Fix spikes generation on borders
  src/spikeinterface/core/generate.py
Labels: bug, core

#2445 [IO] added exclude_filename argument to NeuralynxRecordingExtractor
  src/spikeinterface/extractors/neoextractors/neuralynx.py
Labels: extractors

#2420 Faster Gaussian filter implementation
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/tests/test_core_tools.py
  src/spikeinterface/preprocessing/filter_gaussian.py
Labels: preprocessing
