Repository SpikeInterface/spikeinterface, pull requests merged in 2024-10, with the labels that each got.

#3443 Allow to save recordingless analyzer as
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/preprocessing/tests/test_filter.py
Labels: core

#3449 Improve IBL recording extractors by PID
  src/spikeinterface/extractors/iblextractors.py
Labels: extractors

#3455 Avoid warnings in sorting analyzer
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
Labels: core

#3439 Get default encoding for Popen
  src/spikeinterface/sorters/utils/shellscript.py
Labels: sorters

#3456 fix random_spikes_selection()
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/core/tests/test_sorting_tools.py
Labels: bug, core

#3446 Expose `backend_options` at the analyzer level to set `storage_options` and `saving_options`
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
  src/spikeinterface/core/zarrextractors.py
Labels: core

#3405 Optimizations for template_similarity (numba and dependencies)
  src/spikeinterface/postprocessing/template_similarity.py
  src/spikeinterface/postprocessing/tests/test_correlograms.py
  src/spikeinterface/postprocessing/tests/test_template_similarity.py
Labels: postprocessing

#2914 Matched filtering with both peak signs simultaneously
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/tests/test_peak_detection.py
Labels: sortingcomponents

#3396 Start a new module for benchmark. Implement SorterStudy that replace GroundTruthStudy
  doc/images/overview.png
  doc/modules/benchmark.rst
  doc/modules/comparison.rst
  src/spikeinterface/benchmark/__init__.py
  src/spikeinterface/benchmark/benchmark_base.py
  src/spikeinterface/benchmark/benchmark_clustering.py
  src/spikeinterface/benchmark/benchmark_matching.py
  src/spikeinterface/benchmark/benchmark_motion_estimation.py
  src/spikeinterface/benchmark/benchmark_motion_interpolation.py
  src/spikeinterface/benchmark/benchmark_peak_detection.py
  src/spikeinterface/benchmark/benchmark_peak_localization.py
  src/spikeinterface/benchmark/benchmark_peak_selection.py
  src/spikeinterface/benchmark/benchmark_plot_tools.py
  src/spikeinterface/benchmark/benchmark_sorter.py
  src/spikeinterface/benchmark/benchmark_tools.py
  src/spikeinterface/benchmark/tests/common_benchmark_testing.py
  src/spikeinterface/benchmark/tests/test_benchmark_clustering.py
  src/spikeinterface/benchmark/tests/test_benchmark_matching.py
  src/spikeinterface/benchmark/tests/test_benchmark_motion_estimation.py
  src/spikeinterface/benchmark/tests/test_benchmark_motion_interpolation.py
  src/spikeinterface/benchmark/tests/test_benchmark_peak_detection.py
  src/spikeinterface/benchmark/tests/test_benchmark_peak_localization.py
  src/spikeinterface/benchmark/tests/test_benchmark_peak_selection.py
  src/spikeinterface/benchmark/tests/test_benchmark_sorter.py
  src/spikeinterface/comparison/__init__.py
  src/spikeinterface/comparison/collision.py
  src/spikeinterface/comparison/correlogram.py
  src/spikeinterface/comparison/groundtruthstudy.py
  src/spikeinterface/full.py
  src/spikeinterface/sortingcomponents/benchmark/__init__.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_peak_selection.py
  src/spikeinterface/widgets/gtstudy.py
Labels: comparison

#3356 nodepipeline : skip chunks when no peaks inside and skip_after_n_peaks
  src/spikeinterface/core/node_pipeline.py
  src/spikeinterface/core/tests/test_node_pipeline.py
Labels: core

#3469 Fix main
  src/spikeinterface/benchmark/tests/test_benchmark_sorter.py
Labels: bug

#3250 Sc2 fixes
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/split.py
  src/spikeinterface/sortingcomponents/matching/circus.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/peak_localization.py
Labels: sorters

#3235 Add neuronexus allego recording Extractor
  src/spikeinterface/extractors/neoextractors/__init__.py
  src/spikeinterface/extractors/neoextractors/neuronexus.py
  src/spikeinterface/extractors/tests/common_tests.py
  src/spikeinterface/extractors/tests/test_neoextractors.py
Labels: NEO, extractors

#3401 Expose reading attempts in Plexon2
  src/spikeinterface/extractors/neoextractors/plexon2.py
  src/spikeinterface/extractors/tests/test_neoextractors.py
Labels: extractors

#3479 Improve error message for `set_probegroup`/`set_probe`
  src/spikeinterface/core/baserecordingsnippets.py
Labels: documentation

#3496 Fix a few typos in the curation docs
  doc/modules/curation.rst
Labels: documentation

#3476 Unit localization
  src/spikeinterface/postprocessing/localization_tools.py
  src/spikeinterface/postprocessing/tests/test_unit_locations.py
Labels: postprocessing

#3495 Template loading average or median
  src/spikeinterface/core/template_tools.py
Labels: core

#3359 Improve noise level machinery
  src/spikeinterface/core/analyzer_extension_core.py
  src/spikeinterface/core/job_tools.py
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/tests/test_analyzer_extension_core.py
  src/spikeinterface/core/tests/test_recording_tools.py
  src/spikeinterface/preprocessing/silence_periods.py
  src/spikeinterface/preprocessing/tests/test_scaling.py
  src/spikeinterface/preprocessing/tests/test_silence.py
  src/spikeinterface/preprocessing/tests/test_whiten.py
Labels: core

#3435 Refactoring auto_merge
  src/spikeinterface/curation/__init__.py
  src/spikeinterface/curation/auto_merge.py
  src/spikeinterface/curation/tests/test_auto_merge.py
Labels: curation
