Repository SpikeInterface/spikeinterface, pull requests merged in 2024-11, with the labels that each got.

#3516 Remove remaining array.ptp()s
  src/spikeinterface/postprocessing/localization_tools.py
  src/spikeinterface/sortingcomponents/motion/dredge.py
Labels: dependencies

#3505 Whitening fix - compute covariance matrix in float
  src/spikeinterface/preprocessing/whiten.py
Labels: preprocessing

#3506 recording_slices in run_node_pipeline()
  src/spikeinterface/core/job_tools.py
  src/spikeinterface/core/node_pipeline.py
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/tests/test_node_pipeline.py
  src/spikeinterface/sortingcomponents/peak_detection.py
Labels: core, performance

#3501 Add error messaging around use of get data in templates
  src/spikeinterface/core/analyzer_extension_core.py
Labels: documentation

#3493 Allow `export_report` to run without waveforms
  src/spikeinterface/exporters/report.py
  src/spikeinterface/widgets/autocorrelograms.py
  src/spikeinterface/widgets/crosscorrelograms.py
  src/spikeinterface/widgets/unit_summary.py
Labels: enhancement, exporters, widgets

#3482 Remove Non-Serializable writing of json
  src/spikeinterface/sorters/basesorter.py
Labels: sorters, deprecations

#3519 Don't let decimate mess with times and skim tests
  src/spikeinterface/preprocessing/decimate.py
  src/spikeinterface/preprocessing/tests/test_decimate.py
Labels: preprocessing

#3527 Removing useless dependencies
  src/spikeinterface/postprocessing/template_metrics.py
  src/spikeinterface/postprocessing/template_similarity.py
  src/spikeinterface/postprocessing/unit_locations.py
Labels: postprocessing

#3535 Add verbose kwarg to mda write_recording
  src/spikeinterface/extractors/mdaextractors.py
Labels: bug

#3524 Fix cbin_file_path
  src/spikeinterface/extractors/cbin_ibl.py
Labels: extractors

#3504 Add custom tutorials index page.
  doc/development/development.rst
  doc/index.rst
  doc/tutorials_custom_index.rst
Labels: documentation

#3509 Add `shift start time` function.
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/tests/test_time_handling.py
Labels: core
