Repository SpikeInterface/spikeinterface, pull requests merged in 2024-05, with the labels that each got.

#2768 Improvements for circus 2
  src/spikeinterface/comparison/groundtruthstudy.py
  src/spikeinterface/curation/auto_merge.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sorters/internal/tridesclous2.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_clustering.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/clustering/sliding_hdbscan.py
  src/spikeinterface/sortingcomponents/clustering/sliding_nn.py
  src/spikeinterface/sortingcomponents/clustering/split.py
  src/spikeinterface/sortingcomponents/tests/test_clustering.py
  src/spikeinterface/sortingcomponents/tools.py
Labels: sorters

#2783 Update detect_bad_channels docs
  doc/modules/preprocessing.rst
Labels: documentation, preprocessing

#2786 Add `select_channels` method to base recording
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/channelslice.py
  src/spikeinterface/core/tests/test_baserecording.py
Labels: core

#2791 Add errors to `ensure` functions in `Base` of widgets
  src/spikeinterface/widgets/base.py
  src/spikeinterface/widgets/crosscorrelograms.py
Labels: widgets

#2801 Remove SharedMemory from SortingAnalyzer and use NumpySorting instead.
  src/spikeinterface/core/numpyextractors.py
  src/spikeinterface/core/sortinganalyzer.py
Labels: core

#2778 Reorganising documentation into Getting Started, Tutorial and How To
  .gitignore
  doc/conf.py
  doc/get_started/import.rst
  doc/get_started/index.rst
  doc/get_started/install_sorters.rst
  doc/get_started/installation.rst
  doc/get_started/quickstart.rst
  doc/get_started/quickstart_files/quickstart_16_0.png
  doc/get_started/quickstart_files/quickstart_16_1.png
  doc/get_started/quickstart_files/quickstart_22_1.png
  doc/get_started/quickstart_files/quickstart_52_0.png
  doc/get_started/quickstart_files/quickstart_84_1.png
  doc/get_started/quickstart_files/quickstart_84_2.png
  doc/get_started/quickstart_files/quickstart_90_1.png
  doc/get_started/quickstart_files/quickstart_90_2.png
  doc/how_to/combine_recordings.rst
  doc/how_to/index.rst
  doc/how_to/load_matlab_data.rst
  doc/how_to/process_by_channel_group.rst
  doc/how_to/viewers.rst
  doc/index.rst
  examples/get_started/quickstart.py
  examples/how_to/README.md
  examples/modules_gallery/README.rst
  examples/modules_gallery/core/README.rst
  examples/tutorials/README.rst
  examples/tutorials/comparison/README.rst
  examples/tutorials/comparison/generate_erroneous_sorting.py
  examples/tutorials/comparison/plot_5_comparison_sorter_weaknesses.py
  examples/tutorials/core/README.rst
  examples/tutorials/core/eight_tetrodes.prb
  examples/tutorials/core/plot_1_recording_extractor.py
  examples/tutorials/core/plot_2_sorting_extractor.py
  examples/tutorials/core/plot_3_handle_probe_info.py
  examples/tutorials/core/plot_4_sorting_analyzer.py
  examples/tutorials/core/plot_5_append_concatenate_segments.py
  examples/tutorials/core/plot_6_handle_times.py
  examples/tutorials/extractors/README.rst
  examples/tutorials/extractors/plot_1_read_various_formats.py
  examples/tutorials/extractors/plot_2_working_with_unscaled_traces.py
  examples/tutorials/qualitymetrics/README.rst
  examples/tutorials/qualitymetrics/plot_3_quality_mertics.py
  examples/tutorials/qualitymetrics/plot_4_curation.py
  examples/tutorials/waveform_extractor_to_sorting_analyzer.rst
  examples/tutorials/widgets/README.rst
  examples/tutorials/widgets/plot_1_rec_gallery.py
  examples/tutorials/widgets/plot_2_sort_gallery.py
  examples/tutorials/widgets/plot_3_waveforms_gallery.py
  examples/tutorials/widgets/plot_4_peaks_gallery.py
Labels: documentation

#2810 Update KS4 parameters
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#2790 Provide useful message if sorting used instead of analyzer for remove_duplicate_units
  src/spikeinterface/curation/remove_redundant.py
Labels: curation

#2775 Fix split in more than 2 units and extend curation docs and tests
  src/spikeinterface/curation/curationsorting.py
  src/spikeinterface/curation/splitunitsorting.py
  src/spikeinterface/curation/tests/test_curationsorting.py
Labels: curation

#2828 Zarr: extract time vector once and for all!
  src/spikeinterface/core/zarrextractors.py
  src/spikeinterface/generation/template_database.py
Labels: bug, core

#2546 Add more backwards compatibly for MockWaveformExtractor
  src/spikeinterface/core/analyzer_extension_core.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
  src/spikeinterface/core/waveforms_extractor_backwards_compatibility.py
  src/spikeinterface/postprocessing/correlograms.py
Labels: core

#2829 Add extra check in fix_job_kwargs
  src/spikeinterface/core/job_tools.py
  src/spikeinterface/core/tests/test_job_tools.py
Labels: core

#2794 Add typing to `write_binary_recording`
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/preprocessing/unsigned_to_signed.py
Labels: documentation

#2830 Switch `Visualise` to `Visualize`
  doc/how_to/viewers.rst
Labels: documentation

#2809 Add parameter for irc1
  src/spikeinterface/sorters/external/ironclust.py
Labels: sorters

#2803 Add html representation for recording objects
  src/spikeinterface/core/baserecording.py
Labels: core

#2795 improve verbose of `ChunkRecordingExecutor`
  src/spikeinterface/core/job_tools.py
Labels: core

#2773 Compute quality metrics after pipeline nodes
  src/spikeinterface/core/sortinganalyzer.py
Labels: core

#2747 HTML `__repr__` for Sorting objects
  src/spikeinterface/core/basesorting.py
Labels: enhancement

#2740 Add `color_channels` option in in plot_probe_map
  src/spikeinterface/widgets/probe_map.py
Labels: widgets

#2811 Benchmark sorting components + Tridesclous2 improvement
  src/spikeinterface/comparison/groundtruthstudy.py
  src/spikeinterface/core/node_pipeline.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/generation/drifting_generator.py
  src/spikeinterface/sorters/internal/tridesclous2.py
  src/spikeinterface/sorters/tests/test_launcher.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_clustering.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_estimation.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_tools.py
  src/spikeinterface/sortingcomponents/benchmark/tests/common_benchmark_testing.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_clustering.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_matching.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_motion_interpolation.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_peak_detection.py
  src/spikeinterface/sortingcomponents/benchmark/tests/test_benchmark_peak_localization.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/main.py
  src/spikeinterface/sortingcomponents/clustering/method_list.py
  src/spikeinterface/sortingcomponents/clustering/tdc.py
  src/spikeinterface/sortingcomponents/matching/wobble.py
  src/spikeinterface/sortingcomponents/tests/test_clustering.py
  src/spikeinterface/sortingcomponents/tools.py
  src/spikeinterface/widgets/gtstudy.py
Labels: sortingcomponents, sorters

#2750 Template amplitude should not be returned as absolute value
  src/spikeinterface/core/template_tools.py
Labels: core

#2797 Channel aggregation preserves names
  src/spikeinterface/core/channelsaggregationrecording.py
  src/spikeinterface/core/tests/test_channelsaggregationrecording.py
Labels: core

#2842 Add `is_scaled` to `Templates` object
  src/spikeinterface/core/analyzer_extension_core.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/template.py
  src/spikeinterface/core/tests/test_template_tools.py
  src/spikeinterface/generation/drifting_generator.py
  src/spikeinterface/generation/tests/test_drift_tools.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sorters/internal/tridesclous2.py
  src/spikeinterface/sortingcomponents/benchmark/tests/common_benchmark_testing.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/position_and_features.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/tools.py
Labels: hybrid

#2852 Load `is_scaled` in from zarr Template representation
  src/spikeinterface/core/template.py
  src/spikeinterface/core/tests/test_template_class.py
Labels: core, hybrid

#2888 Put get_extension (to trigger auto-import) before get_children_dependencies for deleting Analyzer extensions to prevent KeyError
  src/spikeinterface/core/sortinganalyzer.py
Labels: core

#2858 Add binary sufixes to job tools memory specification (e.g. 1GiB vs 1GB)
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/job_tools.py
  src/spikeinterface/core/tests/test_core_tools.py
Labels: core, concurrency, performance

#2705 Sort input extensions
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_analyzer_extension_core.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
Labels: enhancement

#2796 Only assign memmap within boundaries for `write_binary`
  src/spikeinterface/core/recording_tools.py
Labels: core, performance

#2845 Avoid duplicating channel names as property in neo base extractor when `all_annotations=True`
  src/spikeinterface/extractors/neoextractors/neobaseextractor.py
Labels: NEO, extractors

#2848 Use the `is_scaled` attribute inside of `template_tools` functions
  src/spikeinterface/core/sparsity.py
  src/spikeinterface/core/template_tools.py
Labels: core

#2866 Pin matplotlib dependency
  pyproject.toml
Labels: dependencies, packaging

#2885 Add peak_to_peak mode to get_templates_amplitude
  src/spikeinterface/core/template_tools.py
  src/spikeinterface/core/tests/test_template_tools.py
Labels: core

#2884 Protect zarr properties of type object
  src/spikeinterface/core/zarrextractors.py
  src/spikeinterface/extractors/phykilosortextractors.py
Labels: core

#2737 Extend capabilities of plot_traces and spikes_on_traces
  src/spikeinterface/widgets/spikes_on_traces.py
  src/spikeinterface/widgets/traces.py
  src/spikeinterface/widgets/utils_ipywidgets.py
  src/spikeinterface/widgets/utils_matplotlib.py
Labels: widgets

#2606 Fix analyzer sampling frequency check
  src/spikeinterface/core/sortinganalyzer.py
Labels: core

#2861 Unpin sphinx and add networkx dependency.
  pyproject.toml
Labels: documentation, packaging

#2870 Components of SC2
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
Labels: sortingcomponents

#2894 Add `_params_descriptions` for simple sorter
  src/spikeinterface/sorters/internal/simplesorter.py
Labels: documentation

#2891 Fix the new way of handling cmap in matpltolib. This fix the matplotib 3.9 problem related to this.
  pyproject.toml
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_estimation.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_peak_selection.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/clustering/sliding_hdbscan.py
  src/spikeinterface/sortingcomponents/clustering/split.py
  src/spikeinterface/widgets/collision.py
  src/spikeinterface/widgets/motion.py
  src/spikeinterface/widgets/multicomparison.py
  src/spikeinterface/widgets/utils.py
Labels: widgets, packaging

#2898 remove verbose from job_kwargs
  src/spikeinterface/core/job_tools.py
  src/spikeinterface/core/recording_tools.py
  src/spikeinterface/core/tests/test_recording_tools.py
  src/spikeinterface/sorters/internal/simplesorter.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/position_and_features.py
  src/spikeinterface/sortingcomponents/clustering/position_and_pca.py
  src/spikeinterface/sortingcomponents/clustering/position_ptp_scaled.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/clustering/sliding_hdbscan.py
  src/spikeinterface/sortingcomponents/tests/test_clustering.py
  src/spikeinterface/sortingcomponents/tests/test_motion_estimation.py
  src/spikeinterface/sortingcomponents/tests/test_peak_detection.py
  src/spikeinterface/sortingcomponents/tests/test_peak_localization.py
  src/spikeinterface/sortingcomponents/tests/test_peak_selection.py
Labels: core

#2860 Update tridesclous2
  src/spikeinterface/sorters/internal/tridesclous2.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_clustering.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_matching.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_motion_estimation.py
  src/spikeinterface/sortingcomponents/benchmark/benchmark_tools.py
  src/spikeinterface/sortingcomponents/clustering/tdc.py
  src/spikeinterface/widgets/utils.py
Labels: sorters

#2901 Fix remaining verbose clashing
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/recording_tools.py
Labels: core

#2902 Making `chunk_size=None` behavior for n_jobs=1 explicit
  src/spikeinterface/core/job_tools.py
  src/spikeinterface/core/tests/test_job_tools.py
Labels: core

#2904 Remove unused argument in nwb extractors `read_file_from_backend`
  src/spikeinterface/extractors/nwbextractors.py
Labels: extractors

#2903 Add static method to `NWBRecordingExtractor` to fetch the available electrical series
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors.py
Labels: extractors

#2905 Fix some bugs in matched filtering
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/tests/test_peak_detection.py
Labels: bug

#2909 Add `zarr.open` kwargs to `fetch_available_electrical_series_paths` in `NWBRecordingExtractor`
  src/spikeinterface/extractors/nwbextractors.py
Labels: extractors

#2939 Remove unused imports in ibl test
  src/spikeinterface/extractors/tests/test_iblextractors.py
Labels: testing

#2932 Remove numba type signature to prevent compilation of numba functions at import
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/postprocessing/correlograms.py
  src/spikeinterface/postprocessing/isi.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
Labels: packaging, performance
