Repository SpikeInterface/spikeinterface, pull requests merged in 2025-06, with the labels that each got.

#3933 More informative errors in frame slicing
  src/spikeinterface/core/frameslicerecording.py
Labels: core

#3898 Remove classes from extractor and preprocessing `__init__`
  examples/tutorials/core/plot_4_sorting_analyzer.py
  examples/tutorials/extractors/plot_1_read_various_formats.py
  src/spikeinterface/extractors/__init__.py
  src/spikeinterface/extractors/extractor_classes.py
  src/spikeinterface/extractors/extractorlist.py
  src/spikeinterface/extractors/iblextractors.py
  src/spikeinterface/extractors/neoextractors/__init__.py
  src/spikeinterface/extractors/neoextractors/neo_utils.py
  src/spikeinterface/extractors/tests/test_cbin_ibl_extractors.py
  src/spikeinterface/extractors/tests/test_iblextractors.py
  src/spikeinterface/extractors/tests/test_mdaextractors.py
  src/spikeinterface/extractors/tests/test_neoextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors.py
  src/spikeinterface/extractors/tests/test_nwbextractors_streaming.py
  src/spikeinterface/extractors/tests/test_shybridextractors.py
  src/spikeinterface/extractors/tests/test_whitematterrecordingextractor.py
  src/spikeinterface/preprocessing/__init__.py
  src/spikeinterface/preprocessing/preprocessing_classes.py
  src/spikeinterface/preprocessing/scale.py
  src/spikeinterface/preprocessing/tests/test_average_across_direction.py
  src/spikeinterface/preprocessing/tests/test_decimate.py
  src/spikeinterface/preprocessing/tests/test_depth_order.py
  src/spikeinterface/preprocessing/tests/test_detect_bad_channels.py
  src/spikeinterface/preprocessing/tests/test_directional_derivative.py
  src/spikeinterface/preprocessing/tests/test_scaling.py
  src/spikeinterface/sorters/external/combinato.py
  src/spikeinterface/sorters/external/hdsort.py
  src/spikeinterface/sorters/external/herdingspikes.py
  src/spikeinterface/sorters/external/ironclust.py
  src/spikeinterface/sorters/external/kilosortbase.py
  src/spikeinterface/sorters/external/klusta.py
  src/spikeinterface/sorters/external/mountainsort4.py
  src/spikeinterface/sorters/external/mountainsort5.py
  src/spikeinterface/sorters/external/pykilosort.py
  src/spikeinterface/sorters/external/spyking_circus.py
  src/spikeinterface/sorters/external/tridesclous.py
  src/spikeinterface/sorters/external/waveclus.py
  src/spikeinterface/sorters/external/waveclus_snippets.py
  src/spikeinterface/sorters/external/yass.py
  src/spikeinterface/sortingcomponents/tests/test_triage.py
  src/spikeinterface/sortingcomponents/tests/test_waveforms/test_neural_network_denoiser.py
Labels: refactor, packaging

#3981 Fix typo on readme
  README.md
Labels: documentation

#3842 Plot drifting templates
  src/spikeinterface/sortingcomponents/matching/tdc.py
  src/spikeinterface/widgets/drift_templates.py
  src/spikeinterface/widgets/unit_waveforms.py
  src/spikeinterface/widgets/widget_list.py
Labels: widgets

#3972 Cleanup unused import across codebase
  src/spikeinterface/core/analyzer_extension_core.py
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/curation/splitunitsorting.py
  src/spikeinterface/curation/tests/test_remove_redundant.py
  src/spikeinterface/extractors/hdsortextractors.py
  src/spikeinterface/extractors/iblextractors.py
  src/spikeinterface/extractors/klustaextractors.py
  src/spikeinterface/extractors/matlabhelpers.py
  src/spikeinterface/extractors/mcsh5extractors.py
  src/spikeinterface/extractors/neoextractors/blackrock.py
  src/spikeinterface/extractors/neoextractors/neobaseextractor.py
  src/spikeinterface/extractors/neoextractors/neuronexus.py
  src/spikeinterface/extractors/nwbextractors.py
  src/spikeinterface/extractors/shybridextractors.py
  src/spikeinterface/extractors/tests/test_bidsextractors.py
  src/spikeinterface/extractors/tests/test_combinatoextractors.py
  src/spikeinterface/extractors/tests/test_hdsortextractors.py
  src/spikeinterface/extractors/tests/test_klustaextractors.py
  src/spikeinterface/extractors/tests/test_spykingcircusextractors.py
  src/spikeinterface/extractors/tests/test_tridesclousextractors.py
  src/spikeinterface/extractors/tests/test_waveclustextractors.py
  src/spikeinterface/extractors/tests/test_whitematterrecordingextractor.py
  src/spikeinterface/extractors/tests/test_yassextractors.py
  src/spikeinterface/generation/template_database.py
  src/spikeinterface/generation/tests/test_splitting_tools.py
  src/spikeinterface/generation/tests/test_template_database.py
  src/spikeinterface/postprocessing/tests/test_isi.py
  src/spikeinterface/postprocessing/tests/test_template_similarity.py
  src/spikeinterface/postprocessing/unit_locations.py
Labels: packaging

#3941 Allow for `SortingAnalyzer` or `BaseSorter` in `plot_*`
  src/spikeinterface/widgets/isi_distribution.py
  src/spikeinterface/widgets/rasters.py
  src/spikeinterface/widgets/unit_presence.py
Labels: enhancement, widgets

#3854 Sc2 deterministic mode
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/graph_clustering.py
  src/spikeinterface/sortingcomponents/clustering/graph_tools.py
  src/spikeinterface/sortingcomponents/clustering/peak_svd.py
  src/spikeinterface/sortingcomponents/clustering/split.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/tools.py
Labels: enhancement, sortingcomponents, sorters

#3973 Improve generators
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/tests/test_generate.py
  src/spikeinterface/core/tests/test_job_tools.py
  src/spikeinterface/generation/drifting_generator.py
  src/spikeinterface/generation/tests/test_drifing_generator.py
Labels: generators

#3990 Propagate `relative_to` to `dump_to_pickle`
  src/spikeinterface/core/base.py
  src/spikeinterface/core/tests/test_baserecording.py
Labels: bug

#3995 Optional loading of compression ratio in zarr recording
  src/spikeinterface/core/loading.py
  src/spikeinterface/core/zarrextractors.py
Labels: core

#3438 Add PreprocessingPipeline
  doc/how_to/build_pipeline_with_dicts.rst
  doc/how_to/build_pipeline_with_dicts_files/build_pipeline_with_dicts_6_2.png
  doc/modules/preprocessing.rst
  doc/tutorials_custom_index.rst
  examples/how_to/build_pipeline_with_dicts.py
  src/spikeinterface/preprocessing/__init__.py
  src/spikeinterface/preprocessing/detect_bad_channels.py
  src/spikeinterface/preprocessing/pipeline.py
  src/spikeinterface/preprocessing/tests/test_detect_bad_channels.py
  src/spikeinterface/preprocessing/tests/test_pipeline.py
Labels: enhancement, preprocessing

#4010 Fix get_neo_* functions
  src/spikeinterface/extractors/neoextractors/__init__.py
  src/spikeinterface/extractors/neoextractors/neo_utils.py
Labels: extractors

#3989 Benchmark with no ground truth based on residual analysis.
  src/spikeinterface/benchmark/__init__.py
  src/spikeinterface/benchmark/benchmark_base.py
  src/spikeinterface/benchmark/benchmark_sorter_without_gt.py
  src/spikeinterface/benchmark/residual_analysis.py
  src/spikeinterface/benchmark/tests/test_benchmark_sorter_without_gt.py
  src/spikeinterface/benchmark/tests/test_residual_analysis.py
  src/spikeinterface/comparison/basecomparison.py
  src/spikeinterface/comparison/comparisontools.py
  src/spikeinterface/comparison/paircomparisons.py
  src/spikeinterface/comparison/tests/test_templatecomparison.py
Labels: benchmarks
