Repository SpikeInterface/spikeinterface, pull requests merged in 2025-03, with the labels that each got.

#3728 Fix gain inference for "Volts" unit in Plexon2 files
  src/spikeinterface/extractors/neoextractors/neobaseextractor.py
Labels: extractors

#3717 New sparsity (to add Ks clustering in components)
  src/spikeinterface/core/sparsity.py
  src/spikeinterface/core/tests/test_sparsity.py
Labels: core

#3737 Propagate `agreemennt_method` to `compare_multiple_sorters`
  src/spikeinterface/comparison/basecomparison.py
  src/spikeinterface/comparison/multicomparisons.py
  src/spikeinterface/comparison/tests/test_multisortingcomparison.py
Labels: comparison

#3749 Patch for merging
  src/spikeinterface/core/sortinganalyzer.py
Labels: sorters

#3742 Explicit sparsity mask for SparseWaveform
  src/spikeinterface/core/node_pipeline.py
Labels: core

#3712 Ks clustering
  src/spikeinterface/sortingcomponents/clustering/method_list.py
Labels: sortingcomponents

#3649 Add LocationsWidget and plot_locations
  src/spikeinterface/widgets/spike_locations_by_time.py
  src/spikeinterface/widgets/tests/test_widgets.py
  src/spikeinterface/widgets/widget_list.py
Labels: enhancement, widgets

#3730 Some benchmark plot improvement
  src/spikeinterface/benchmark/benchmark_base.py
  src/spikeinterface/benchmark/benchmark_clustering.py
  src/spikeinterface/benchmark/benchmark_matching.py
  src/spikeinterface/benchmark/benchmark_plot_tools.py
  src/spikeinterface/benchmark/benchmark_sorter.py
Labels: benchmarks

#3746 Clean up all docs warnings
  doc/api.rst
  doc/conf.py
  doc/index.rst
  doc/modules/comparison.rst
  doc/modules/index.rst
  doc/modules/sorters.rst
  examples/tutorials/curation/plot_2_train_a_model.py
  examples/tutorials/curation/plot_3_upload_a_model.py
  src/spikeinterface/benchmark/benchmark_peak_localization.py
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/curation/train_manual_curation.py
  src/spikeinterface/widgets/unit_summary.py
  src/spikeinterface/widgets/unit_waveforms.py
  src/spikeinterface/widgets/widget_list.py
Labels: documentation

#3740 Fix `aggregate_channels` merging of channel ids with different string sub type
  src/spikeinterface/core/channelsaggregationrecording.py
  src/spikeinterface/core/channelslice.py
  src/spikeinterface/core/tests/test_channelsaggregationrecording.py
Labels: bug

#3751 Fix stream names and ids representation in numpy 2.0
  src/spikeinterface/extractors/neoextractors/neobaseextractor.py
Labels: extractors

#3759 Add psutil to [test]
  pyproject.toml
Labels: packaging

#3757 Pin sortingview version
  pyproject.toml
Labels: widgets

#3762 Support new sortingview and kachery
  .github/workflows/all-tests.yml
  .github/workflows/full-test-with-codecov.yml
  pyproject.toml
  src/spikeinterface/curation/sortingview_curation.py
Labels: curation, widgets

#3770 In sorting_summary: `rp_violation` -> `rp_violations`
  src/spikeinterface/widgets/sorting_summary.py
Labels: widgets

#3768 Fix KS4 tests
  .github/scripts/check_kilosort4_releases.py
  .github/scripts/test_kilosort4_ci.py
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters, testing

#3767 Allow `aggregate_channels` to accept a dict of recordings
  src/spikeinterface/core/baserecordingsnippets.py
  src/spikeinterface/core/channelsaggregationrecording.py
  src/spikeinterface/core/tests/test_channelsaggregationrecording.py
Labels: enhancement, preprocessing

#3646 Adding colorbar support to peak activity widget
  src/spikeinterface/widgets/peak_activity.py
Labels: widgets

#3773 Allow preprocessing on dicts of recordings (again)
  .github/workflows/deepinterpolation.yml
  doc/api.rst
  doc/how_to/process_by_channel_group.rst
  doc/modules/preprocessing.rst
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/preprocessing/astype.py
  src/spikeinterface/preprocessing/average_across_direction.py
  src/spikeinterface/preprocessing/clip.py
  src/spikeinterface/preprocessing/common_reference.py
  src/spikeinterface/preprocessing/decimate.py
  src/spikeinterface/preprocessing/deepinterpolation/deepinterpolation.py
  src/spikeinterface/preprocessing/depth_order.py
  src/spikeinterface/preprocessing/directional_derivative.py
  src/spikeinterface/preprocessing/filter.py
  src/spikeinterface/preprocessing/filter_gaussian.py
  src/spikeinterface/preprocessing/highpass_spatial_filter.py
  src/spikeinterface/preprocessing/interpolate_bad_channels.py
  src/spikeinterface/preprocessing/normalize_scale.py
  src/spikeinterface/preprocessing/phase_shift.py
  src/spikeinterface/preprocessing/preprocessinglist.py
  src/spikeinterface/preprocessing/rectify.py
  src/spikeinterface/preprocessing/remove_artifacts.py
  src/spikeinterface/preprocessing/resample.py
  src/spikeinterface/preprocessing/silence_periods.py
  src/spikeinterface/preprocessing/tests/test_clip.py
  src/spikeinterface/preprocessing/tests/test_grouped_preprocessing.py
  src/spikeinterface/preprocessing/unsigned_to_signed.py
  src/spikeinterface/preprocessing/whiten.py
  src/spikeinterface/preprocessing/zero_channel_pad.py
Labels: preprocessing

#3779 add `load_extension()` in `MockWaveformExtractor` for backwards compatibility
  src/spikeinterface/core/waveforms_extractor_backwards_compatibility.py
Labels: deprecations

#3787 Update tj-actions changes-files for security
  .github/workflows/all-tests.yml
  .github/workflows/deepinterpolation.yml
  .github/workflows/issue-on-change-matlab.yml
Labels: continuous integration

#3786 Add job kwargs to KS4
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#3788 Better naming for SI units
  src/spikeinterface/extractors/neoextractors/neobaseextractor.py
Labels: extractors

#3778 Update sorting property dtype check on unit aggregation to allow for different string types
  src/spikeinterface/core/tests/test_unitsaggregationsorting.py
  src/spikeinterface/core/unitsaggregationsorting.py
  src/spikeinterface/postprocessing/template_metrics.py
  src/spikeinterface/postprocessing/tests/test_template_metrics.py
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
  src/spikeinterface/qualitymetrics/tests/test_metrics_functions.py
Labels: bug

#3772 Update `load_motion_info` to load legacy motion folders
  pyproject.toml
  src/spikeinterface/preprocessing/motion.py
Labels: preprocessing

#3803 Print zarr exception if `super_zarr_open` fails
  src/spikeinterface/core/zarrextractors.py
Labels: core

#3802 Make sure to use the latest ibllib version - ONE will come along
  .github/scripts/determine_testing_environment.py
  pyproject.toml
  src/spikeinterface/extractors/tests/test_iblextractors.py
Labels: extractors

#3781 Add `_precomputable_kwarg_names` to `BaseExtractor`
  src/spikeinterface/core/base.py
  src/spikeinterface/preprocessing/whiten.py
Labels: core

#3810 Add nwb extractors to API docs
  doc/api.rst
Labels: documentation, extractors

#3815 Fix error message and pass through function for generating `NumpySorting`
  src/spikeinterface/core/numpyextractors.py
Labels: bug
