Repository SpikeInterface/spikeinterface, pull requests merged in 2025-02, with the labels that each got.

#3531 Extend whitening tests
  src/spikeinterface/preprocessing/tests/test_whiten.py
  src/spikeinterface/preprocessing/whiten.py
Labels: preprocessing

#3580 Adding SharedMemoryTemplates
  src/spikeinterface/core/template.py
  src/spikeinterface/core/tests/test_template_class.py
  src/spikeinterface/generation/__init__.py
  src/spikeinterface/generation/drift_tools.py
  src/spikeinterface/generation/tests/test_drift_tools.py
Labels: enhancement, sortingcomponents, core

#2192 Add distance / dot product function for comparing spike train similarity
  src/spikeinterface/comparison/collision.py
  src/spikeinterface/comparison/comparisontools.py
  src/spikeinterface/comparison/correlogram.py
  src/spikeinterface/comparison/paircomparisons.py
  src/spikeinterface/comparison/tests/test_symmetricsortingcomparison.py
Labels: comparison

#3670 Allow for concatenated mode in `get_some_projections` and `compute_pc_metrics`
  src/spikeinterface/postprocessing/principal_component.py
  src/spikeinterface/postprocessing/tests/test_principal_component.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
Labels: bug, qualitymetrics

#3671 Remove mmap mode in numpy folder
  src/spikeinterface/core/sortingfolder.py
Labels: core

#3674 Fix plot_1_automated_curation.py
  examples/tutorials/curation/plot_1_automated_curation.py
Labels: documentation

#3651 Extend `si.load` capabilities
  src/spikeinterface/benchmark/benchmark_base.py
  src/spikeinterface/benchmark/benchmark_motion_estimation.py
  src/spikeinterface/core/core_tools.py
  src/spikeinterface/core/loading.py
  src/spikeinterface/core/motion.py
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_generate.py
  src/spikeinterface/core/tests/test_loading.py
  src/spikeinterface/core/tests/test_motion_core.py
  src/spikeinterface/core/zarrextractors.py
  src/spikeinterface/generation/hybrid_tools.py
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/sortingcomponents/motion/__init__.py
  src/spikeinterface/sortingcomponents/motion/decentralized.py
  src/spikeinterface/sortingcomponents/motion/dredge.py
  src/spikeinterface/sortingcomponents/motion/iterative_template.py
  src/spikeinterface/sortingcomponents/motion/motion_estimation.py
  src/spikeinterface/sortingcomponents/motion/motion_interpolation.py
  src/spikeinterface/sortingcomponents/motion/motion_utils.py
  src/spikeinterface/sortingcomponents/motion/tests/test_motion_interpolation.py
  src/spikeinterface/widgets/motion.py
Labels: core

#3607 Add a fast correlogram merge
  src/spikeinterface/postprocessing/correlograms.py
  src/spikeinterface/postprocessing/tests/test_extension_merges.py
Labels: postprocessing

#3676 Add support of Zarr recent versions to highlight
  doc/releases/0.102.0.rst
Labels: documentation

#3677 Add `time_slice` method to `BaseSorting`
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/tests/test_basesorting.py
Labels: enhancement, core

#3681 After release
  pyproject.toml
  src/spikeinterface/__init__.py
Labels: packaging

#3683 Test Python 3.13
  .github/workflows/all-tests.yml
  pyproject.toml
  src/spikeinterface/extractors/phykilosortextractors.py
  src/spikeinterface/sorters/tests/test_runsorter.py
Labels: testing, continuous integration

#3694 Add `SortingAnalyzer.set_sorting_property()/get_sorting_property()` functions
  src/spikeinterface/core/base.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/tests/test_sortinganalyzer.py
Labels: core

#3686 Fix bug in `super_zarr_open`
  src/spikeinterface/core/zarrextractors.py
Labels: bug, core

#3691 Fix `chunk_size_limit` in `get_random_recording_slices`
  src/spikeinterface/core/recording_tools.py
Labels: bug, core

#3692 Add `_parent` to `select_segment` classes
  src/spikeinterface/core/channelslice.py
  src/spikeinterface/core/segmentutils.py
  src/spikeinterface/preprocessing/basepreprocessor.py
Labels: core

#3697 Add BaseSorter._dynamic_params to be to retrieve parameters dynamically
  .github/scripts/test_kilosort4_ci.py
  pyproject.toml
  src/spikeinterface/preprocessing/tests/test_whiten.py
  src/spikeinterface/sorters/basesorter.py
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#3700 Add parents in HTML representation and always print class name
  src/spikeinterface/core/base.py
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/basesorting.py
Labels: core

#3706 Add torch to test installation
  pyproject.toml
Labels: continuous integration

#3552 Wrap medicine motion estimation
  src/spikeinterface/sortingcomponents/motion/medicine.py
  src/spikeinterface/sortingcomponents/motion/motion_estimation.py
Labels: motion correction

#3662 Improve peak detection benchmark
  src/spikeinterface/benchmark/benchmark_base.py
  src/spikeinterface/benchmark/benchmark_peak_detection.py
  src/spikeinterface/benchmark/benchmark_plot_tools.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/tools.py
  src/spikeinterface/widgets/utils.py
Labels: sortingcomponents

#3658 improve tdc clustering options
  src/spikeinterface/sorters/internal/tridesclous2.py
  src/spikeinterface/sortingcomponents/clustering/merge.py
  src/spikeinterface/sortingcomponents/clustering/split.py
  src/spikeinterface/sortingcomponents/clustering/tdc.py
  src/spikeinterface/sortingcomponents/peak_detection.py
Labels: sortingcomponents

#3713 Enhance the CC plots
  src/spikeinterface/widgets/crosscorrelograms.py
Labels: widgets

#3707 Deprecate num channels in BinaryRecordingExtractor
  src/spikeinterface/core/binaryrecordingextractor.py
  src/spikeinterface/core/tests/test_binaryrecordingextractor.py
Labels: deprecations

#3693 Peak SVD motion extraction
  src/spikeinterface/core/node_pipeline.py
  src/spikeinterface/sortingcomponents/clustering/peak_svd.py
  src/spikeinterface/sortingcomponents/motion/__init__.py
  src/spikeinterface/sortingcomponents/motion/motion_interpolation.py
  src/spikeinterface/sortingcomponents/tests/test_clustering.py
  src/spikeinterface/sortingcomponents/tools.py
  src/spikeinterface/sortingcomponents/waveforms/temporal_pca.py
Labels: sortingcomponents

#3701 Set max_channel property of MdaSortingExtractor
  src/spikeinterface/extractors/mdaextractors.py
  src/spikeinterface/extractors/tests/test_mdaextractors.py
Labels: extractors

#3487 Improve merging and iterative merging
  doc/modules/curation.rst
  src/spikeinterface/benchmark/benchmark_base.py
  src/spikeinterface/benchmark/benchmark_clustering.py
  src/spikeinterface/benchmark/benchmark_matching.py
  src/spikeinterface/benchmark/benchmark_merging.py
  src/spikeinterface/benchmark/benchmark_motion_estimation.py
  src/spikeinterface/benchmark/benchmark_peak_detection.py
  src/spikeinterface/benchmark/benchmark_peak_localization.py
  src/spikeinterface/benchmark/tests/common_benchmark_testing.py
  src/spikeinterface/benchmark/tests/test_benchmark_clustering.py
  src/spikeinterface/benchmark/tests/test_benchmark_matching.py
  src/spikeinterface/benchmark/tests/test_benchmark_merging.py
  src/spikeinterface/benchmark/tests/test_benchmark_motion_interpolation.py
  src/spikeinterface/benchmark/tests/test_benchmark_peak_detection.py
  src/spikeinterface/benchmark/tests/test_benchmark_peak_localization.py
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/core/template_tools.py
  src/spikeinterface/curation/__init__.py
  src/spikeinterface/curation/auto_merge.py
  src/spikeinterface/curation/tests/common.py
  src/spikeinterface/curation/tests/test_auto_merge.py
  src/spikeinterface/generation/__init__.py
  src/spikeinterface/generation/drift_tools.py
  src/spikeinterface/generation/splitting_tools.py
  src/spikeinterface/generation/tests/test_splitting_tools.py
  src/spikeinterface/postprocessing/localization_tools.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/tools.py
Labels: sortingcomponents, curation
