Repository SpikeInterface/spikeinterface, pull requests merged in 2025-01, with the labels that each got.

#3553 MotionEstimationStudy : plot drift with the scatter plot
  src/spikeinterface/benchmark/benchmark_motion_estimation.py
Labels: motion correction

#3556 Fix use of keep during run_sorter benchmark
  src/spikeinterface/benchmark/benchmark_base.py
  src/spikeinterface/benchmark/benchmark_sorter.py
Labels: bug, sortingcomponents

#3600 Convert generated unit_ids in docs to strings
  examples/tutorials/widgets/plot_2_sort_gallery.py
Labels: bug, documentation

#3497 Fix dtype of quality metrics before and after merging
  src/spikeinterface/qualitymetrics/quality_metric_calculator.py
  src/spikeinterface/qualitymetrics/quality_metric_list.py
  src/spikeinterface/qualitymetrics/tests/test_quality_metric_calculator.py
Labels: qualitymetrics

#2918 Automatic curation with metrics
  doc/api.rst
  doc/conf.py
  doc/how_to/auto_curation_prediction.rst
  doc/how_to/auto_curation_training.rst
  doc/how_to/index.rst
  doc/images/files_screen.png
  doc/images/hf-logo.svg
  doc/images/initial_model_screen.png
  doc/tutorials_custom_index.rst
  examples/tutorials/curation/README.rst
  examples/tutorials/curation/plot_1_automated_curation.py
  examples/tutorials/curation/plot_2_train_a_model.py
  examples/tutorials/curation/plot_3_upload_a_model.py
  examples/tutorials/qualitymetrics/plot_3_quality_metrics.py
  pyproject.toml
  src/spikeinterface/curation/__init__.py
  src/spikeinterface/curation/model_based_curation.py
  src/spikeinterface/curation/tests/test_model_based_curation.py
  src/spikeinterface/curation/tests/test_train_manual_curation.py
  src/spikeinterface/curation/tests/trained_pipeline/best_model.skops
  src/spikeinterface/curation/tests/trained_pipeline/labels.csv
  src/spikeinterface/curation/tests/trained_pipeline/model_accuracies.csv
  src/spikeinterface/curation/tests/trained_pipeline/model_info.json
  src/spikeinterface/curation/tests/trained_pipeline/training_data.csv
  src/spikeinterface/curation/train_manual_curation.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
Labels: curation, hackathon-24

#3612 Fix sphinx doc build
  readthedocs.yml
Labels: documentation

#3614 Change to default value `use_binary_file=True` for KS4
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#3601 Small fixes in curation format and apply_curation()
  src/spikeinterface/curation/curation_format.py
Labels: curation

#3619 Switch RTD build to fail on gallery example failure
  doc/conf.py
Labels: documentation

#3622 Fix dataframe index dtype due to csv in quality metrics
  src/spikeinterface/core/sortinganalyzer.py
Labels: core

#3518 Sc2 making use of new recording slices
  src/spikeinterface/core/template.py
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
  src/spikeinterface/sortingcomponents/clustering/random_projections.py
  src/spikeinterface/sortingcomponents/peak_detection.py
  src/spikeinterface/sortingcomponents/peak_localization.py
  src/spikeinterface/sortingcomponents/tests/test_peak_detection.py
  src/spikeinterface/sortingcomponents/tools.py
Labels: sorters

#3624 Add experiment_name annotation to open ephys
  src/spikeinterface/extractors/neoextractors/openephys.py
Labels: extractors

#3616 Changes for spikeinterface-gui
  src/spikeinterface/widgets/sorting_summary.py
  src/spikeinterface/widgets/tests/test_widgets.py
  src/spikeinterface/widgets/utils.py
  src/spikeinterface/widgets/utils_sortingview.py
Labels: widgets

#3627 Fix `plot_sorting_summary` widget
  src/spikeinterface/widgets/sorting_summary.py
  src/spikeinterface/widgets/tests/test_widgets.py
  src/spikeinterface/widgets/utils.py
  src/spikeinterface/widgets/utils_sortingview.py
Labels: widgets

#3620 Improve docstring of `get_neuropixels_sample_shifts`
  src/spikeinterface/extractors/neuropixels_utils.py
Labels: documentation

#3623 Add `get_start_time`/`get_end_time` functions and use them in `get_duration`
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/loading.py
Labels: core

#3636 Check for channel_indices is None
  src/spikeinterface/preprocessing/average_across_direction.py
Labels: bug, preprocessing

#3635 Fix precision/recall in hybrid example
  doc/how_to/benchmark_with_hybrid_recordings.rst
  examples/how_to/benchmark_with_hybrid_recordings.py
Labels: documentation

#3638 Make `time_range` conversion to array dtype `float64`
  src/spikeinterface/widgets/traces.py
Labels: widgets

#3526 Implement engine="thread" in ChunkRecordingExecutor
  doc/get_started/quickstart.rst
  src/spikeinterface/core/__init__.py
  src/spikeinterface/core/globals.py
  src/spikeinterface/core/job_tools.py
  src/spikeinterface/core/tests/test_globals.py
  src/spikeinterface/core/tests/test_job_tools.py
  src/spikeinterface/core/tests/test_waveform_tools.py
  src/spikeinterface/core/waveform_tools.py
  src/spikeinterface/postprocessing/principal_component.py
  src/spikeinterface/postprocessing/tests/test_principal_component.py
  src/spikeinterface/qualitymetrics/pca_metrics.py
  src/spikeinterface/qualitymetrics/tests/conftest.py
  src/spikeinterface/qualitymetrics/tests/test_pca_metrics.py
  src/spikeinterface/sortingcomponents/clustering/merge.py
  src/spikeinterface/sortingcomponents/clustering/split.py
Labels: core, concurrency

#3604 Adding Hanning filtering
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/tests/test_waveforms/test_hanning_filter.py
  src/spikeinterface/sortingcomponents/waveforms/hanning_filter.py
Labels: sortingcomponents

#3640 Support numpy 2.0
  .github/workflows/full-test-with-codecov.yml
  pyproject.toml
  src/spikeinterface/core/waveform_tools.py
Labels: packaging

#3639 Force latest hdmf-zarr version
  pyproject.toml
Labels: packaging

#3641 Dev Doc touchup
  doc/development/development.rst
Labels: documentation

#3643 np 2.0 compatibility
  src/spikeinterface/sorters/external/kilosort.py
  src/spikeinterface/sorters/external/kilosortbase.py
Labels: sorters

#3644 Pin pyedflib version after breaking change in annotations
  pyproject.toml
Labels: extractors

#3648 Use process as default in global job kwargs
  src/spikeinterface/core/globals.py
  src/spikeinterface/core/tests/test_globals.py
Labels: core

#3652 Use SpikeInterface-ported pre-trained models in doc
  examples/tutorials/curation/plot_1_automated_curation.py
Labels: documentation

#3659 Multi segment handling in ensure_time_bins
  src/spikeinterface/sortingcomponents/motion/motion_utils.py
  src/spikeinterface/sortingcomponents/motion/tests/test_motion_interpolation.py
Labels: motion correction

#3478 Only load `template_metrics` extension on compute if keeping some metrics
  src/spikeinterface/core/sortinganalyzer.py
  src/spikeinterface/postprocessing/template_metrics.py
Labels: postprocessing
