Repository SpikeInterface/spikeinterface, pull requests merged in 2025-04, with the labels that each got.

#3748 Fitting scaling factors in waveform/template plots for irregular probe layouts
  src/spikeinterface/widgets/unit_waveforms.py
Labels: widgets

#3800 Update floor of `setuptools` for metadata
  pyproject.toml
Labels: packaging

#3811 Switch `print` to `warnings.warn`
  src/spikeinterface/exporters/report.py
  src/spikeinterface/sorters/container_tools.py
Labels: documentation

#3795 Cleanup imports and use `importlib.util.find_spec` rather than try-except
  src/spikeinterface/comparison/collision.py
  src/spikeinterface/comparison/correlogram.py
  src/spikeinterface/core/baserecordingsnippets.py
  src/spikeinterface/core/frameslicerecording.py
  src/spikeinterface/core/frameslicesorting.py
  src/spikeinterface/core/npyfoldersnippets.py
  src/spikeinterface/core/snippets_tools.py
  src/spikeinterface/core/template_tools.py
  src/spikeinterface/core/testing.py
  src/spikeinterface/core/unitsaggregationsorting.py
  src/spikeinterface/core/waveform_tools.py
  src/spikeinterface/sorters/external/combinato.py
  src/spikeinterface/sorters/external/herdingspikes.py
  src/spikeinterface/sorters/external/kilosort4.py
  src/spikeinterface/sorters/external/klusta.py
  src/spikeinterface/sorters/external/mountainsort4.py
  src/spikeinterface/sorters/external/mountainsort5.py
  src/spikeinterface/sorters/external/pykilosort.py
  src/spikeinterface/sorters/external/spyking_circus.py
  src/spikeinterface/sorters/external/tridesclous.py
  src/spikeinterface/sorters/external/yass.py
  src/spikeinterface/widgets/traces.py
  src/spikeinterface/widgets/unit_depths.py
  src/spikeinterface/widgets/unit_locations.py
  src/spikeinterface/widgets/unit_probe_map.py
Labels: packaging

#3797 Switch `numba` check to `importlib.util.find_spec`
  src/spikeinterface/core/sorting_tools.py
  src/spikeinterface/postprocessing/alignsorting.py
  src/spikeinterface/postprocessing/correlograms.py
  src/spikeinterface/postprocessing/isi.py
  src/spikeinterface/postprocessing/localization_tools.py
  src/spikeinterface/postprocessing/spike_locations.py
  src/spikeinterface/postprocessing/template_similarity.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
  src/spikeinterface/sortingcomponents/matching/tdc.py
  src/spikeinterface/sortingcomponents/peak_detection.py
Labels: packaging

#3747 Re-enable n_jobs in multi-comparison
  src/spikeinterface/comparison/basecomparison.py
  src/spikeinterface/comparison/multicomparisons.py
  src/spikeinterface/comparison/paircomparisons.py
  src/spikeinterface/comparison/tests/test_multisortingcomparison.py
Labels: comparison

#3765 Add levels to plot benchmarks
  src/spikeinterface/benchmark/benchmark_base.py
  src/spikeinterface/benchmark/benchmark_motion_estimation.py
  src/spikeinterface/benchmark/benchmark_peak_localization.py
  src/spikeinterface/benchmark/benchmark_plot_tools.py
  src/spikeinterface/benchmark/benchmark_sorter.py
  src/spikeinterface/benchmark/benchmark_tools.py
  src/spikeinterface/benchmark/tests/test_benchmark_sorter.py
Labels: benchmarks

#3820 Prevent error of trying to delete non-existent variable in sorting components
  src/spikeinterface/sortingcomponents/clustering/clustering_tools.py
Labels: bug, sortingcomponents

#3827 Plot components
  src/spikeinterface/benchmark/benchmark_peak_detection.py
  src/spikeinterface/benchmark/benchmark_plot_tools.py
Labels: benchmarks

#3829 BUG FIX: ensure matching of args in aggregate_channels and ChannelAggregationRecording
  src/spikeinterface/core/channelsaggregationrecording.py
  src/spikeinterface/core/tests/test_loading.py
Labels: bug, core

#3834 Function to estimate templates from svd
  src/spikeinterface/sortingcomponents/clustering/tools.py
  src/spikeinterface/sortingcomponents/tests/test_clustering.py
Labels: enhancement, sortingcomponents

#3836 Minor improvements to extract_peak_svd
  src/spikeinterface/sortingcomponents/clustering/peak_svd.py
Labels: enhancement, sortingcomponents

#3714 Graph tools
  src/spikeinterface/sortingcomponents/clustering/graph_clustering.py
  src/spikeinterface/sortingcomponents/clustering/graph_tools.py
  src/spikeinterface/sortingcomponents/clustering/method_list.py
  src/spikeinterface/sortingcomponents/matching/tdc.py
  src/spikeinterface/sortingcomponents/tests/test_clustering.py
Labels: sortingcomponents

#3845 pin numcodecs
  pyproject.toml
Labels: dependencies

#3839 Backwards compatibility for sync stream in OpenEphysBinary
  src/spikeinterface/extractors/neoextractors/openephys.py
Labels: extractors

#3855 Add docs for custom plotting and change default `limits` in `UnitLocationsWidget`
  doc/how_to/customize_a_plot.rst
  doc/how_to/customize_a_plot_files/customize_a_plot_4_1.png
  doc/how_to/customize_a_plot_files/customize_a_plot_6_1.png
  doc/how_to/customize_a_plot_files/customize_a_plot_8_1.png
  doc/how_to/index.rst
  examples/how_to/README.md
  examples/how_to/customize_a_plot.py
  src/spikeinterface/widgets/unit_locations.py
  src/spikeinterface/widgets/widget_list.py
Labels: widgets

#3863 Pickle fix for the IBL recording
  src/spikeinterface/extractors/iblextractors.py
Labels: bug, extractors

#3847 Returned svd
  src/spikeinterface/sorters/internal/spyking_circus2.py
  src/spikeinterface/sortingcomponents/clustering/circus.py
  src/spikeinterface/sortingcomponents/clustering/graph_clustering.py
  src/spikeinterface/sortingcomponents/clustering/graph_tools.py
  src/spikeinterface/sortingcomponents/clustering/tools.py
  src/spikeinterface/sortingcomponents/matching/circus.py
Labels: enhancement, sortingcomponents

#3867 Propagate job_kwargs to noise_levels
  src/spikeinterface/core/analyzer_extension_core.py
Labels: core

#3852 Updated KilosortBase's channel map generation to support json probe maps with kcoord information.
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#3793 Add how to make a release notes
  doc/development/development.rst
Labels: documentation

#3833 Add del dunder to binary recording
  src/spikeinterface/core/binaryrecordingextractor.py
  src/spikeinterface/preprocessing/preprocessinglist.py
Labels: core

#3872 Update KS4 wrapper for versions 4.0.31+
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#3874 cleanup pyproject--remove duplicate from testing section
  pyproject.toml
Labels: packaging

#3877 Change datalad installation in the CI for linux
  .github/workflows/all-tests.yml
Labels: continuous integration

#3843 BlackrockSortingExtractor - load only .nev files, ignore nsX
  src/spikeinterface/extractors/neoextractors/blackrock.py
Labels: NEO, extractors

#3849 WhiteMatterRecordingExtractor
  doc/api.rst
  src/spikeinterface/extractors/extractorlist.py
  src/spikeinterface/extractors/tests/test_whitematterrecordingextractor.py
  src/spikeinterface/extractors/whitematterrecordingextractor.py
Labels: extractors

#3878 Update git-annex install in codecov tests
  .github/actions/build-test-environment/action.yml
Labels: continuous integration

#3871 Cleanup base sorting extractor
  src/spikeinterface/core/base.py
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/baserecordingsnippets.py
  src/spikeinterface/core/basesorting.py
  src/spikeinterface/core/tests/test_basesorting.py
  src/spikeinterface/core/zarrextractors.py
  src/spikeinterface/extractors/tridesclousextractors.py
  src/spikeinterface/postprocessing/tests/test_principal_component.py
Labels: core

#3879 channel names to singular as property
  src/spikeinterface/extractors/neoextractors/neobaseextractor.py
Labels: extractors

#3893 Fix plot traces when t_start is defined
  src/spikeinterface/widgets/motion.py
  src/spikeinterface/widgets/traces.py
Labels: bug, widgets

#3889 Patch for memory usage while matching in SC2
  src/spikeinterface/sortingcomponents/matching/circus.py
Labels: sortingcomponents, sorters
