Repository SpikeInterface/spikeinterface, pull requests merged in 2025-05, with the labels that each got.

#3890 Add numba check to `sd_ratio`
  src/spikeinterface/curation/curation_tools.py
  src/spikeinterface/qualitymetrics/misc_metrics.py
Labels: qualitymetrics

#3900 Fix ks4 tests and support ks4>=4.0.34
  .github/scripts/test_kilosort4_ci.py
  src/spikeinterface/sorters/external/kilosort4.py
Labels: sorters

#3819 allow UnitWaveformsWidget to use probeinterface plot_probe
  src/spikeinterface/widgets/unit_waveforms.py
Labels: widgets

#3892 Skip loading extensions when instantiating benchmarks
  src/spikeinterface/benchmark/benchmark_base.py
  src/spikeinterface/benchmark/benchmark_plot_tools.py
Labels: benchmarks

#3895 Clarify docstrings in neuropixels_utils
  src/spikeinterface/extractors/neoextractors/spikeglx.py
  src/spikeinterface/extractors/neuropixels_utils.py
Labels: documentation

#3905 Refactor `correct_motion` into compute motion, then make interpolation
  doc/how_to/handle_drift.rst
  doc/how_to/handle_drift_files/handle_drift_17_0.png
  doc/how_to/handle_drift_files/handle_drift_17_1.png
  doc/how_to/handle_drift_files/handle_drift_17_2.png
  doc/how_to/handle_drift_files/handle_drift_17_3.png
  doc/how_to/handle_drift_files/handle_drift_17_4.png
  doc/how_to/handle_drift_files/handle_drift_17_5.png
  doc/how_to/handle_drift_files/handle_drift_17_6.png
  doc/how_to/handle_drift_files/handle_drift_19_0.png
  doc/how_to/handle_drift_files/handle_drift_19_1.png
  doc/how_to/handle_drift_files/handle_drift_19_2.png
  doc/how_to/handle_drift_files/handle_drift_19_3.png
  doc/how_to/handle_drift_files/handle_drift_19_4.png
  doc/how_to/handle_drift_files/handle_drift_19_5.png
  doc/how_to/handle_drift_files/handle_drift_21_1.png
  doc/how_to/handle_drift_files/handle_drift_22_0.png
  doc/how_to/handle_drift_files/handle_drift_22_1.png
  doc/how_to/handle_drift_files/handle_drift_22_2.png
  doc/how_to/handle_drift_files/handle_drift_22_3.png
  doc/how_to/handle_drift_files/handle_drift_22_4.png
  doc/how_to/handle_drift_files/handle_drift_22_5.png
  doc/how_to/handle_drift_files/handle_drift_22_6.png
  doc/how_to/handle_drift_files/handle_drift_24_1.png
  examples/how_to/handle_drift.py
  src/spikeinterface/preprocessing/__init__.py
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/preprocessing/tests/test_motion.py
  src/spikeinterface/sortingcomponents/motion/motion_interpolation.py
Labels: motion correction

#3911 Add in missing `get_nvidia_docker_dependencies`
  src/spikeinterface/sorters/runsorter.py
Labels: bug, sorters

#3934 Bug fix: cast corrected motion recording to float
  src/spikeinterface/preprocessing/motion.py
  src/spikeinterface/preprocessing/tests/test_motion.py
Labels: bug, motion correction

#3932 Fix timestamps None in NWBRecordingExtractor
  src/spikeinterface/extractors/nwbextractors.py
Labels: extractors

#3939 Fix recording slicing docstrings and documentation typo
  doc/how_to/combine_recordings.rst
  src/spikeinterface/core/baserecording.py
Labels: documentation

#3940 Fix shift times when `t_start` is None
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/tests/test_time_handling.py
Labels: bug

#3942 Add informative assertions to `slice_time`
  src/spikeinterface/core/baserecording.py
  src/spikeinterface/core/generate.py
  src/spikeinterface/core/tests/test_baserecording.py
Labels: core

#3924 phykilosortextractors.py Phy/Kilosort
  src/spikeinterface/extractors/phykilosortextractors.py
Labels: documentation

#3944 Fix kcoords for non-int groups
  .github/scripts/test_kilosort4_ci.py
  src/spikeinterface/sorters/external/kilosort4.py
Labels: bug, sorters

#3931 Read spikeglx neuropixels data without ap meta
  src/spikeinterface/extractors/neoextractors/spikeglx.py
Labels: extractors
